[2018-12-04 23:27] ghost opened #2 "Design tool"
Is the design tool downloadable so I can run it on desktop ?

Create project btw ! Really huge gamechanger.

[2018-12-05 01:32] nahuelcabrera opened #3 "Incompatibility with Dart 2.1"
Failed to get the Flare dependencies because they do not run with Dart 2.1

[2018-12-05 07:56] mploigt commented on #3
Same here

[2018-12-05 12:34] Kabir121 commented on #2
What is the use of main.old.dart ??

And it is also showing me error on draw

[2018-12-05 14:36] awazgyawali commented on #3
Weird to see this happening, coz it was just announced yesterday.

[2018-12-05 17:53] munukutla commented on #3
@luigi-rosso, any idea why this happens?

[2018-12-05 19:18] munukutla commented on #3
Yeah, even the example project on the repo does the same - it doesn't import `flare` from pub. True, it's a work around, but gets messy once you need to put your project on a CI system.

Hope the guys fix it soon.

[2018-12-05 19:30] luigi-rosso commented on #3
Sorry everyone, we’re still traveling back from London for the next few days so we’re not quite as responsive as we usually are. I will fix this issue tonight, however. Will write back later. Thanks for the excitement in trying this out so quickly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-05 19:39] luigi-rosso commented on #2
Hi @Kabir121, I’ll take a look at this soon and get back to you later today. Thanks for trying this out!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-05 19:57] mdanics opened #4 "Can't Fork other designs on Flare"
I'm trying to fork a design on Flare, it prompts me for a new file name and once it creates the file the workspace is empty.

Using Chrome on MacOS

[2018-12-05 20:03] munukutla commented on #3
@luigi-rosso No issues mate. You’ve done a great job at Flutter Live to be honest. Bonus tolerance for you guys until you fix this.

Looking forward to start using Flare and Nima.

[2018-12-06 00:59] luigi-rosso commented on #3
I think the problem is that everyone is trying to use the "flare" dependency from Dart Pub. This is a bug in our readme. In the excitement we actually forgot to publish a package. We've been referencing the Flare library as a submodule and adding the dependency via a path reference to the your pubspec.yaml. I'm publishing a package now and updating the documentation to reflect the correct package

[2018-12-06 01:17] kimlet commented on #4
same here

[2018-12-06 02:13] mdanics commented on #4
Thanks for looking into this.

Interestingly the preview works, but the editor has no files

[2018-12-06 02:19] luigi-rosso commented on #4
We had a bug that was due to a 1 AM migration the day of the presentation. Classic. Should all be good now. Let me know if you run into further issues and thanks so much for testing this out hot off the press!

[2018-12-06 02:39] mdanics commented on #4
Haha classic. Yeah it works now (although only for new forks), thanks for fixing it quickly!

I've run into an issue with the preview page being blank, but I'll open an issue in the proper repo

[2018-12-06 02:39] #4 closed

[2018-12-06 06:21] Kabir121 commented on #2
Hi Luigi

I have one more question, I can only able to see Filip.flr on mobile and other falre files which are available in assets folder are not working. And sometimes Filip file is not not visible to me on screen.

Screenshot attached ;)
![2picturemessage_gjh5vmfa snq](https://user-images.githubusercontent.com/1772926/49565461-34e4ad80-f94d-11e8-88f3-3d602e4350de.png)

[2018-12-06 20:36] MontiniCristian opened #6 "Error assignment in _lastFrameTime"
Error stack on executing the example similar to the one provided by the readme.md:

I/flutter (16137): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (16137): The following _CompileTimeError was thrown building MyHomePage(state: _MyHomePageState#74088):
I/flutter (16137): 'package:flare_flutter/flare_actor.dart': error: line 188 pos 2

[2018-12-06 20:57] MontiniCristian commented on #6
Sorry, I would not have wanted to mention other issues

[2018-12-07 19:53] #6 closed

[2018-12-07 19:54] luigi-rosso commented on #6
I'll push an update to Dart Pub with this fix soon! Thanks for reporting.

[2018-12-07 20:11] luigi-rosso commented on #3
Closing this, feel free to re-open if you run into any problems.

[2018-12-07 20:11] #3 closed

[2018-12-07 20:21] luigi-rosso commented on #2
Does that happen when hot reloading, fresh start, or both? Could you share the project or is this just the example?

[2018-12-08 07:24] MontiniCristian opened #8 "Multiple assignment errors Int to double"
Same of #6

[2018-12-08 09:06] Kabir121 commented on #2
It is the sample example which I downloaded from github

[2018-12-08 09:43] gedw99 commented on #2
@luigi-rosso Can i get an answer to the original question :) ? KInd of got hijacked by @Kabir121 :)

[2018-12-08 13:02] MontiniCristian commented on #6
@luigi-rosso
You have done a great work with Nima and Flare, Congrats!

Where can I ask for some information about them? I have some issues that I would like to report.

Many thanks

[2018-12-08 14:15] #8 closed

[2018-12-08 14:16] luigi-rosso commented on #2
Sorry forgot to answer :) No, it currently cannot be downloaded. However, we have plans for making it easier to work offline. Currently your work will continue saving if you have a hiccup in your connection, and it will sync up when the connection is working again.

[2018-12-08 14:35] neurowave commented on #6
@MontiniCristian you can report issues here https://github.com/2d-inc/support/issues

[2018-12-09 09:19] kautukkundan opened #10 "Multiple Animations Simultaneously"
On Flare online tool, there's an option of playing multiple animation sets simultaneously. Like you make several animation and hit play button next to each of them. How do we do that in dart?

[2018-12-09 21:03] luigi-rosso commented on #10
This will be a little long! We'll have specific documentation for all of this in the next few weeks. There are a few different ways to do this as well as some background necessary to understand how it works. If you just want to jump into code, take a look at the [penguin example here](https://github.com/2d-inc/Flare-Flutter/blob/09b307c113e2b10c7a7bcc07ca9d2f50aff94cb3/example/penguin_dance/lib/ma

[2018-12-10 15:55] krispypen opened #12 "Weird flickering"
I just tried the Filip demo but it's constantly flickering.

It's only in debug mode, not in release mode.
And I got the problem on a Pixel 2XL and a Samsung S8
I don't have the problem on a Pixel 2 and a Pixel 3

![filip](https://user-images.githubusercontent.com/156955/49743839-ea8c6500-fc9b-11e8-8be3-ce6ee35bf2fb.gif)

[2018-12-10 16:39] luigi-rosso commented on #12
Interesting, I caught this issue last week on a Pixel 2. Similarly, I could only reproduce it in debug mode. I think we'll need to file this one up the chain with the Flutter team. It is interesting that this problem only manifests with this file. I had checked it for degenerate paths/points and couldn't find anything that should be causing this.

[2018-12-12 02:09] koudle opened #13 "The animation of the sample project on Android shows an exception"
## step to reproduce
run example project with Android

## device

1. Android emulator

2. HUAWEI MATE 10（Other devices are not debugged）

![flare](https://user-images.githubusercontent.com/13464904/49842309-f7bd6700-fdf5-11e8-93a1-c213066b84d7.gif)

## exception
Android shows an exception
iOS shows ok

[2018-12-12 02:34] chenjun-110 opened #14 "How to stop animation ?"
`class Pandy extends StatefulWidget {
  @override
  PandyS createState() => PandyS();
}
class PandyS extends State<Pandy> implements FlareController {
  ActorAnimation _rock;
  String animationName = "Untitled";
  int start;
  void initialize(FlutterActorArtboard artboard) {
    _rock = artboard.getAnimation("Untitled");
    artboard.advance(2.0);
    print('initialize');
    start = DateTime.now(

[2018-12-12 06:49] arrowoliver opened #15 "Error while loading animation"
Either the assertion indicates an error in the framework itself, or we should provide substantially
I/flutter (30584): more information in this error message to help you determine and fix the underlying cause.
I/flutter (30584): In either case, please report this assertion by filing a bug on GitHub:
I/flutter (30584):   https://github.com/flutter/flutter/issues/new?template=BUG.md
I/flutter (30584

[2018-12-12 09:52] dhuma1981 commented on #15
Can you please share your code?

[2018-12-12 18:32] sroddy opened #16 "Initializing a FlareActor from different sources"
Right now a `FlareActor` can be initialized only with a path of a file from the rootBundle.
I think it would be really useful to support a few other loading modes (e.g. network, string, bytes, ...)
I saw that the `FlutterActor` is the thing that actually is being loaded async. one possibile approach is to have a constructor with the following signature

[code]

The onCancel function would be usefu

[2018-12-13 02:42] ArtificialPenguins opened #17 "flare botched import of svg"
not sure where i'm supposed to post this.

anyways, this is the flare file after i drag in my svg:
 https://www.2dimensions.com/a/alaricat/files/flare/splash/preview

here is the offending svg: https://www.2dimensions.com/a/alaricat/files/flare/splash/preview

basically, some of it comes through but it's all fucked.

[2018-12-13 16:30] luigi-rosso commented on #17
Thanks for reporting! We have a general support issue tracker for 2dimensions.com here:
https://github.com/2d-inc/support/issues

We've been tracking SVG issues here: https://github.com/2d-inc/support/issues/15

But no need to re-open this, we can track this one here.

Looks like we're not providing the default black fill, and it also looks like we're reading the matrix transform wrong.

 Thanks f

[2018-12-13 16:32] luigi-rosso commented on #16
This is dead one. We definitely want to support more loading paths, we just haven't made a nice API for them yet. The network load is a big one for us as loading directly from your source file on 2Dimensions.com is a feature we plan to support soon.

[2018-12-13 16:36] luigi-rosso commented on #15
Even just a one liner with your FlareActor constructor would suffice!

[2018-12-13 16:38] luigi-rosso commented on #14
Are you trying to pause an animation (stop it from advancing) or do you want to reset all the components to their original properties?

[2018-12-13 16:40] luigi-rosso commented on #13
This is a duplicate of #12. We need to report this up the chain to the Flutter and SKIA team. I'm preparing a submission for that which I hope to send today. Thanks for reporting.

[2018-12-13 16:46] neurowave commented on #2
We are tracking the improved offline experience here: https://github.com/2d-inc/support/issues/151

Should we close this issue and track @Kabir121's issue separately? Or is that closed as well? @luigi-rosso

[2018-12-13 22:44] ArtificialPenguins commented on #17
thank you! i'm using adobe illustrator, if that helps.

[2018-12-14 03:23] #2 closed, assigned to nobody

[2018-12-14 08:37] koudle commented on #13
a duplicate of #12

[2018-12-14 08:37] #13 closed

[2018-12-14 11:43] arrowoliver commented on #15
@dhuma1981
Here is the snippet.
Just Exploring. A couple of others are working with the same code and replacing the name of the file.

Widget _getFlutterLogoAnimation() {
    return Container(
      color: Colors.lightBlueAccent,
      child: Column(
        children: <Widget>[
          Container(
            width: 400.0,
            height: 400.0,
            child: FlareActor(
              "a

[2018-12-15 09:40] blazvantur opened #19 "NoSuchMethodError: The method '[]' was called on null."
Hey.

I'm having trouble parsing my Flare file in the flutter: I get a weird error `The method '[]' was called on null.`

Flutter code:
[code]

Stacktrace:
[code]

Flutter file:
https://www.2dimensions.com/a/bvantur/files/flare/animated-house-2/preview

Also, I have noticed that in preview door doesn't get opened as they get opened inside of a Flare editor. I have tried exporting .flr file as Bina

[2018-12-15 15:57] luigi-rosso commented on #19
Thanks for reporting. I think this was due to an out of sync package on pub. We just published an update.

Make sure you're using the latest flare_flutter (^1.0.3) in your pubspec. You could also pub upgrade flare_flutter.

Let me know if that helps.

[2018-12-15 19:13] blazvantur commented on #19
Thanks for the quick reply. I have tried your suggestion but with no luck. I'm using this (^1.0.3) version and I've also tried to update with pub upgrade but I'm stuck with the same error as before.

You can check the content of animated_house.flr file here: https://jsoneditoronline.org/?id=a3ec501c58264ad1b0149aa6444df17b
Is there maybe some operation that is not supported by flare_flutter packag

[2018-12-16 00:37] luigi-rosso commented on #19
I see it works with the binary version now, it just looks like the json format is broken with the latest build. Please use that while we investigate this further!

![screen shot 2018-12-15 at 4 37 07 pm](https://user-images.githubusercontent.com/454182/50048693-b217cd00-0087-11e9-8f56-d972a05bbef7.png)

[2018-12-20 03:54] HaoliangHsiao opened #21 "Animation not work when you set isPaused value from true to flase"
FlareActor(
            "assets/Penguin.flr",
            alignment: Alignment.center,
            fit: BoxFit.cover,
            animation: "walk",
            isPaused: _isPaused,
          )
Step :
1. set _isPaused = false
2. set _isPaused = true
3. set _isPaused = false

The Animation not running

Reason:
The method updatePlayState() In FlareActorRenderObject
_frameCallbackID must set null aft

[2018-12-21 02:50] luigi-rosso commented on #21
Thanks for reporting this, please try it out with the latest version!

[2018-12-21 14:49] HaoliangHsiao commented on #21
Hi, The issue fixed on 1.0.5, Thanks

[2018-12-21 14:49] #21 closed

[2018-12-21 15:02] HaoliangHsiao opened #22 "The actor is broken"
The Penguin will be broken when I stop "walk" animation by isPaused parameter.
Please help this. Thank you.

<img width="104" alt="2018-12-21 10 51 29" src="https://user-images.githubusercontent.com/5600476/50348192-fc5ee980-0572-11e9-8be7-07e7cff3e5f3.png">

[2018-12-21 16:30] luigi-rosso commented on #22
Are you running the example/penguin_dance app or have you made any modifications to it? Could you share your source, if so?

I don't see this on my side, but I'm curious if you're doing something that's causing the actor to not advance after an update.

[2018-12-21 20:21] kmckinley commented on #22
I'm having the same problem in my project.  I have a simple animation and after I run it one and then update isPaused to true it stops animating, but afterward, when I attempt o update isPaused to false it doesn't start animating again.

[2018-12-21 20:57] kmckinley commented on #22
Update: I went and looked at the penguin example to see if I had the same issue like @HaoliangHsiao  mentioned, but I did not.  I checked the version for flare_flutter and it was using 1.0.5, but my project was on 1.0.4.  I updated my project to 1.0.5 and the issue went away.

[2018-12-21 21:01] luigi-rosso commented on #22
I think this new issue @HaoliangHsiao is facing could be related to https://github.com/flutter/flutter/issues/25426. Try running ```flutter upgrade``` to see if it was related to that issue. Let me know, I can't seem to repro this with any of the examples.

[2018-12-22 02:36] HaoliangHsiao commented on #22
I used your demo code 'Rockin' Penguin' on Pixel 3 Max.

This is my Flutter doctor :
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.1.5-pre.16, on Mac OS X 10.13.6 17G65, locale
    zh-Hant-TW)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 10.1)
[✓] Android Studio (ver

[2018-12-22 02:40] luigi-rosso commented on #22
Thanks @HaoliangHsiao, could you try it in release mode and see if it makes a difference?

[2018-12-22 02:55] HaoliangHsiao commented on #22
I try to uesd v1.1.4, The issue will happen a few times.
[✓] Flutter (Channel master, v1.1.4, on Mac OS X 10.13.6 17G65, locale
    zh-Hant-TW)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 10.1)
[✓] Android Studio (version 3.1)
[✓] Connected device (1 available)
![device-2018-12-22-105528](https://user-images.gi

[2018-12-22 02:58] luigi-rosso commented on #22
I'm curious if it works in release mode as I have a similar issue with a Pixel 2 that corrupts the graphics in debug mode, but works fine in release.

```flutter run --release```

I might need to go pick up a Pixel 3 :-)

[2018-12-22 03:47] luigi-rosso commented on #22
I was able to reproduce this on my Pixel 2, but it's somewhat random, as if you have to stop it on the right frame that somehow causes the problem. It's much clearer in the https://github.com/2d-inc/Flare-Flutter/tree/master/example/simple where it can be seen while the animation is playing.

[2018-12-25 08:01] HaoliangHsiao opened #23 "FlareActor will run when the The RenderBox detach"
FlareActor will be run when FlareActorRenderObject be detach (not dispose). The schedule need to stop when FlareActorRenderObject detach. Thank you.

  @override
  void attach(PipelineOwner owner) {
    super.attach(owner);
    // start schedule
  }

  @override
  void detach() {
    super.detach();
    // stop schedule
  }

[2018-12-26 18:52] luigi-rosso commented on #23
What's the use case/flow you're using that's triggering a detach but not a dispose? I'd like to be able to test this condition.

Is it related to navigation?

[2018-12-26 19:07] luigi-rosso commented on #23
In the meantime I have pushed a fix for this and have updated the package on pub as well. Please let me know the workflow to trigger a test case for this.

[2018-12-27 18:55] lukepighetti opened #24 "How to start animation?"
My animation starts automatically, but I cannot figure out how to start it after it's completed.

[2018-12-27 19:34] rohan20 opened #25 "Flare animation behaves weirdly with Flutter"
[My Flare Project](https://www.2dimensions.com/a/rohantaneja/files/flare/hummingbird/preview)

This project consists of 2 animations, both of which work perfectly on Flare.

![hbfinal1 placeholder](https://user-images.githubusercontent.com/8232573/50492220-b4c6da80-0a16-11e9-97f6-73627d806a6e.gif)
![hbfinal1](https://user-images.githubusercontent.com/8232573/50492221-b4c6da80-0a16-11e9-864a-5dbd9a

[2018-12-27 23:49] luigi-rosso commented on #25
This was a good catch. We were allocating the deform vertex buffer from the keyframe values instead of the original source. So the vertex buffer would always default to the last keyed one.

This should be fixed now and the package has been updated. Please give it a try!

P.S. if you're going to swap between these two animations at runtime, you'll probably want to make sure you set a key for the ve

[2018-12-27 23:58] luigi-rosso commented on #24
I'm assuming this is for a non looping animation, correct?

You're right, we don't have a good way to do this right now unless you use a controller to do your own mixing.

One way to do it right now would be to use the FlareCompletedCallback to set the animation to null when it completes. Then set it back to the animation you want to play when some event occurs.

This doesn't allow you to restart

[2018-12-28 00:57] lukepighetti commented on #24
I've been swapping between `"myAnimation"` and `""`. My use case is that I don't want a looping animation but I want to trigger a play through at any time.

[2018-12-28 18:53] rohan20 commented on #25
Thanks, @luigi-rosso. I understand the post-script and it made real sense. Even though I have upgraded the dependency and added vertices for the disappearing rectangle, it somehow still persists the state of the previous animation. Could you please have a look at the [project](https://www.2dimensions.com/a/rohantaneja/files/flare/hummingbird/preview) and check where I am wrong?

[2018-12-28 19:50] luigi-rosso commented on #25
Sure! Would you mind sharing the source of your example project? It would be nice if we can work off of the same exact codebase. Let me know if not, I can setup a small example that I can share with you.

[2018-12-28 21:07] rohan20 commented on #25
Sure, here it is: https://github.com/rohan20/hummingbird-animation/

[2018-12-28 23:19] luigi-rosso commented on #25
Hi @rohan20! I took a look, and I think this is related to needing to make sure you key properties that you have changed in one animation in any animation you plan on playing after it.

Note how in Placeholder you key the rotation of this third (in your hierarchy) rectangle:
![screen shot 2018-12-28 at 3 09 48 pm](https://user-images.githubusercontent.com/454182/50530499-0de44c00-0ab3-11e9-91fa-3b

[2018-12-29 01:56] rohan20 commented on #25
Fixed! Thank you! I've learnt a lot of things over the course of trying to get this animation right. Works exactly the same on my Flutter project now 😄

[2018-12-29 05:44] gupengcheng commented on #14
how to reset animation or loop animation?

[2019-01-02 02:40] HaoliangHsiao commented on #23
About this issue. This is flutter behavior.
[Pages on Navigator stack rebuild when a new page is pushed#11655](https://github.com/flutter/flutter/issues/11655)
FlareActor will be rebuild after navigator to other page.
For the performance, The developer need to pause the FlareActor when goto other page and resume FlareActor when page back.

This is Penguin demo.
[code]

[2019-01-02 04:45] luigi-rosso commented on #23
Thanks for the example! Are still seeing this issue with the latest Flare-Flutter update?

[2019-01-02 07:47] HaoliangHsiao commented on #23
@luigi-rosso, This issue still happened on Flutter v1.1.4

[2019-01-04 16:57] umberto-sonnino opened #26 "Multiple Paths under a Shape don't invalidate"
If multiple Paths are nested under a single Shape have different keyframed values for each Path, the Shape won't invalidate any of the underlying Paths, and thus won't update.

A simple fix for this would be to add in `ActorNode.update()`:

[code]

[2019-01-04 19:23] umberto-sonnino commented on #26
Here's a zip file containing two files:
-translation.flr is the general case
-translation1.flr is the bug

[test_files.zip](https://github.com/2d-inc/Flare-Flutter/files/2728222/test_files.zip)

[2019-01-05 16:45] positev opened #27 "Flutter not respecting Even-Odd fill rule for intersecting paths"
<img width="1920" alt="screen shot 2019-01-04 at 11 03 15 pm" src="https://user-images.githubusercontent.com/44409350/50726750-0803f180-10d7-11e9-99ae-ee19c2c5d88e.png">
<img width="1920" alt="screen shot 2019-01-04 at 11 03 44 pm" src="https://user-images.githubusercontent.com/44409350/50726751-0803f180-10d7-11e9-8e00-b8138598bdd3.png">

Intersecting paths in a shape with the even odd fill rule a

[2019-01-05 20:06] luigi-rosso commented on #27
Thanks for reporting this! Give version 1.0.9 a try, it should be fixed now.

[2019-01-05 20:07] #25 closed

[2019-01-06 02:08] positev commented on #27
I updated to 1.0.9 but saw no change in flutter

[2019-01-06 14:33] positev commented on #27
interestingly i downloaded a new copy of the flare file and placed it in the animations folder and it suddenly worked.. Thanks!

[2019-01-06 14:33] #27 closed

[2019-01-08 05:16] Positev commented on #24
Could we just wrap the flare Actor widget with a stateful widget, do the refractoring to where the class is still named FlareActor, pass in all the possible variables for FlareActor, and expose a reset method using the ugly solution Luigi offered? so the end user just has to do actor.reset(); ..?

[2019-01-08 09:55] MAHakeem-MK opened #30 "UX suggestion"
How to undo or delete without keyboard.please make flare more tablet friendly.

[2019-01-11 19:52] sergiandreplace opened #31 "Animation not changing when no keyframes"
Hi

I have a Flare file with two  animations: idle and moving. Idle is just a static figure, with no movement.

If in Flutter I change the animation assigned to the actor from moving to idle, nothing happens and it still shows the moving one.

The only way I've found of fixing this was adding "fake" keyframes to the idle animation.

Is this the expected behaviour?

The sample code (dirty one, I wa

[2019-01-11 20:05] luigi-rosso commented on #31
Hi @sergiandreplace! Could you share the link to your Flare file?

I think this might be a case of poor documentation on our side. When Flare (in the editor) swaps from one animation to another, it resets all your properties for every object back to their setup state. At runtime (in Flutter) this does not happen as we allow blending animations on top of each other, so the results from one animatio

[2019-01-11 20:08] luigi-rosso commented on #31
In this case, I suspect you want to key the properties you move in MovingRight in your Idle animation at their setup state. You can do this by adding one keyframe at the start of Idle for each property you change in MovingRight.

In the future we could also explore adding an option to the widget (and the FlareControls controller) to automatically reset the state for you.

[2019-01-11 20:11] sergiandreplace commented on #31
Makes complete sense, that also explains my question on how to "morph" from one animation to another (if I understood correctly, it's just magic 😆 ).

[2019-01-11 20:15] sergiandreplace commented on #31
Here the file: https://www.2dimensions.com/a/sergiandreplace/files/flare/golf-hole/preview

But already added keys to the idle animation (making a quick and dirty flag-wave animation)

[2019-01-11 20:19] luigi-rosso commented on #31
Regarding the morphing, yes, Flare handles that for you! By default the FlareWidget will mix the incoming animation for 0.1 seconds on top of the previous animation (the previous animation will keep playing too so the mix/morph happens as both animations are changing, which works very well for very dynamic animations when transitioning from say a run to a walk cycle). Furthermore, it works with as

[2019-01-11 20:23] sergiandreplace commented on #31
Great! Nice work guys!

[2019-01-11 20:23] #31 closed

[2019-01-19 01:28] yekta opened #32 "Exporting a Certain Part of an Animation & Curved Paths"
There should be an option to export a certain part of an animation, no matter where it starts or ends. Like exporting the part that starts from the 4th second to 6th second. This is needed because it allows making loop animation with complex curves to be much much easier, or rather possible. If you always start exporting from the 1st frame, making loops become much harder, sometimes even impossibl

[2019-01-19 01:33] kevmoo opened #33 "deprecate mat2d.sign - folks should use double.sign instead"
https://github.com/2d-inc/Flare-Flutter/blob/307ee213ed458acba00808c6c9a7144337e29043/flare_dart/lib/math/mat2d.dart#L6-L8

https://api.dartlang.org/stable/2.1.0/dart-core/double/sign.html

[2019-01-19 01:33] luigi-rosso commented on #32
Hi @yekta,

If you set your work area, we'll only export that region. Is this what you are looking for?
![screen shot 2019-01-18 at 5 30 51 pm](https://user-images.githubusercontent.com/454182/51420447-dd8a4d80-1b46-11e9-96d8-2ae9e995471f.png)

We've been talking internally about the path following feature. There are a few ways to do it. We like the After Effects model but we have some more ideas

[2019-01-19 01:35] luigi-rosso commented on #33
Nice, I hadn't seen this was a property. Much cleaner. Thanks!

[2019-01-19 01:35] yekta commented on #32
Thanks for fast reply, setting the work area actually did not work for me, that’s why I was very confused how this is not included since it’s a very necessary feature. Do I need to do something special in Flutter to play that section? Because I tried that before and it didn’t work.

On Sat, Jan 19, 2019 at 4:33 AM, Luigi Rosso <notifications@github.com> wrote:
Hi @yekta [https://github.com/yekta]

[2019-01-19 01:37] kevmoo commented on #33
I've done similar before. "Oh, we have that..."

[2019-01-19 01:40] yekta commented on #32
Thanks for fast reply, setting the work area actually did not work for me, that’s why I was very confused how this is not included since it’s a very necessary feature. Do I need to do something special in Flutter to play that section? Because I tried that before and it didn’t work.
On Sat, Jan 19, 2019 at 4:35 AM, M. Yekta GÜNGÖR <negoryekta@gmail.com> wrote:
Thanks for fast reply, setting the wor

[2019-01-19 01:40] luigi-rosso commented on #33
It's always nice when you do figure it out though, "oh that's smart, and of course I should've seen that..." :D

I referenced the wrong issue (too many issue trackers): https://github.com/2d-inc/Flare-Flutter/commit/7d646bf51865f237668b5bc60af32f02aff9b6ea

[2019-01-19 01:41] luigi-rosso commented on #32
It should just work on its own. Let me do some testing...I think it is something that we updated recently.

[2019-01-19 01:46] luigi-rosso commented on #32
I just tried it out and it seems to be working here. Make sure you have the work area toggled on. If you toggle it off, we'll export the whole animation. If you do have it on, send me a link to your Flare file and I can take a look at what's going on.

[2019-01-19 01:47] yekta commented on #32
Okay I’ll check it out again an report, I tested it like a week ago so maybe something changed in the meanwhile
On Sat, Jan 19, 2019 at 4:46 AM, Luigi Rosso <notifications@github.com> wrote:
I just tried it out and it seems to be working here. Make sure you have the work area toggled on. If you toggle it off, we'll export the whole animation. If you do have it on, send me a link to your Flare file

[2019-01-19 01:49] yekta commented on #32
Loops are still pretty hard to achieve though with complex interpolations, because you can’t save your custom interpolations and apply them to duplicated layer
On Sat, Jan 19, 2019 at 4:46 AM, M. Yekta GÜNGÖR <negoryekta@gmail.com> wrote:
Okay I’ll check it out again an report, I tested it like a week ago so maybe something changed in the meanwhile
On Sat, Jan 19, 2019 at 4:46 AM, Luigi Rosso <not

[2019-01-19 01:51] luigi-rosso commented on #32
We'll be adding presets with the ability to save your own soon, I think that'll help with having a custom set of interpolators. We have a lot do to still, but we more pretty quick :)

[2019-01-19 01:56] neurowave commented on #32
You probably need to re-export your file if it was from a week ago! Good point on the interpolation stuff. We have a plan for it already, but as Luigi said, feel free to send us your specific ideas (if you have them) on the roadmap!

[2019-01-19 02:02] yekta commented on #32
Awesome :) Can you also add the ability to copy paste a layer in the Animate Section? Because all the keyframes that are attached to a layer would transfer that way. Or just the ability to copy paste all keyframes from one layer to another (if it’s possible). This is very helpful in making loops. If you are wondering why I’m so keen on loops, you can check what I’m doing with them here :D https://

[2019-01-19 02:06] kevmoo commented on #33
Careful! That's a breaking change, right? Deprecate? Changelog?

(I do this for a living)

On Fri, Jan 18, 2019, 17:40 Luigi Rosso <notifications@github.com wrote:

[2019-01-19 02:18] luigi-rosso commented on #33
It shouldn't be, but it could be if someone really went out of there way to use that function :) It was intended to be used internally (this was one of the first dart things I wrote). It was one of the first libs I wrote in dart, so yes it shouldn't have been exposed

[2019-01-19 04:16] kevmoo commented on #33
dartdoc will keep you honest :-)

https://pub.dartlang.org/documentation/flare_dart/latest/math_mat2d/math_mat2d-library.html

On Fri, Jan 18, 2019 at 6:18 PM Luigi Rosso <notifications@github.com>
wrote:

[2019-01-19 05:20] luigi-rosso commented on #33
Oh that’s great, more new things :) thanks

[2019-01-19 10:56] yekta commented on #32
Checked, work area in fact worked this time, I should've controlled it one last time before opening the issue :) Thanks for helping.

[2019-01-19 18:44] luigi-rosso commented on #32
Don't worry, it's good you did open this issue! Things move fast (it's one of the nice things about having our platform online). We encourage people to file issues as it helps us better understand what specific use cases need better documentation.

[2019-01-19 18:44] #32 closed

[2019-01-21 10:56] ricsmania opened #34 "Animation to specific frame consuming too much CPU"
I'm creating a progress percentage animation, where I have an animation with a total of 100 frames at 60 FPS, each frame corresponding to 1%, so I want to animate until a specific frame and then stop.

I got this working by doing this:

[code]

It works, but the problem is that even after the animation reaches the frame that I need, it continues running the code at every frame and that is consumin

[2019-01-21 17:31] luigi-rosso commented on #34
Hi @ricsmania, you can return false in the advance function when you are done advancing. We need to document that and also add a way to start it back up, but for now that should allow you to save some CPU cycles :) let me know if that works!

[2019-01-21 18:45] ricsmania commented on #34
Hi @luigi-rosso I'm using a workaround that involves returning false, but I create a timer that sets a variable after 2 seconds, and if that variable is true I return false. I was looking for a good way to detect that the animation has finished without the timer, do you have a suggestion? I thought that checking if the elapsed is >= the duration would do that, but it doesn't seem to work.

[2019-01-21 19:43] umberto-sonnino commented on #34
Hey @ricsmania!

The easiest way to do this is to use a local variable for your animation, and increment it by `elapsed` every time `advance()` is called.

Here's what I mean:

[code]

Another thing you could do is to just set the animation to [not loop in Flare](https://docs.2dimensions.com/support/flare/interface/timeline#timeline-toggle-buttons)

Lastly, if you have any other doubts regarding C

[2019-01-23 19:00] ricsmania commented on #34
Hi @umberto-sonnino, thanks for your help!

Unfortunately it didn't do it for me. I tried using the elapsed time, but the animation always stops a few frames short of finishing. I think it's the mix value that is causing that, but I couldn't find a combination that has a smooth animation and stops on the correct frame.

I also tried counting the frames, but I noticed that it's not always 1:1, beca

[2019-01-23 19:06] luigi-rosso commented on #34
The logic above will actually miss the last apply, try something like this instead and use a full mix value. Is there a reason you were using a mix of .05? That will barely mix the animation in.

[code]

[2019-01-23 19:23] ricsmania commented on #34
@luigi-rosso that seems to work. I have several animations, I tried with the simplest one and it worked. I'll try with the most complex ones, and if it works I'll close the issue.

But now I see that I misunderstood the advance method. On the first code sample I send the widget.progress variable is always the same, so I'm actually always applying the same value. That was kind of trial and error to

[2019-01-24 11:05] ricsmania commented on #34
It worked, now I can stop exactly on the correct frame and stop executing after that. I'm closing the issue. Thanks again!

[2019-01-24 11:05] #34 closed

[2019-01-24 16:01] luigi-rosso commented on #34
You're right, we definitely need better documentation around how applying and mixing animations works.

And yes, you're right the mix operation is cumulative because every frame it interpolates the current values to the next target ones which you are applying. So by keeping the animation running for a long time, you'll eventually get there (or at least very very close). Think of mix as a way to in

[2019-01-31 01:25] madd86 opened #37 "Latest flutter/flare using Teddy example NoSuchMethodError: The method '>' was called on null."
This is the result on both android and ios

![screenshot_1548897686](https://user-images.githubusercontent.com/23120598/52024023-5ba30880-24e6-11e9-962e-7eb05483dea3.png)

[2019-02-01 15:33] ricsmania commented on #37
I also hit this problem and got to fix it with the PR I sent. I noticed that if _trim is null the property isTrimmed returns true, but I believe it should return false in this scenario.

[2019-02-01 18:39] luigi-rosso commented on #37
Thanks for the PR! I did it a tiny bit differently so that we avoid the extra comparison. Thanks to both of you for your contributions! This should be fixed in 1.2.1, please give it a try.

[2019-02-04 09:24] furkantektas opened #39 "FlareActor color parameter is ignored"
Hello,
I created a Flare animation a few months ago : https://www.2dimensions.com/a/tektas/files/flare/literda-logo/preview

I was using this particular animation with `FlareActor`'s color parameter. After updating the latest version (`v1.2.1`), `FlareActor`'s color parameter does not work.
Here is a minimal example which should paint the animation on a yellow background with an **Indigo** color:

[2019-02-04 11:22] luigi-rosso commented on #39
Thanks for reporting this issue, we have fixed this in 1.2.2, please give this a try!

[2019-02-04 11:32] furkantektas commented on #39
Wow! That was fast! 🚀
I tested and it's working now. Thank you for this great platform, plugin, and blazing fast support 👏🏻

[2019-02-04 11:32] #39 closed

[2019-02-04 11:52] ricsmania commented on #37
@luigi-rosso thanks for the prompt solution! About the solution, it's more efficient than mine, and I tested it here and works fine.

[2019-02-04 14:43] ricsmania opened #40 "The getter 'iterator' was called on null"
When creating a FlareActor with one specific animation I get this error: The getter 'iterator' was called on null.

This is the Flare file that causes the problem: https://www.2dimensions.com/a/uxteam/files/flare/progress_circle_v2

And this is the code, it's very simple:

[code]

This is the full error stack:

[code]

[2019-02-04 16:09] ricsmania commented on #40
I created a PR with a suggested solution.

[2019-02-04 19:18] umberto-sonnino commented on #40
Hey @ricsmania thanks so much for the PR, this is another great catch!

We reviewed it, and it happens quite often, in complex rigs, that people use empty nodes as targets. It would be beneficial to save the extra memory and check for the `null`ness of the item before calling the iterator:

[code]

[2019-02-05 11:33] luigi-rosso commented on #40
Thanks for your continued contributions @ricsmania!

[2019-02-05 12:16] ricsmania commented on #40
@umberto-sonnino I updated the PR with your suggestion. I also saw another unchecked part here on actor_node.dart:

[code]

I didn't get any errors there, so I left it alone, but if you think that should also be checked I can add it too.

@luigi-rosso no problem, I'm happy to help!

[2019-02-05 18:18] IzzatZR opened #43 "How to reverse the animation ?"
I want it first display the animation and then do it in reverse, but i have no idea how to accomplish this

[2019-02-06 08:02] luigi-rosso commented on #43
Hi @IzzatZR, one way you could do this right now is by using a custom controller which applies the animation in reverse.

For example, take a look at main.dart in the penguin example:
https://github.com/2d-inc/Flare-Flutter/blob/master/example/penguin_dance/lib/main.dart#L46

You could apply the "music_walk" animation (stored in the ActorAnimation _rock variable) in reverse by changing the apply c

[2019-02-07 20:07] abdlrhmanshehatamoussa opened #44 "How to modify an animation property from Flutter"
I know that you can change some properties for the AnimationActor like the color for example,  but can i change the speed for the moving object from flutter or the path of its motion?

Thanks

[2019-02-12 19:10] vidu171 commented on #40
Hey, I came across this error while I was making an app, is there any solution that i can implement?, Like I tried to delete all the empty nodes from my flare file. But it did not do anything

[2019-02-12 19:21] vidu171 commented on #40
@ricsmania , sorry I am very new to flutter, but if I make the changes from your commit to the actor_node.dart file in my external libraries folder should the solution work?.. again It sounds kind of stupid, sorry

[2019-02-12 19:29] vidu171 commented on #40
@ricsmania ,  thanks a lot your solution worked I would also like to point out that in the `flare.dart` file there is a similar problem and I made the following changes

`if (children != null) {
      for (ActorNode node in children) {
        FlutterPath flutterPath = node as FlutterPath;
        if (flutterPath != null) {
          Mat2D transform = (node as ActorBasePath).pathTransform;

[2019-02-13 01:25] yekta commented on #32
Hey, sorry to bother you like this, I have a question if you don’t mind. How can I easily sync a Flare animation to a Flutter animation? I thought Flare would take a value like slideAnimation.value, slideAnimation being a Animation<double> but that’s not the case. I couldn’t find how to define a simple controller for the flare animation, like a controller that goes from 0 to 1.

On Sat, Jan 19, 20

[2019-02-13 17:23] #40 closed

[2019-02-13 17:34] luigi-rosso commented on #44
Using a controller you can apply an animation more quickly by speeding up the elapsed time. Take a look at https://github.com/2d-inc/Flare-Flutter/blob/d0119507ea6b6099350d14899a212f83cca63a6f/example/penguin_dance/lib/main.dart#L47.

If you wanted to actually manipulate the speed of a single specific object in your animation, you'd have to manipulate the keyframe time/values which is currently no

[2019-02-13 17:39] umberto-sonnino commented on #44
We also have a tutorial on our Flare API, and specifically on how to build custom `FlareController` [over here](https://medium.com/2dimensions/building-a-responsive-house-with-flare-flutter-31af823ba805).

[2019-02-19 20:30] ljsalvatierra opened #45 "type 'FlutterColorFill' is not a subtype of type 'ActorNode' in type cast"
Hi, first I would like to thank you for this amazing project, truly amazing :)
[code]
It happens when i try to transform the visibility of a FlareActor. I set the percent visible with a gesture detector.

[code]

Kind regards,
Luis

[2019-02-25 04:26] datvtwkm opened #46 "Error on installing flare_flutter and flare_dart in examples projects"
<img width="740" alt="screen shot 2019-02-25 at 11 24 13 am" src="https://user-images.githubusercontent.com/29540449/53314278-178e0280-38f0-11e9-9adf-cc2bc78711a8.png">
It's seem that we cannot using a library with a dir path pointed to outside of the project

[2019-03-07 05:09] psovit opened #49 "Flare files randomly lose SVG elements"
We created Flare files from 2Dimensions Flare tool by first importing SVG files and then exporting as `.flr` file.
Files are loaded using the `FlareActor` from Flare-Flutter package in our app.

The issue that we are seeing is that although the files work as expected in first load, on subsequent loading of the same file they randomly lose some of the elements of the SVG file.
No exceptions/warning

[2019-03-07 14:11] RaviKavaiya opened #50 "Latest version - NoSuchMethodError: The method '*' was called on null."
Hello, I am using the latest version of flare_flutter 1.3.0
Reference code : [https://github.com/tarek360/Boring-Star-Animation](url) (all same, but version 1.3.0)
The code works fine out of the box, but when I changed the animation, it displayed, but a still image (not a moving animation)
And, this was the error :

`E/flutter (24934): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Excepti

[2019-03-07 17:23] uggyk opened #51 "Flare is not exporting correctly in Flutter"
Hello.

firstly, this is the flare file https://www.2dimensions.com/a/uggy/files/flare/burgersplash-2/preview
secondly, there is a circle there that for some reason does not show in the preview. and when I export it, and put it in flutter, only two of all objects are shown (the bottom bun, and the top closed bun).

FYI, in the flutter app, it used to work a week ago. perhaps there was an update of

[2019-03-07 17:26] luigi-rosso commented on #51
We did have an update last week, if you exported the file this week, you'll need to update the runtime to the latest package. We're going to get better about detecting this condition and notifying you that you likely need to update the package.

Let me know if that still doesn't work for you, I can do a more in depth investigation with your actual file.

[2019-03-07 17:27] luigi-rosso commented on #50
Thanks for reporting, I'll look into this today and report back.

[2019-03-07 17:34] uggyk commented on #51
I just changed the package to version ^1.3.0, and the error is still there, please investigate further. I wonder if it's the same error with https://github.com/2d-inc/support/issues/148

[2019-03-07 17:37] uggyk commented on #51
fyi, everytime I want to edit the https://www.2dimensions.com/a/uggy/files/flare/burgersplash-2/preview I have to go to the "circle" object and click (tick) on Fill (color) in order for the "circle to appear in the animation and then it would appear.

[2019-03-07 17:41] uggyk commented on #51
this is what shows in the app (for the whole lifetime of the widget). I do have another animation showing and it is working flawlessly.

![screenshot_1551965904](https://user-images.githubusercontent.com/45707311/53977097-b224e780-4121-11e9-938a-e7d070eec3bd.png)

[2019-03-07 17:42] luigi-rosso commented on #51
Thanks, I'll look into this right now. Will report back soon.

[2019-03-07 19:03] luigi-rosso commented on #51
This is what I see right now, could you share your code?

![image-1](https://user-images.githubusercontent.com/454182/53981861-5a0dc700-40c8-11e9-8269-0a4073cb2d0f.jpg)

[2019-03-07 19:06] luigi-rosso commented on #49
Thanks for reporting this, I think #51 is related.

Do you have any example code exhibiting the behavior? In the meantime I'll do some test by manually reloading the file via a button to see if I can repro the issue.

[2019-03-07 19:20] uggyk commented on #51
did the animation work as expected?

import 'package:flare_flutter/flare_actor.dart';

FlareActor("assets/BurgerSplash 2.flr",
animation: "new_splash",
color: Colors.white,
fit: BoxFit.contain,
alignment: Alignment.center),`

 

this is the code that I have used.

[2019-03-07 19:26] luigi-rosso commented on #51
Yes the animation worked correctly, but I was able to break it as in #49 by reloading the file. I've pushed a fix, try package 1.3.1.

[2019-03-07 19:26] luigi-rosso commented on #49
I just pushed package 1.3.1 with a fix, let me know if this solves the issue for you!

[2019-03-07 19:27] luigi-rosso commented on #50
I've just pushed an updated flare_flutter 1.3.1 which should fix this issue. Please try it out and let me know!

[2019-03-07 19:30] luigi-rosso commented on #46
We use the paths to build from the command line for testing the packages as we work on them. IT seems like IntelliJ doesn't like that, you can change the dependency to the latest package on pub (```flare_flutter: ^1.3.1```) or try to open the entire project from a folder higher up in the hierarchy.

[2019-03-07 19:35] uggyk commented on #49
would you kindly send me the .flr file that you exported? even after upgrading I can't seem to make it work.

[2019-03-07 19:37] uggyk commented on #49
I feel like it is not from the flutter_flare package. I think it is from the exporting of the file itself from the 2dimensions flare website.

[2019-03-07 19:39] luigi-rosso commented on #49
The file seems to be fine, the issue was that in some cases the animation from a previously loaded file would be used on the newly loaded file and things wouldn't necessarily align. After changing the package did you call flutter pub get?

[2019-03-07 19:40] luigi-rosso commented on #51
Zip file attached with the flr file I used.

[BurgerSplash 2.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/2942986/BurgerSplash.2.flr.zip)

[2019-03-07 19:42] madtocc opened #52 "Flutter - Android Release version gets a weird output"
Hi, I was testing the flare animation for a few weeks and everything works fine, however when I build my app to a release version for Android some parts of the flare gets scrambled like the image below:
![release](https://user-images.githubusercontent.com/12486417/53984124-6d845680-40f7-11e9-9380-8f7ef0555896.png)

The left column show the image that's rendered the first time I open the app. When

[2019-03-07 19:44] luigi-rosso commented on #52
We had a bug that was just fixed with incorrect animations applied on the current Flare file. Could you try this out with 1.3.1 and let me know if you still see the issue? We just published a few minutes ago!

If you still see the issue, would you mind sharing your source?

[2019-03-07 19:50] uggyk commented on #51
nope, nothing is working. is there any way I could revert back to 11 December version of this?
https://www.2dimensions.com/a/uggy/files/flare/burgersplash/preview

I feel like you are correct. something is off with the package. I changed the color to black (from white). it showed the whole thing but without the animation. with the animation, everything breaks, and back to square one.

[2019-03-07 19:53] uggyk commented on #51
this is the whole code. sorry I had to clean it up.

[code]

[2019-03-07 19:57] madtocc commented on #52
I have updated to the versiob 1.3.1 but the issue remains when I build the release version (build apk release) :( I'll make a simple flutter app to mimic what my app does and I'll post it here soon. Thanks for your quick reply!

[2019-03-07 20:03] uggyk commented on #51
I found the problem. it was the

''' color: Colors.white10 '''

if I remove that line everything works.

[2019-03-07 20:05] luigi-rosso commented on #52
There was an issue like this on a Pixel 2 device if I remember correctly... Any chance you can try the release build on a different device to see if it’s device related?

[2019-03-07 20:09] luigi-rosso commented on #51
Thanks for the code, I will try it out in a few minutes and see why the color value is causing problems...

[2019-03-07 20:50] luigi-rosso commented on #51
I caught the issue with the color override. That should work now too. Version 1.3.2

[2019-03-07 21:30] madtocc commented on #52
Hi, I've tried with 3 different devices and it shows the scrambled flare randomly...
In my app the flare is an icon for a device. Initially it runs the animation loading, when it receives the info from the server it shows an animation (on or off). It is in this second step that it gets messed up.
I made a [simple app](https://github.com/madtocc/flare_test) to try to reproduce but it only scrambles

[2019-03-07 22:49] luigi-rosso commented on #51
Let me know if you can confirm it, then we can close the issue! Thanks again for reporting it.

[2019-03-08 03:55] RaviKavaiya commented on #50
Thanks for the update. I will check it as soon as possible as I get free and report back

[2019-03-08 04:18] RaviKavaiya commented on #50
@luigi-rosso  I tried the same animation with version 1.3.2. No, the problem is **not** resolved.
I wonder that there must be a problem with my animation. What do you say?

[2019-03-08 04:54] psovit commented on #49
Thank you @luigi-rosso for such a quick turn-around. Looks like `flare_flutter: ^1.3.2` has resolved the issue as the images are no longer breaking. Appreciate it!

[2019-03-08 05:49] psovit commented on #49
Looks like the issue hasn't resolved yet as we came across the issue again!

[2019-03-08 06:01] luigi-rosso commented on #49
Shoot! Is it the same workflow? After a second load the image is corrupt, or is the flow different in any way?

[2019-03-08 06:54] uggyk commented on #51
yes it works now, thanks champ!

[2019-03-08 06:54] #51 closed

[2019-03-08 08:15] psovit commented on #49
yep, just navigating across different tab views and coming back to the initial image is crashing the image elements.

[2019-03-08 10:38] umberto-sonnino commented on #50
Hey @RaviKavaiya, we investigated this a bit further and it appears to be a combination of both!
You set your Trim Path keys for the _Check_ shape in your animation, and then you set Trim Path to _Off_ afterwards.
So you can circumvent the issue right now by setting instead to _Sequential_
We're working on a fix in the meantime!

[2019-03-08 11:05] RazaGR commented on #52
I have the same issue on iOS device

[2019-03-08 14:30] madtocc commented on #52
Hi, I have tried a few modifications on my code and it turns out that the opacity widget has something related to this weird assembly of the flare. The flare shows normally after removing the opacity widget. Hope you can investigate why the opacity does it.

[2019-03-08 14:41] RaviKavaiya commented on #50
@umberto-sonnino OK, I set it to _Sequential_ and it works fine.

[2019-03-08 16:58] luigi-rosso commented on #52
Here's a reference to the bug filed with Flutter:
https://github.com/flutter/flutter/issues/25687

I don't think this is something we can mitigate on our side, although we are still trying to. Please upvote the issue on the Flutter repository.

[2019-03-12 10:32] YAPPDEF opened #55 "Clipping not working"
In the Flare editor clipping works fine. In Flutter not anymore (the whole image is displayed and no clipping applied)

We're using `flare_flutter: ^1.3.2`

[2019-03-12 16:02] umberto-sonnino commented on #55
Hey @YAPPDEF!
What are you clipping, exactly? Would you mind sharing your Flare file?

[2019-03-12 16:29] umberto-sonnino commented on #55
We just updated the repo to a `1.3.3`. Let us know if it works now!

[2019-03-12 16:33] umberto-sonnino commented on #49
Hey @psovit could you share the Flare file that's affected?

[2019-03-12 16:33] #50 closed

[2019-03-12 16:34] umberto-sonnino commented on #45
Hey @ljsalvatierra, thanks for the error report! Could you share the affected Flare file?

[2019-03-13 06:43] YAPPDEF commented on #55
Perfect, works just fine. Thank you guys! 🙌

[2019-03-13 07:52] #55 closed

[2019-03-13 08:42] paldrian commented on #16
#48

[2019-03-13 09:16] psovit commented on #49
Hi @umberto-sonnino , the comment section of github issues didn't allow me to upload the Flare files (extension not supported here) so I have created a different repo. It has the files that you are looking for.
`https://github.com/psovit/flare_issue_samples`

[2019-03-13 09:57] umberto-sonnino commented on #49
I've tried setting up something similar to what you mentioned: a TabBar with 3 different views, each with one of the files you shared. Everything seems to be working fine over here, though: all the elements retain their drawables.
Could you share any other detail on your setup?

Also - just to make sure - have you tried running `flutter clean` and `flutter packages get` on the app you're trying to

[2019-03-14 17:01] marcelgarus opened #56 "'ActorNode' is not a subtype of type 'ActorDrawable' in type cast"
Hi!
When trying to run an animation of my Flare file, the following exception is thrown:

[code]

**Steps to reproduce:**
1. Export https://www.2dimensions.com/a/marcelgarus/files/flare/murderers:-logo to a .flr file
2. Include that file into a Flutter app: `FlareActor('images/logo.flr', animation: 'intro')`

**Versions:**
I'm using the newest version of the `flare_flutter` package (1.3.3).
Output

[2019-03-14 19:06] umberto-sonnino commented on #56
Hey @marcelgarus, I couldn't reproduce the issue over here!
Could you share the `.flr` file that's crashing?

[2019-03-14 19:29] marcelgarus commented on #56
Sure. You can find the `.flr` file here: https://github.com/marcelgarus/murderers/blob/dev/app/images/logo.flr

[2019-03-14 21:23] umberto-sonnino commented on #56
It looks like your export contains some mismatched values. We'll be investigating further on why that happened.
In the meantime, if you export again the same animation, you should be able to run it without problems!

[2019-03-14 22:06] marcelgarus commented on #56
You're right, I simply exported it again and it worked :smile:

Kinda strange though... a `git diff` reveals that the only difference between the two files were that some rotations were slightly different (in the 15th decimal place) and some orders changed.
I don't get how that could have broken the Flare interpreter.

Anyhow, I guess this issue can be closed then. Thanks for all your help! :+1:

[2019-03-14 22:06] #56 closed

[2019-03-15 09:49] psovit commented on #49
I am not sure when exactly the issue happens as it happens very randomly. I tried to recreate the issue on a separate project but the issue isn't appearing. Maybe `flutter clean` and `flutter packages get` was what was needed. But I am not sure at this point.

Also, we have cut down on the usage of Flare files. Initially, we had every SVG files (from icons to artworks) exported as Flare files. Now

[2019-03-15 09:49] #49 closed

[2019-03-15 15:05] umberto-sonnino commented on #49
Yes, we're keeping an eye out for this as well, thanks a lot for the reports!

[2019-03-18 17:43] AndreiNikitin opened #57 "Animation is broken"
https://ibb.co/5MVDHjB - unexpected result
https://ibb.co/bvpBV1S - normal result

This problem happens when this animation placed in ListView. But I noticed the corruption like that with other animation that placed in the center of the page. Sometimes it works as expected, but 50 % of time it works unexpectedly

I've tested on several devices - the result is the same
Xiaomi Redmi Note 4  android

[2019-03-21 20:32] jaumard opened #58 "Animation not visible the second time"
Here is a way to reproduce it https://github.com/jaumard/flare_checkbox/tree/bug/noOn/example

Basically my checkbox is calling the animation "On" and "Off", but when it calls "On" we don't see any animation (tested on iOS simulator). Some animation are working, some other not, so you have 2 animations on the repo, one working and the other not.

Let me know what you think guys :) maybe I'm just d

[2019-03-22 13:12] jaumard opened #59 "Show only last frame when widget is created"
I'm checking this https://github.com/2d-inc/Flare-Flutter/blob/master/example/favorite/lib/buttons_row.dart#L51 and I did the same on my flare_checkbox  but for a checkbox you may don't want to animate the state when the widget is show for the first time. For example if state is false, playing the off animation when the widget is shown looks weird. So I'm searching a way to only show the last fram

[2019-03-22 14:58] asjqkkkk opened #60 "When the flare is in the list, the app crashes."
When I put a lot of small size FlareActor animations into a list and scroll, the app is very easy to crash.whether it's on the virtual machine pixel 2 XL (debug) or on my other real device. (release), it is easier to crash on my real device.

Also, when the FlareActor widget is in the list, it is very easy for the image to be misaligned.

#### My English is not very good, all of the above are tran

[2019-03-22 17:02] jaumard commented on #58
It was coming from my animation not the package :) all good ! Thanks !

[2019-03-22 17:02] #58 closed

[2019-03-23 11:38] asjqkkkk commented on #60
After I changed flr to png, the problem has been solved.

The problem mentioned above should be related to the GPU. I guess it should be that a large number of FlareActors are consuming the performance of the GPU. Can any experts help explain this?

[2019-03-25 01:13] luigi-rosso commented on #60
Thanks for filing. Could you provide an example/source? Are you using ListView.builder?

[2019-03-25 01:19] luigi-rosso commented on #59
That's interesting, and a good point! A heavy way to do this right now is using a custom controller.

For ease of use, I think we might be able to introduce an optional isAnimated (defaults to true) argument that might help. When it is false, the last frame of the current animation(s) is directly applied.

[2019-03-25 03:27] luigi-rosso commented on #59
I pushed a branch with an example, it's called snap_to_end: https://github.com/2d-inc/Flare-Flutter/tree/snap_to_end

It includes an [example](https://github.com/2d-inc/Flare-Flutter/tree/snap_to_end/example/checkbox) that implements this (note it doesn't animate when you open the settings page):
![ezgif-1-c0e8e2a09115](https://user-images.githubusercontent.com/454182/54893427-04307180-4e73-11e9-9

[2019-03-25 08:58] billjone opened #61 "image png error!"
when I add a png image ,there is an error.

E/flutter (11979): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: type 'ActorNode' is not a subtype of type 'ActorDrawable' in type cast
E/flutter (11979): #0      KeyFrameDrawOrder.apply (package:flare_dart/animation/keyframe.dart:450:61)
E/flutter (11979): #1      PropertyAnimation.apply (package:flare_dart/animation/actor_animation.

[2019-03-25 09:02] umberto-sonnino commented on #61
Hey @billjone, could you share the file that's crashing?

[2019-03-25 09:40] jaumard commented on #59
Hi @luigi-rosso thanks for this ! from the GIF look like it does the job great ! let me try this !

[2019-03-25 09:59] jaumard commented on #59
Ok just tested in this branch https://github.com/jaumard/flare_checkbox/tree/bug/noOn look like it work !!! but on hot reload I have a glitch, first it show the first frame, and them jump to the last one. Not a big deal if it's just during hot reload but I wanted to report it anyway :)

Thanks ! let me know when it's released ! I'll update my package for my #FlutterCreate ^^

[2019-03-25 10:06] jaumard opened #62 "Loop animation, wait until it finish a lap to start another one"
Hey :) I'm having trouble implementing a feature for flutter_splash_screen, my idea was to make a loop animation `idle` until the initialization of the app is done, then switch to a "finish animation" before pushing the next screen. Problem is that the callback is not called for a loop animation, so I do know when a lap is finished to chain the second animation in a smooth way.

I guess my only wa

[2019-03-25 10:14] billjone commented on #61
thi is the flr file url:   https://www.2dimensions.com/a/billjone/files/flare/new-file/preview

and this is the code of my dart:
 child: new FlareActor("animations/flare.flr", animation: "Untitled"),

[2019-03-25 10:21] billjone commented on #61
@umberto-sonnino  hello
this is the project
https://github.com/billjone/flutter_app2

[2019-03-26 02:03] asjqkkkk commented on #60
@luigi-rosso
Thanks for your reply. I am using ListView.Builder,

Here is the code that was shortened by me.

### ListView.builder

[code]

### Item  (I omitted a lot of code)
[code]

### Preview image (I don't know if you can see it)

**Vertical**

![image](https://blog-pic-1256696029.cos.ap-guangzhou.myqcloud.com/issue/flare_issue/image_one.png)

**Horizontal**

![image](https://blog-pic-1256696

[2019-03-26 02:20] asjqkkkk commented on #62
FlareActor has a FlareCompletedCallback, But this is only valid in non-loop animations.

just like
[code]

But i don't kown how to use FlareController,I hope the official has a simpler example than bear animation

[2019-03-26 02:23] luigi-rosso commented on #62
We can definitely introduce a callback for the loop, but yes the FlareController might be a better way to go for now. There are a few examples of FlareControllers in the example folder here (the penguin uses it and so does the space_reload).

Have you tried simply swapping to your "finish animation" regardless of where the "idle" animation is? This should work as we have a 0.2 second mix value cur

[2019-03-26 02:25] luigi-rosso commented on #60
That's strange, I'll setup a test here with something similar and give it a try. Approximately how many different Flare files are you using?

Do you see the crash on both the emulator and a device?

[2019-03-26 02:35] asjqkkkk commented on #60
There are a total of twelve flr files on the left and six on the right.

It's easier to crash on a real device (release apk), especially if my phone with weak performance has a lower frequency on the emulator.

Below is the crash record collected by the crash collection tool I used. It has probably crashed more than thirty times.

[code]

[2019-03-26 02:39] luigi-rosso commented on #60
Looks like it might be memory related. We will make an example and share it with you. I'll keep you updated here as we investigate.

[2019-03-26 02:44] asjqkkkk commented on #62
Thank you very much, I really like flare ^_^

[2019-03-26 03:09] luigi-rosso commented on #61
This should be fixed in flare_flutter 1.3.5, please update your pubspec.yaml and let us know!

[2019-03-26 03:11] luigi-rosso commented on #59
I published this as 1.3.5, I did see the reload issue but that'll require some more fundamental reworking of FlareActor (which I do want to do) such that it applies changes on the current frame, but that'll take a little more time.

[2019-03-26 06:11] luigi-rosso commented on #62
Alright I put together a simple example here:
https://github.com/luigi-rosso/sequenced_loader

Controller and widget code are coupled together as it was pretty self contained, might be nice to split them up if you want to support other flare files/layouts/etc.
https://github.com/luigi-rosso/sequenced_loader/blob/master/lib/flare_progress_indicator.dart

Flare file is here:
https://www.2dimensions.

[2019-03-26 06:41] asjqkkkk commented on #60
Thank you very much, I will wait for your results.

[2019-03-26 07:39] jaumard commented on #59
Thanks! I let you decide if you want to close the issue or keep it open for this reworking ;)

[2019-03-26 09:16] jaumard commented on #62
Works really nicely @luigi-rosso ! Thanks a lot ! I'll integrate this into flare_spalsh_screen :) it will help me understand better FlareController as for now it's still obscur to me ^^

[2019-03-26 12:59] jaumard commented on #59
flare_checkbox 1.0.1 include snapToEnd now 👌

[2019-03-26 15:25] jaumard commented on #62
flare_splash_screen has been updated to use this ! I also customize it a bit to be able to do intro, loop, complete animation with all animation optional to be able to mix whatever combination we need/want.

I was thinking ok it's great for a splash screen but it can be use for all sort of loading widget in fact ! So  I created flare_loading https://github.com/jaumard/flare_loading that offer the

[2019-03-26 15:25] #62 closed

[2019-03-28 03:39] billjone commented on #61
It's OK.

[2019-03-29 07:45] zhangjunmax opened #63 "Runtime raster images replacement?"
Is Flare-Flutter support runtime raster images replacement(from remote server)?

[2019-04-03 03:26] fernandolop opened #64 "The animation never start"
My flare animation never appears. The screen are blank.

Pubspec:
flare_flutter: ^1.3.6

assets:
 - assets/OpacityLogo.flr

main.dart:
FlareActor("OpacityLogo.flr", alignment:Alignment.center, fit:BoxFit.contain,  animation: "resortesCar"))

Animation: https://www.2dimensions.com/a/Fernando/files/flare/opacitylogo

can anybody help me?

Thanks.
Google translate.

[2019-04-03 07:37] umberto-sonnino commented on #64
Hey fernando, thanks for the report!
I've tested your file on this end, but everything seems to be running as expected.

Could you provide more details of your Flutter widget layout?

[2019-04-03 10:23] fernandolop commented on #64
Hi Umberto:
This is my code:
return Scaffold(
      appBar: AppBar(
        title: Text("Flare Test"),
        centerTitle: true,
      ),
      body: ListView(
        children: <Widget>[
          Container(
            height: 500,
            child: FlareActor("assets/OpacityLogo.flr",
                alignment: Alignment.center,
                fit: BoxFit.contain,
                animation:

[2019-04-03 18:50] #64 closed

[2019-04-04 16:30] kosiara commented on #24
I'm facing a similar issue. I have a "looping" animation:

<img width="296" alt="Screen Shot 2019-04-04 at 6 26 29 PM" src="https://user-images.githubusercontent.com/4531522/55572361-b4ba3300-5707-11e9-9605-34b6b64f65d1.png">

[2019-04-05 19:27] harshalrj25 opened #66 "The app will crash when using flare on android version 8 and 8.1 (Oreo)"
**This seems to be specific to android 8 and 8.1 ie oreo**

I have tried multiple examples, any flare animation after a certain time consumes a lot of memory which results in a crash.

I have checked flutter doctor, then used profiling to track memory usage.

Tested on debugging and release both modes.

The issue still persists, the only workaround is to replace a .flr file with a gif or png.

Bel

[2019-04-07 01:55] luigi-rosso commented on #63
We support swapping visible elements in Flare so you can effectively do this with a well set-up Flare file. Swapping the entire texture atlas is possible at runtime but it requires a little bit of fiddling with the Flutter code, we don't have a nice and easy "swapAllTextures" call.

[2019-04-07 01:57] luigi-rosso commented on #66
Thanks for filing! Would you be able to share the Flare file and/or source code that shows the problem?

[2019-04-07 02:01] luigi-rosso commented on #14
You can use an instance FlareControls as the controller to your FlareActor widget. Take a look at how the Teddy example does this:
https://github.com/2d-inc/Flare-Flutter/blob/cc9354ccb021827ecb5b4da34707e112ecc48e0c/example/teddy/lib/teddy_controller.dart#L129

Essentially:
[code]

[2019-04-07 02:02] luigi-rosso commented on #24
You can use an instance FlareControls as the controller to your FlareActor widget. Take a look at how the Teddy example does this:
https://github.com/2d-inc/Flare-Flutter/blob/cc9354ccb021827ecb5b4da34707e112ecc48e0c/example/teddy/lib/teddy_controller.dart#L129

A more basic version:
[code]

[2019-04-08 05:41] rullyalves opened #67 "Pass dynamic parameters to animations"
can I pass dynamic values as parameters to animations? an example of this is for building performance charts, for example.

[2019-04-08 18:12] madtocc commented on #52
Today I've tried with the latest version of flutter (channel master, v1.4.11-pre.34) and the issue is solved. Thanks!

[2019-04-08 18:12] #52 closed

[2019-04-09 07:07] johnyyhign opened #68 "Animation freezes after navigating using 1.3.7+"
Hello! I have some looped animations on some screens in my app, they work when we enter the screen, but if we `push` another route and then `pop` the animation is frozen.
So it looks like this:
1. SCREEN_WITH_LOOPED_ANIMATION - works
2. `push` another route (with or without an animation, if there is an animation it works fine)
3. `pop` to SCREEN_WITH_LOOPED_ANIMATION - animation doesn't play

I'm

[2019-04-09 11:30] harshalrj25 commented on #66
[flaredemo-master.zip](https://github.com/2d-inc/Flare-Flutter/files/3058675/flaredemo-master.zip)

Shared a demo repo that i downloaded,
If you build and run it on Oreo it will show two button's
Tap on the button named "Build and Fade Out" continuesly for 5-6 times this will trigger the issue.

[2019-04-09 14:34] tdesc opened #69 "FlareActor breaks flutter_driver integration testing"
Having FlareActor in widget tree broke test driver.
https://flutter.dev/docs/cookbook/testing/integration/introduction
https://github.com/flutter/flutter/issues/25975

[2019-04-09 14:34] tdesc opened #70 "FlareActor breaks flutter_driver integration testing"
Having FlareActor in widget tree broke driver. https://github.com/flutter/flutter/issues/25975

[2019-04-09 14:40] #70 closed, assigned to nobody

[2019-04-09 23:01] johnyyhign commented on #68
I've tested previous versions `1.3.6` and `1.3.7` and when came back to `1.3.8` it works, seems like some cache was causing the trouble

[2019-04-09 23:02] johnyyhign commented on #68
I've tested previous versions `1.3.6` and `1.3.7` and when came back to `1.3.8` it works, seems like some cache was causing the trouble, so I'll reopen if it happens again

[2019-04-09 23:07] luigi-rosso commented on #68
Let me know if you run into this again. Definitely sounds suspicious. We did change the render model to use an abstracted render box in the latest version (1.3.8). I'm wondering if you're running into a race condition...

[2019-04-10 09:00] dvlj commented on #52
I've upgraded to channel dev, v1.4.14, issue still exsits!

[2019-04-10 10:00] johnyyhign commented on #68
It happended again after a while, quickly coming back to previous versions didn't fix it, but i haven't cleared anything so just changed the pubspec and tried again.
I'll try to find conditions when exactly this is happening, maybe tomorrow I'll have some time and post here more details. Definitely happens on `master` flutter with `1.3.8`

[2019-04-10 21:22] johnyyhign commented on #68
Okay, I've tested this once again. And it works fine with `1.3.6` and for higher versions it behaves as explained in the first post. Could you comment on this @luigi-rosso ? Do you need any logs that can help?

[2019-04-10 21:25] luigi-rosso commented on #68
I'm going to try to take a look at this today. If you have a source example that shows it clearly, that'd help, otherwise I can try to repro it myself.

[2019-04-10 21:52] johnyyhign commented on #68
Thanks @luigi-rosso I'm not close to my PC now, but just place any looped animation, push and pop another screen and it's frozen, so should be easy to repro within 5mins. Thank you!

[2019-04-11 12:58] bmatheus91 opened #71 "Use multiple ArtBoards"
On Flare online tool i can work using multiple Artboards [my example] in a single file(https://www.2dimensions.com/a/matheus.barros/files/flare/pulsing-button). But how can i use them on Flutter?

I tried following #10 Fundamentals to Flare, but failed to understand how i could use multiple artboards

[2019-04-11 15:48] luigi-rosso commented on #68
Just a quick note on this, I have been looking into it and I can repro the issue. There are a couple conditions that are causing this which are related to performance improvements we made (like not rendering when off screen).  I have a fix but now it has exposed another issue where some widgets will re-attach when they are offscreen, so I'm working through that now. I'll keep you updated here as I

[2019-04-11 16:39] luigi-rosso commented on #68
I think I have this solved now. Please give 1.3.10 a try!

[2019-04-11 16:41] luigi-rosso commented on #69
Thanks for calling this out, could you try with version 1.3.10?

[2019-04-11 16:44] luigi-rosso commented on #71
There isn't a  way to switch the main artboard through Flutter yet. We will support this soon and show some more advanced features like embedding one artboard into another.

What is it that you are trying to do, we can perhaps give you the option to specify the name of the artboard to display in the FlareActor widget.

[2019-04-11 19:04] bmatheus91 commented on #71
I'm trying to change a pulsing button whenever my state changes. This pulsing button changes its SVG Icon, color and Animation.

- Already tried to make one artboard to rule them all. Changing in each animation SVG Icon, Button color and animation. Not very good looking.
- I've seen on Flare manual that you can use one file with multiple artboards so i created a file (current one), with 5 ArtBoard

[2019-04-11 19:24] johnyyhign commented on #68
Seems to be fixed! Thank you so much for fantastic library and quick action!

[2019-04-13 12:59] milosjovac opened #72 "Flutter animation not same as one in the browser"
[Animation export](https://github.com/2d-inc/Flare-Flutter/files/3076185/5.flr2d.zip) - Animation is 'Success'

How it looks in a browser:
![browser](https://user-images.githubusercontent.com/2808506/56079993-d8623500-5dfb-11e9-9094-293c109b6e1e.gif)

On a phone there is no animation at all and green circle is missing:
![image](https://user-images.githubusercontent.com/2808506/56080057-5b838b00-5d

[2019-04-13 16:39] neurowave commented on #72
Hi @milosjovac, can you share your Flare file? Also, are you playing this success animation first, or are you playing another animation first? I wonder if one of your other animations is setting a property at the end that causes your success animation to be hidden.

When mixing animations like this, you need to make sure you reset your keys at the start of your animation for anything that might ge

[2019-04-13 16:45] milosjovac commented on #72
Hi @neurowave, thank you for the response. You can find animation export file in initial comment, but if you prefer link please take a look here https://www.2dimensions.com/a/milosjovac/files/flare/new-file-5 . Animation is shown in following sequence (Idle -> Searching -> Success)

Let me know if you need anything else.

[2019-04-13 16:46] neurowave commented on #72
Yeah the direct file is easier for me to work with! Thanks! I'll take a look and let you know.

[2019-04-13 16:50] neurowave commented on #72
You are setting your "Checkmark" opacity to 0 in the Idle and Searching animations. You need to set the "Checkmark" node's opacity to 1 at the start of the Success animation.

Try it out, it should fix it.

[2019-04-13 17:00] milosjovac commented on #72
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2808506/56082849-399b0000-5e1e-11e9-901c-8638e14599f8.gif)

Works like a charm. Thanks @neurowave!

[2019-04-13 18:05] neurowave commented on #72
Great!

[2019-04-13 18:05] #72 closed

[2019-04-17 16:18] #68 closed

[2019-04-17 16:36] johnyyhign opened #73 "Changing color doesn't work with 1.3.11+"
With `1.3.11` and up, changing the `FlareActor` `color` doesn't work. I can set eg `red` color as a prop and it works, but when changing color with eg `setState` or basically on rebuild, the color isn't updated.

So:
State: `Color _color = Colors.red;`
Build: `FlareActor(color: _color, ...`
Somewhere there is button that has `onPress: () => setState(() => _color = Colors.blue)`

So the actor is st

[2019-04-17 17:01] luigi-rosso commented on #73
As of Flare 1.3.11+ you're required to re-activate the controller. If the controller returns false in its advance method, the FlareActor stops updating. So you can either let the controller advance return true (which will unnecessarily drain performance) or simply re-activate the controller when you change its state.  You can do this as is shown in the example here:
https://github.com/2d-inc/Flare

[2019-04-20 12:49] HElwy opened #74 "Getting an error when trying to implement the teddy bear"
Was trying to implement the teddy bear example into my app, the teddy doesn't appear, and I get an exception whenever I run it, the only difference that I might have is that I added the flare_flutter by adding `flare_flutter: ^1.3.12` to the `pubspec.yaml`

I/flutter ( 4149): The following NoSuchMethodError was thrown during a scheduler callback:
I/flutter ( 4149): The getter 'translation' was cal

[2019-04-20 17:59] luigi-rosso commented on #74
If you're using the source from this repository, make sure you've grabbed the latest example as there were breaking changes in the last two releases. This was a mistake on my part, I published them as patches instead of new version changes.

I just tested with 1.3.12, the latest teddy seems to be working here.

[2019-04-21 18:38] HElwy commented on #74
What i did yesterday was copying the lib and assets directories to a new flutter project, is that the latest example or there is another branch I should be getting the files from? This is my pubspec, if there is anything else I can do to help us troubleshoot I will supply it

 1.0.0+1
environment:
  sdk: ">=2.1.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  flare_f

[2019-04-23 04:03] rahulmanthena opened #75 "Latest Flutter master(Dart 2.3 ??) breaking flare"
Hi

I am getting the following error on latest flutter master branch, my hunch is that this is related the dart 2.3 update. Working fine on Stable channel

Compiler message:
file:///Users/rahul/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.3.13/lib/flare.dart:981:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_d

[2019-04-23 09:06] Zazo032 commented on #75
Locally changing [line 875](https://github.com/2d-inc/Flare-Flutter/blob/master/flare_flutter/lib/flare.dart#L875) to `Uint16List _indices;` and [line 936](https://github.com/2d-inc/Flare-Flutter/blob/master/flare_flutter/lib/flare.dart#L936) to `Uint16List.fromList(triangles);` temporarily solves the issue and allows you to run the app, even though it may not be the best solution (not familiar wi

[2019-04-23 12:37] umberto-sonnino commented on #75
It looks like the latest Flutter master has changed the `Vertices.raw()` constructor type for the indices parameter, but Flutter stable still relies on the old signature.

In the meantime @Zazo032's temporary fix works, but we'll be updating everything asap!

[2019-04-24 06:34] OOMROO opened #76 "How does an element in Flare add a click event and invoke it"
How does an element in Flare add a click event and invoke it

[2019-04-24 08:59] and-david opened #77 "Error: The argument type 'Null Function(FlutterActor)' can't be assigned to the parameter type 'FutureOr<dynamic> Function(Future<FlutterActor>)'"
Error launching application.

Compiler message:
file:///.../flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.4.0/lib/flare_cache_asset.dart:20:59: Error: The argument type 'Null Function(FlutterActor)' can't be assigned to the parameter type 'FutureOr<dynamic> Function(Future<FlutterActor>)'.
 - 'FlutterActor' is from 'package:flare_flutter/flare.dart'
 - 'FutureOr' is from 'dart:async'.

[2019-04-24 09:02] Tennboard opened #78 "Compiler error while building for android"
Hello, i have deleted some .flr files from project which i dont use anymore commited changes to github and then try to build app trough codemagic and it fails on android build with error:

(if i build localy on computer it builds just fine, but trough codemagic CI it breaks...)
[code]

Any ideas why that happens?

[2019-04-24 09:31] grandpa-guru commented on #77
Compiler message:
file:///.../Flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.4.0/lib/flare_cache_asset.dart:20:59: Error: The argument type 'Null Function(FlutterActor)' can't be assigned to the parameter type 'FutureOr<dynamic> Function(Future<FlutterActor>)'.
 - 'FlutterActor' is from 'package:flare_flutter/flare.dart' ('file:///C:/Programs/Flutter/.pub-cache/hosted/pub.dartlang.org/

[2019-04-24 09:45] grandpa-guru commented on #77
Changing Flutter channel to master fixes this problem and introduces the new one: https://github.com/2d-inc/Flare-Flutter/issues/75. After this everything works...

[2019-04-24 10:07] ScrivNetwork commented on #78
same error

[2019-04-24 10:12] Tennboard commented on #77
same error...

[2019-04-24 10:17] BurykinNikolay commented on #77
It worked on stable channel till yesterday. Now fails. Our release deadline under treat (

[2019-04-24 10:20] dukaric1991 commented on #77
We are also on stable channel and it doesnt build. Same error :/

[2019-04-24 12:04] grandpa-guru commented on #78
Duplicate of https://github.com/2d-inc/Flare-Flutter/issues/77.

[2019-04-24 12:26] ZatacaSystems commented on #77
Any news??...

[2019-04-24 12:51] vanelizarov opened #79 "The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'"
Suddenly compiler started showing me this error:

[code]

I'm using only `FlareActor` class and do it like so:
[code]

`flutter doctor`:
[code]

[2019-04-24 13:04] umberto-sonnino commented on #79
This is due to some breaking changes on Flutter's master branch. We had to change the type of the list accordingly.
You're using Flutter's dev channel, so you can either use Flutter master (from the command line: `flutter channel master`), or you can change the type of the list yourself on [this line](https://github.com/2d-inc/Flare-Flutter/blob/7ac63d6407cdc5bbb1203c8215b289e6f952f3b9/flare_flutt

[2019-04-24 13:55] umberto-sonnino commented on #77
This is due to some breaking changes to the current Flutter `master` branch.
As @grandpa-guru said, changing flutter channel to `master` and the type of `_indices` works as a temporary fix.

[2019-04-24 14:42] luigi-rosso commented on #78
We're working through some breaking changes between Flutter stable and master/dev. If you need a build for flutter stable right now, please point your pub to 1.3.13 as follows:

flare_flutter: 1.3.13

Note there's no ^ before the version number.

[2019-04-24 14:42] luigi-rosso commented on #77
We're working through some breaking changes between Flutter stable and master/dev. If you need a build for flutter stable right now, please point your pub to 1.3.13 as follows:

flare_flutter: 1.3.13

Note there's no ^ before the version number.

[2019-04-24 17:08] luigi-rosso commented on #78
We have a new system in place for handling these breaking changes. Please update your pubspec to ```flare_flutter: ^1.5.0``` and take a look at our updated [README](https://github.com/2d-inc/Flare-Flutter/).

[2019-04-24 17:08] luigi-rosso commented on #77
We have a new system in place for handling these breaking changes. Please update your pubspec to ```flare_flutter: ^1.5.0``` and take a look at our updated [README](https://github.com/2d-inc/Flare-Flutter/).

[2019-04-25 00:50] #77 closed

[2019-04-25 07:42] Tennboard commented on #78
Its fixed now with 1.5.0, thanks :)

[2019-04-25 07:42] #78 closed

[2019-04-25 07:59] grandpa-guru commented on #78
@luigi-rosso Also, change the Flutter channel to stable.

[2019-04-25 09:55] soyangel opened #80 "FlareActor flashing last frame when creating dynamically"
Hi,

When creating a FlareActor "dynamically" I'm seeing at the beginning a brief flash of what I guess is the last frame of the animation. This does not happen when using FlareActor in a normal way.

This works:
[code]

This doesn't work:
[code]

I'm using 1.5.0, also happens with 1.3.13.

To replicate just use this Flare: [https://www.2dimensions.com/a/pollux/files/flare/success-check](https://w

[2019-04-25 11:23] vanelizarov commented on #79
@umberto-sonnino cool! Would it be ok if I then submit PR?

[2019-04-25 12:34] umberto-sonnino commented on #79
Hey @vanelizarov, thanks for your contribution, but unfortunately there are some breaking differences between the various Flutter versions, depending on the [channel](https://github.com/flutter/flutter/wiki/Flutter-build-release-channels) you're using: this means that simply changing those types won't fix the issue, because it'll break for somebody else using a different channel.

@luigi-rosso cre

[2019-04-25 12:34] #79 closed

[2019-04-25 15:04] barzansaeedpour opened #82 "teddy looking direction"
teddy's looking direction isn't changing during typing. i'm using flutter 1.2.1 stable and flutter_flare 1.5.0 .
i haven't changed anything.

[2019-04-25 15:26] Nazacheres commented on #80
Got the same issue, also had it on 1.3.12, please any response?

[2019-04-25 17:17] luigi-rosso commented on #80
We'll take a look soon!

[2019-05-01 11:43] magic-coding commented on #75
Is this issue solved?
I try it with Flutter master and flare_flutter: ^1.5.0 but still getting errors:

[code]

[code]

[2019-05-01 11:45] umberto-sonnino commented on #75
We've been making a few updates to the runtime in order to have better support for these changes in the Flutter APIs.
Using this repo's `stable` branch together with Flutter Stable should work!

[2019-05-02 02:26] aliceblock commented on #80
Same here,
But I think it is a cover image.

[2019-05-02 14:57] MaximilianKlein commented on #57
we had similar problems. It seemed like this was a skia-Caching problem https://github.com/flutter/flutter/issues/28227 . Those are mostly fixed (at least for us) since Flutter v. 1.4.* . the only problem we still have are vertical lines are not drawn sometimes.

[2019-05-02 19:47] AndreiNikitin commented on #57
ok. I will try to upgrade flutter and check again. Will get you know these weekends

[2019-05-02 19:47] AndreiNikitin commented on #57
ok. I will try to upgrade flutter and check again. Will get you know these weekends

[2019-05-02 19:47] #57 closed

[2019-05-03 17:16] mdanics commented on #80
Also getting this, makes the whole animation look jagged

[2019-05-04 09:58] raveesh-me opened #83 "[Sigsev][Flare With Flutter]"
`code:`

[code]
`problem:`

App force closes after 4-5 loops of filiph dancing.

`error log`
[code]

[2019-05-04 13:46] ChoLianJiet opened #84 "How to rebuild a FlareActor when changing its animation?"
Hi, I am currently changing the animations of a Minion's flr file which i forked on Flare website.

There's 4 animations provided and i have added 4 buttons to change the same flr file's animation.

However, everytime when i change one animation to another, the Minion seems to stop at the position of the previous animation at the point where i changed the animation by clicking on another button, a

[2019-05-05 03:52] filiph commented on #83
Hi Raveesh, could you please share `flutter doctor` output and also whether the problem appears in both modes (debug vs profile/production)?

[2019-05-05 17:41] luigi-rosso commented on #84
You can achieve what you want without rebuilding the FlareActor. Each animation needs to reset what the other animations change. This has been brought up in a few other issues, we need to do a more comprehensive manual and blog article to help explain this.

The basic concept is that Flare allows animations to be blended together, but to support this the results of a previous animation must propag

[2019-05-05 17:43] luigi-rosso commented on #82
Thanks for reporting this @barzansaeedpour, which teddy example are you using? If it's from this repository, which branch is it?

[2019-05-05 18:00] chu86 commented on #73
Running on 1.5.0 and fill color on basic shapes works for me. What I have been trying to achieve for several hours now: Is there any way to make the color affect gradients? Just overwriting both colors would be fine - I want simple 100 to 0 opacity. Unfortunately the color is simply ignored for all kind of gradient fills :( Any ideas?

[2019-05-06 06:45] ChoLianJiet commented on #84
How do I key the animation to another animation?

[2019-05-06 09:11] optimygmbh opened #85 "Objects outside the ArtBoard are visible"
Is it a setting in Flare or Flutter, that drawing elements only are visible inside the ArtBoard and not outside?

For example I'm having an animation with clouds flying from left to right. They start at left outside the ArtBoard and end right outside of the ArtBoard. But I can see the clouds "waiting" in the Flutter App. And how you can see the sun is visible as well outside the ArtBoard:

<img wi

[2019-05-07 04:50] saulmc commented on #84
+1 for some much-needed documentation on this. We figured it out eventually through trial and error, but finding the offending nodes that need to be keyed remains a major time sink. In some cases we have simply had to give up on blending and created explicit transition animations instead (for instance, keying unused path vertices doesn't seem to reset them after an animation that has explicitly us

[2019-05-07 13:33] prudnikoff commented on #79
Hello! I've changed flutter channel to master, but still got the same issue. http://priscree.ru/img/99a80c98010a28.png

[2019-05-08 00:04] raveesh-me commented on #83
Sure. I'll also try with 1.5 and report

[2019-05-08 01:40] umberto-sonnino commented on #79
Hey @prudnikoff, you can take a look at the [README](https://github.com/2d-inc/Flare-Flutter#flutter-channel) for how to set everything up according to the Flutter Channel you want to use!
In any case, Flutter stable works with this repo's stable branch

[2019-05-08 01:44] umberto-sonnino commented on #84
Hey @saulmc, thanks a lot for your feedback, and if you have any more suggestions, we'd love to hear them!
You can shoot us an email at info@2dimensions.com

[2019-05-08 01:48] umberto-sonnino commented on #85
Did you enable "Clip Contents" for the Artboard in your Flare file?
There's an option for that in the Selection Panel:
![Artboard Clipping](https://i.imgur.com/bp3jpSz.png)

[2019-05-08 03:15] optimygmbh commented on #85
Yes I enabled "Clip Contents" in the Artboard of my Flare file.

Now I thought maybe I overwrite it in Flutter in the Flutter Actor Artboard. But there  clipContents is set to true as well:
<img width="296" alt="image" src="https://user-images.githubusercontent.com/44826660/57346718-36c3ce80-7182-11e9-9bef-b8a1121ba209.png">

This is my Flare file: https://www.2dimensions.com/a/optimygmbh/files/fl

[2019-05-08 10:48] raveesh-me commented on #83
flutter doctor -v

[code]

let me check and get back to you on whether problem still persists after 1.5

[2019-05-08 15:26] miguelcmedeiros commented on #69
@luigi-rosso, I am using version 1.5.0 with Flutter 1.5.4-hotfix.2 and I have similar problem, but with widget tests. I get the following error which seems related to the original issue of this ticket:
[code]

It would be handy to have a way to dispose the animation so that we can couple it with the lifecycle to the (stateful) widget using it. I have little understanding of the internals of flare,

[2019-05-09 02:18] YourksChan opened #86 "flare_flutter-1.5.0 Error"
Compiler message:
file:///Users/yourks/.pub-cache/hosted/pub.flutter-io.cn/flare_flutter-1.5.0/lib/flare.dart:1023:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argument to 'Uint16List'.
        indices: _indice

[2019-05-09 03:03] EliasDeuss commented on #86
getting the same error

[2019-05-09 14:30] bbedward opened #87 "[1.5.0] Animation not rendering correctly on certain devices"
Hi,

I recently started testing our app on a Galaxy J3 Luna Pro, Android 6.0.1, model is SM-S327VL - it's a 32-bit arm device.

Flutter doctor output:
[code]

Some of the animations we've been using in our app are not rendering correctly, here's one example:

![IMG_20190509_095501](https://user-images.githubusercontent.com/550752/57461524-2fb1c480-7245-11e9-8f2d-a15b500c0d96.jpg)

The animation is

[2019-05-09 17:25] AndreiNikitin opened #88 "Animation controller seems to be lost in reorderable list view"
The problem appears if there is FlareActor Widget in the item widget hierarchy and in the dragging process. Looks like controller is lost somewhere, because the animation artboard is reseted to the default and no animation is happening. Or maybe the problem somewhere in my controller code.
Code example:
https://gist.github.com/AndreiNikitin/62f3533e908d5711aa0271866b62014c
The animation, which I u

[2019-05-09 18:23] umberto-sonnino commented on #87
Thanks for reporting, we'll try to look into it.
There was a [Flutter bug](https://github.com/flutter/flutter/issues/25687) reported a while back, that's been fixed since, this might a regression of it.

[2019-05-09 18:27] luigi-rosso commented on #86
This is due to breaking changes in the latest flutter master,  these are not present in stable or 1.5.4, so right now we recommend using Flutter version 1.5.4 and soon we'll supply a custom branch that you can use if you are using a more bleeding edge version Flutter.

[2019-05-09 18:47] luigi-rosso commented on #86
You can point your pubspec to our latest dev if you are using a non-stable version of flutter, this will work for the issue above:
[code]

[2019-05-09 18:48] luigi-rosso commented on #75
Now that these changes have landed in flutter dev, you can use either our master or dev channel if you are using non-stable version of flutter:
[code]

[2019-05-10 13:19] bach942 commented on #87
We are actually having the same issue. This only occurs on Android devices and only when in release mode (I've actually seen this on the emulator also). This started happening when we updated to the latest stable version of flutter (Never try releases during Google I/O).

What I've been able to figure out is that the animation seems to fade out, the large white diamonds (which we don't do in flare

[2019-05-10 16:00] luigi-rosso commented on #87
@bach942 could you post the link to your file on 2dimensions.com? If it's a private file, could you email me a downloaded copy at luigi@2dimensions.com?

[2019-05-10 16:11] bach942 commented on #87
@luigi-rosso I've emailed you the .flr file that we are using.

[2019-05-10 16:44] luigi-rosso commented on #87
Thanks @bach942. Both of the files referenced in the issue are working on the Samsung S8 we're currently testing with (in both debug and release). I'll get my hands on a Nokia 6 a little later today and test there too.

[2019-05-10 17:50] bach942 commented on #87
@luigi-rosso hopefully this helps.. I was able to check our CI pipeline and narrow down when the issue started.. When everything worked we were on version v1.2.1 of flutter. Then 3 days ago v1.5.4-hotfix.2 was pushed to the stable branch and caused the issue to appear.

In our CI we had been downloading and installing 1.2.1 then running flutter upgrade (Which never had a change until then). This w

[2019-05-10 18:26] bach942 commented on #87
@luigi-rosso so I was able to use our current code with current versions of packages. flare_flutter v1.5.0 with flutter stable 1.2.1 and the issue disappeared (Which confirms somehow the latest stable version of flutter 1.5.4-hotfix-2 is causing the issue). I think I'll have to find out now from 1.2.1...1.5.4-hotfix-2 flutter version which caused the issue.

[2019-05-12 00:33] gmlewis opened #90 "JSON reader should be key-order independent"
If the `animations` key within an `artboard` appears before the `nodes` key in the same object, the `flare_flutter` plugin will crash due to the `_collections` container not being populated yet.

The JSON reader should work regardless of key order within any JSON object.

For example, this JSON `.flr` file will crash the reader because the keys are in sorted order (which is the default for writers

[2019-05-13 10:35] Nazacheres commented on #80
Any progress on that one? We just have all flare code commented out cause od that. :(

[2019-05-13 15:48] luigi-rosso commented on #90
Thanks @gmlewis, we are aware of this one. It's a byproduct of the JSON loader being based off of our binary loader, which does have guaranteed order. We have a few ideas in mind for how to fix this.

[2019-05-13 16:02] luigi-rosso commented on #80
We've made numerous updates, please test with dev or master channel of both Flare and Flutter. On master, the latest looks like this:
https://drive.google.com/file/d/17Vst8-y33zMYfx1wSXjYhybsEYe1Gy9l/view?usp=sharing

I believe the flashing has been fixed.

[2019-05-14 01:07] mdanics commented on #86
Running dev still getting this error

[2019-05-14 01:09] luigi-rosso commented on #86
That's odd, it's definitely fixed in dev:
https://github.com/2d-inc/Flare-Flutter/blob/c51192dec50dec034d121f6aad7d2e8733c7e279/flare_flutter/lib/flare.dart#L914

Maybe try calling flutter pub get one more time.

[2019-05-14 01:57] mdanics commented on #86
Tried flutter clean, deleting pub cache still getting the error :(

[2019-05-14 02:11] mdanics commented on #86
fresh install of my repo and it worked, guess there is some caching issue with pub/flutter

[2019-05-14 02:21] mdanics commented on #86
Ah apologies, it looks like the error I am getting is slightly different, the types are swapped. See below

`Error: The argument type 'Uint16List' can't be assigned to the parameter type 'Int32List'.`

[2019-05-14 02:23] luigi-rosso commented on #86
Can you run ```flutter doctor``` and post the results? This change had been rolled into dev a few days ago, I wonder if they reverted it.

[2019-05-14 02:26] mdanics commented on #86
ah, i'm using stable. i'll try with master.

Here's the doctor results

[code]

[2019-05-14 02:34] mdanics commented on #86
Works with master!

[2019-05-14 02:35] mdanics commented on #80
Fixed for me, thank you!

[2019-05-14 02:37] mdanics commented on #80
When do you think we could see these changes on pub?

[2019-05-14 07:22] artrmz commented on #87
I am having the same issue with my Wallet animation - https://www.2dimensions.com/a/artrmz/files/flare/wallet/preview

The body and bills are not visible in release mode on Android. So seems like some rectangles are not rendering properly.

Flutter: 1.5.4-hotfix-2
flare_flutter: 1.5.0

[2019-05-14 17:55] grandpa-guru opened #92 "Flare animations not visible in release/profile build mode"
Hi all,

I'm having a problem where **some** Flare animations are invisible in release or profile mode.

[This one is visible](https://www.2dimensions.com/a/pollux/files/flare/success-check/preview)
[This one is invisible](https://www.2dimensions.com/a/aalibegic/files/flare/slidinsquaresloader/preview)

I really don't know what to do in this situation. Maybe the squares loader animations is wrong

[2019-05-14 18:35] luigi-rosso commented on #92
It's an issue with v1.5.4-hotfix.2, if you upgrade to something newer you'll see it's gone. It's unfortunate that it's the current stable build.

[2019-05-14 18:48] grandpa-guru commented on #92
I tried changing to master channel but there was a breaking change https://github.com/flutter/flutter/issues/31962 and half of my packages are failing to build... any other way?

[2019-05-14 18:51] luigi-rosso commented on #92
There's a breaking change on both dev and master with one of the APIs that Flare uses. Unfortunately we have to keep the version on pub compatible with stable. To use a more bleeding edge version, point your pubspec to our github:

[code]

Just be aware that dev is a moving target, if you want to be keep it compatible with a specific version of master you are on, reference the current dev tree ins

[2019-05-14 18:52] luigi-rosso commented on #92
That'll allow Flare to work with newer Flutter versions, you may need to do something similar for the other packages.

[2019-05-14 19:02] grandpa-guru commented on #92
I got stuck on https://github.com/AndreHaueisen/flushbar/issues/44#issuecomment-485756864. But, why some of the animations are working correctly?

[2019-05-14 19:15] grandpa-guru commented on #92
Changed Flutter channel to master and version 1.5.9, changed the source of the flare_flutter to GitHub instead of pub.dev, fixed errors in other packages, successfully built the app... still no animations.

[2019-05-14 19:19] luigi-rosso commented on #92
That's frustrating, sorry for the trouble. Lots of things changed this week so quite a few of them are still settling.

Are you seeing no animations in release/profile or no animations in debug as well?

[2019-05-14 19:22] grandpa-guru commented on #92
I have two animations side by side. The one your brother [made](https://www.2dimensions.com/a/pollux/files/flare/success-check/preview) and the one I [made](https://www.2dimensions.com/a/aalibegic/files/flare/slidinsquaresloader/preview). When I run my application in the debug mode I can see both animations but in the release/profile mode all I can see is your brother's animation.

[2019-05-14 19:26] luigi-rosso commented on #92
It really sounds like this issue: https://github.com/2d-inc/Flare-Flutter/issues/87

I thought this had been fixed right after hotfix.2, but it sounds like it's still a problem. It sounds like flutter 1.2.1 with flare_flutter 1.5.0 (from pub) should work together. In the meantime I'll make sure we open an issue with the main flutter repository too.

[2019-05-14 22:49] umberto-sonnino commented on #88
Hey @AndreiNikitin, your gist and youtube video don't seem to be accessible, could you make them available so we can take a look?

[2019-05-15 02:57] gmlewis commented on #90
For others running into this issue, I have written a temporary workaround to fix the problem:
https://github.com/gmlewis/lottie2flare/tree/master/cmd/flare-bug-workaround

[2019-05-15 08:17] AndreiNikitin commented on #88
@umberto-sonnino
Check video now.
Here is code example
https://gist.github.com/AndreiNikitin/aac02845b6926255e51b32e99b17c9cc

[2019-05-15 14:49] Fethi1 opened #93 "Flare animation freeze before starts"
when i toggle the animation to start using a button, it freeze for a second before starting

[2019-05-15 15:22] AbdoXLabs opened #94 "Compatibility with Flutter 1.5 and Dart 2.2.0"
`file:///Users/USER/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.0/lib/flare.dart:1028:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argument to 'Uint16List'.
        indices: _indices, textureCoordinate

[2019-05-15 16:03] umberto-sonnino commented on #93
If you could provide more details regarding this we're happy to help!

[2019-05-15 16:08] umberto-sonnino commented on #94
Hey @AbdoXLabs the problem you're seeing has been reported a few times already, and it's related to some breaking changes in the Flutter API.
We're currently providing our users with some different branches that should accomodate everyone's needs.
From what I'm seeing on your error report, you should be able to use either the `master` or `dev` branch to fix your issue.

[2019-05-15 16:09] Fethi1 commented on #93
i fixed it by setting the component's opacity to 0 in the design tab

[2019-05-15 16:09] #93 closed

[2019-05-16 14:37] AbdoXLabs commented on #94
**Thank you @umberto-sonnino  for your answer !**
Can you give me an example of how I can I use the `master` or `dev` branch.
I tried this in my `pubspec.yaml` but it doesn't work:
`flare_flutter:`
  `git:`
      `url: 'https://github.com/2d-inc/Flare-Flutter.git'`
      `path: 'flare_flutter'`

It gives me this error :
`
Invalid description in the "flare_flutter" pubspec on the "flare_dart" depen

[2019-05-16 22:00] umberto-sonnino commented on #94
You should our README's directions. In your `pubspec.yaml`
[code]

[2019-05-17 02:36] JAICHANGPARK commented on #86
I had same problems...
anyone solved this problem?
[code]

[code]

[2019-05-17 15:57] luigi-rosso commented on #86
@JAICHANGPARK please make sure you on the dev channel of flutter. You can do this on the command line by typing:
```flutter channel dev```

We are closing this issue as the problem has been fixed. If you are still seeing this error, please make sure you are using the correct branch with the matching flutter channel. The details are clearly provided in our [README](https://github.com/2d-inc/Flare-F

[2019-05-17 15:57] #86 closed

[2019-05-17 17:09] umberto-sonnino commented on #94
I will also close this issue since the problem as been fixed.
Please refer to the [README](https://github.com/2d-inc/Flare-Flutter/blob/3a6d42f772b8db6d58155081e1f35cecd6f829c1/README.md#flutter-channel) for details.

[2019-05-17 17:09] #94 closed

[2019-05-17 17:14] umberto-sonnino commented on #88
Thanks for the update, but your gist doesn't build, so I can't reproduce the issue. Would you mind providing a full working example?

[2019-05-17 18:55] saulmc commented on #80
I've been using this workaround on pub: set the actor's opacity to 0 in design mode, then key the actor's opacity to 1 at the start of each animation. The "flash" will presumably still occur but it will be invisible.

[2019-05-19 09:48] jaggernod commented on #82
Hey @luigi-rosso, I have also noticed that on a bigger screen (tablet or desktop).

In this screenshot, Teddy is looking to the right despite the caret being on the left:

![Screenshot from 2019-05-19 11 44 17](https://user-images.githubusercontent.com/2519463/57980409-a7dd6e80-7a2b-11e9-8f18-03a4b1af7cd8.png)

For me, this happens when the *Flare World* is not the same as the "Flutter Word".
For

[2019-05-20 17:05] luigi-rosso commented on #82
Good catch, we did accidentally remove setViewTransform! I'm looking into this.

[2019-05-20 18:25] luigi-rosso commented on #82
This should now be fixed on all channels (master, dev, stable).

[2019-05-20 18:32] luigi-rosso commented on #80
The changes are now on pub with version 1.5.1.

[2019-05-21 15:53] annalaufey commented on #92
I'm having the same problem.
I am currently on  Flutter version 1.5.4-hotfix.2 and flare_flutter: ^1.5.0 and my animation is not showing in release mode, only in debug mode.

[2019-05-21 23:10] luigi-rosso commented on #87
Sounds like the Flutter team cannot reproduce this on v1.6.1-pre.80:
https://github.com/flutter/flutter/issues/32708#issuecomment-494586240

Could someone with one of the devices exhibiting this problem give it a try? @artrmz @bach942 @bbedward @grandpa-guru

[2019-05-21 23:58] luigi-rosso commented on #87
Nevermind! They confirmed it's only reproduces on 32bit ARM.

[2019-05-22 13:35] localpcguy commented on #87
I was seeing this on a 64bit ARM device (Pixel 3). I work with @bach942 so it is the same file and code sample that was submitted earlier. cc: @luigi-rosso

[2019-05-22 17:12] AndreiNikitin commented on #88
During creating test project for you I investigated that this behaviour depends on environment sdk version
This bug occurs on
 `environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"`
I changed it to
`
 sdk: ">=2.1.0 <3.0.0"`
And everything works as expected. Thank you for your time

[2019-05-22 18:02] umberto-sonnino commented on #88
No problem, glad this is working!

[2019-05-22 18:02] #88 closed

[2019-05-23 09:41] fengqiangboy opened #95 "FlareActor missing half of the picture"
I have create a flare , it is here: [https://www.2dimensions.com/a/fengqiangboy/files/flare/scan](https://www.2dimensions.com/a/fengqiangboy/files/flare/scan).

it looks like

![image](https://user-images.githubusercontent.com/13598763/58242527-8fe65180-7d81-11e9-9dd0-2b58a8af9753.png)

But when I use it in flutter, it miss half of cycle

![image](https://user-images.githubusercontent.com/13598763

[2019-05-27 13:46] Antoniozinchenko commented on #95
Have the same issue with stroke offset property

[2019-05-30 17:48] cursodroidudemy opened #96 "Error running Teddy sample: The argument type 'Uint16List' can't be assigned to the parameter type 'Int32List'"
Hi,

I have this error after run the teddy example:

`Compiler message:
file:///Users/rlecheta/Desktop/Flare-Flutter-master/flare_flutter/lib/flare.dart:1022:18: Error: The argument type 'Uint16List' can't be assigned to the parameter type 'Int32List'.
 - 'Uint16List' is from 'dart:typed_data'.
 - 'Int32List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argumen

[2019-05-30 18:02] luigi-rosso commented on #96
Hi,

There’s a breaking change between flutter stable and dev/master. If you wish to use flutter stable, please use the corresponding Flare-Flutter stable branch. Our master and dev branches are kept up to date with flutter master and dev.

I suspect you checked out the example from our master branch. If so, either switch to flutter master/dev or checkout Flare-Flutter branch stable.

[2019-05-31 08:13] Vanethos commented on #96
For those having this issue, you can change your `pubspec.yaml` to the following:

[code]

This currently also happens in the `beta`branch

[2019-05-31 08:29] tensor-programming commented on #96
Is it master that is broken?  Seeing this on a custom app build with version `1.5.1` which is the version specified on pub.

[2019-05-31 08:48] #60 closed

[2019-05-31 12:48] umberto-sonnino commented on #96
Unfortunately Flutter has changed their API  between their stable and master/dev channels, but we've updated our runtime to comply with those changes.

Our [README](https://github.com/2d-inc/Flare-Flutter/#flutter-channel) has a compatibility list, so everyone can keep using their Flutter channel, they just need to use the correct branch - that is:
Flutter Stable: Flare-Flutter "stable" branch
Flu

[2019-06-04 11:06] vectorselector opened #97 "Please clarify if Flare itself is open source, if one can run Flare locally, or if Flare is only an online SAAS. I see no option for downloading Flare itself..."
Can anyone please clarify if Flare itself is open source, if one can run Flare locally, or if Flare is only an online SAAS. I see no option for downloading Flare itself...

I understand that Flare runtimes have been built for Flutter, Dart, JS, etc.
I am referring to the designing application itself.

[2019-06-07 09:07] LayYuan opened #98 "[1.5.1] compile error"
First time try to use flare. As in pub.dev suggest to use flare_flutter 1.5.1
But it fail to build.

Compiler message:
file:///Users/macb/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.1/lib/flare.dart:1023:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.

[2019-06-07 12:44] jmeinlschmidt commented on #98
Probably caused by new flutter version. Could be temporarily fixed by downgrading flutter `flutter version <version>`

[2019-06-07 12:45] jmeinlschmidt commented on #98
duplicate [#96](https://github.com/2d-inc/Flare-Flutter/issues/96)

[2019-06-07 13:17] miguelcmedeiros opened #99 "Memory leak during animation (crash on low-end devices)"
With the following sample app and the attached flare animation asset, the memory consumption increases continuously while the animation is running. For older devices like an iPhone 6plus, this will lead to the app crashing due to out-of-memory issue.

In the sample code below, it will not leak (leading to a crash) if I change ```widthFactor``` and ```heightFactor``` to 1.0. With other animation, I

[2019-06-07 16:02] iamyogik opened #100 "Flare animation uses Linear curve on Flutter app, but the original file has a Cubic curve on it."
My original Flare file/animation has a Cubic curve defined for all its animation. But when I export and run the same animation on my Flutter app, it seems to use a Linear curve. I have exported the files multiple times with different changes on it, but no luck.

I have attached both the design file and the exported file in the zip.

Flutter code:
`Scaffold(
      backgroundColor: Colors.white,

[2019-06-08 19:00] echonox commented on #96
@umberto-sonnino I use master channel and still I get this error how come?

[2019-06-08 19:10] luigi-rosso commented on #98
Make sure you use the corresponding flutter channel with the Flare-Flutter branch. Use pub only if you are on flutter stable. It seems like you are on another flutter channel (maybe dev or master).

[2019-06-12 11:05] umberto-sonnino commented on #100
Thanks for your report, we might've caught the issue, and there should be a fix out soon!

[2019-06-12 11:06] #98 closed

[2019-06-12 22:26] luigi-rosso commented on #99
Thanks for reporting this! I'm looking into it. How quickly do you start seeing memory leakage? Have you noticed if it's related to the length/duration of an animation?

The fact that the different dimensions affects it makes me suspect it's an issue Flare is exposing in the Flutter framework. We don't manually cache any of the shapes to images (although we are experimenting this in development br

[2019-06-12 22:42] luigi-rosso commented on #99
I noticed that the "Loader" animation from your example code isn't in the attached Flare file. I do see the ones listed below. Is there one in particular that's giving you problems, or is it all of them?

[code]

[2019-06-13 00:30] luigi-rosso commented on #99
I've set up a simple example with each of the animations I listed above and tested painting them at different dimensions. I haven't been able to discern anything fishy yet. I let each of the looping ones run for ten minutes and did see a small memory increase from the Apple Instruments. From the Observatory, memory usage was steady (no change beyond the boundaries of each of the old/new generation

[2019-06-13 02:17] luigi-rosso commented on #99
Quick update: I've let the looping animation "press bridge" run (at 2x scale) for an hour and thirty minutes. The app fluctuating between 38 and 40 MB when I left. It seems to still be in the same range, still looping and now reports between 39 and 40 MB.

[2019-06-13 10:56] miguelcmedeiros commented on #99
@luigi-rosso, thanks for looking into it.
It seems I attached the wrong for file (although the one attached also showed the issue in our app). I updated the attachment in the description of the issue. Now, you should be able to use 'Loader' animation.

I also tested on some other devices and I could reproduce it with a Pixel 2. This is the respective memory profile:
<img width="1133" alt="Screensh

[2019-06-13 21:51] #100 closed

[2019-06-13 23:04] umberto-sonnino commented on #95
We caught an issue with our trim path logic, and it should be fixed with the latest commit on `master`.
I've tested your file locally and it seems to be rendering the whole path correctly now!

[2019-06-14 00:09] luigi-rosso commented on #99
Your graph looks exactly like another issue we've been working on...we've been working with the Skia team to track a similar issue we have in Flare (the online editor uses a web assembled version of Skia under the hood). It only manifests when you zoom in, which is effectively the same as scaling the width/height factor. Really curious if this is exposing the same issue.

If it's the same issue, i

[2019-06-14 01:25] luigi-rosso commented on #97
The Flare app itself is currently closed source. We've discussed open sourcing it, but it's currently not a viable model for us. We'd love to hear the community's thoughts on it.

[2019-06-14 08:09] miguelcmedeiros commented on #99
It does look similar. Looking forward to from Skia team about this issue.

[2019-06-14 16:42] luigi-rosso commented on #99
Apparently Flutter clears up the unused cache resources after [15 seconds](https://github.com/flutter/engine/search?q=kSkiaCleanupExpiration&unscoped_q=kSkiaCleanupExpiration) of them not being used, which does correspond to the time it took to clear these peaks after reducing the scale:
<img src="https://github.com/luigi-rosso/flare_leak_investigation/raw/master/memory.png"/>

It seems like Flutt

[2019-06-14 16:57] yjoo9317 opened #104 "Infinite rendering object size and a way to know its actual native size"
I've been playing and struggling with flare component for a while.

I am not sure how the size in artboard works.
I thought the size in artboard would matter since it has `fit` property along. But some how but it didn't seem it does.
So I am a bit confused how `fit` property in the actor actually works.
It seems like Flareactor is regarded as flexible widget without any dimension even though it kn

[2019-06-14 18:04] luigi-rosso commented on #104
Hi @yjoo9317,

The FlareActor widget doesn't have any intrinsic size of its own (although we could look into adding that as an option). The fit property is used in combination with the dimensions of the space allotted to the FlareActor. Right now the FlareActor does need to be inside of a sized widget.

So 1. is true, 2. we don't currently provide the intrinsic size but we could modify the FlareAc

[2019-06-14 18:36] yjoo9317 commented on #104
Hi @luigi-rosso
Thanks for the quick response.

So then,
when we have a set of animated icons ranging from small to extra large and if I want to contain them in the right sized container (since flare needs to be in a sized container), then there is no exact way to do that unless we use predefined size constants for those cases.
Since I want to create the flareactor as defined in the artboard, and

[2019-06-14 19:01] luigi-rosso commented on #104
Right now, yes. But we've been thinking of a few different things to help with this. One of them is allowing the artboard size to be used as the intrinsic size of the FlareActor which means you won't have to specify a container, and the other is to allow you to specify the artboard (by name) to use if you have a file with multiple artboards.

[2019-06-14 20:59] yjoo9317 commented on #104
I don't want it to be Q&A session.
But I want to ask you the following. Sorry for that and thank you.
The artboard size can be obtained only after building up the flare actor at least once right?
1) or Is there any way to know the artboard size beforehand so we can use the size during the build?
Right now, I just let it go through build once after that, get the size and set state.

2) Is there any

[2019-06-14 21:10] luigi-rosso commented on #104
No problem, this kind of feedback is really helpful for us. We know we still have a long way to go with improving our documentation/tutorials/etc, and this helps us know what to focus on.

1. The size of the artboard is known as soon as the Flare file is read in. If you take a peak at the lower level flare_dart package you'll see that at the highest level you have an Actor. This is a representatio

[2019-06-14 21:58] yjoo9317 commented on #104
another dumb questions.
1. How exactly I can get an Actor? I couldn't find interface.
2. Since I don't know the answer for #1, Is it separate path beside building FlareActor ?
3. For flare controller,
I noticed that if I reuse the controller, when we show one animation and have same animation on next page as well,  then the animation on the next page shows the last moment of the animation briefly

[2019-06-15 06:00] luigi-rosso commented on #104
1. & 2. Take a look here: https://github.com/2d-inc/Flare-Flutter/blob/14272965f087169d246bf75bd3557d41535eb441/flare_flutter/lib/flare_render_box.dart#L232

This loads a Flare file from an asset bundle. The important lines are the ones below:

[code]

3. That's weird, it should be instantaneous unless for some reason the apply is happening after an advance. Try calling _artboard.advance(0); right

[2019-06-17 15:57] miguelcmedeiros commented on #99
Using the solution mentioned above did not solve the issue (tested on a iPhone 6plus).
Seems like this cache limit in Skia is not related to the issue we observe.

[2019-06-17 17:07] luigi-rosso commented on #99
I've found a device where I can repro this better. On a Nokia 6, using the [flare_leak_investigation](https://github.com/luigi-rosso/flare_leak_investigation) app I see memory at around 100 MB when the app first launches (FractionallySizedBox with scale of 0.25). When I tap the checkbox, scale gets set to 4, and memory jumps to ~640MB. I uncheck it, wait 15 seconds, and it's back to 113MB.

The an

[2019-06-17 18:27] luigi-rosso commented on #99
Here it is in DartDev Tools without ```"Skia.setResourceCacheMaxBytes"```:
![Screen Shot 2019-06-17 at 11 18 58 AM](https://user-images.githubusercontent.com/454182/59626906-e1b89800-90f1-11e9-8675-fec062bf76b8.png)

Here it is using ```SystemChannels.skia.invokeMethod("Skia.setResourceCacheMaxBytes", 104857600);```
![Screen Shot 2019-06-17 at 11 23 07 AM](https://user-images.githubusercontent.com

[2019-06-17 23:33] yjoo9317 commented on #104
Thanks @luigi-rosso
I tried to use FlareCacheAsset to use the actor's artboard and it worked.

One question though, underlying `cachedActor` is async which is a bit tricky to use in `build()`.
Because of that It still needs to run build twice at least.
The first run for getting artboard and the second run for building the flare with size, like the below.
Is there any way to do it one path?
`@overr

[2019-06-18 07:12] MorattelD commented on #80
It seems I get a similar issue using 1.5.1 with flutter v1.5.4-hotfix.2.

The flashing occurs when I use the Hero animation widget. I guess the Hero widget has to create the FlareActor dynamically two times so I get two "flashes"

[Video example
](https://drive.google.com/file/d/11Vbb4_vPczmYFzLT9fk8qjgFgdD_jlFM/view?usp=sharing)
Here is the minimal flutter project to replicate :
[Download](https:

[2019-06-18 15:24] jinfagang opened #105 "The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'. - 'Int32List' is from 'dart:typed_data'. - 'Uint16List' is from 'dart:typed_data'. Try changing the type of the parameter, or casting the argument to 'Uint16List'. indices: _indices, textureCoordinates: _uvBuffer);"
The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argument to 'Uint16List'.
        indices: _indices, textureCoordinates: _uvBuffer);

[2019-06-18 15:52] umberto-sonnino commented on #105
This might be a duplicate of #96 and #98
Have you tried [this](https://github.com/2d-inc/Flare-Flutter/issues/96#issuecomment-497696424) approach?

[2019-06-18 15:56] #105 closed

[2019-06-18 18:57] luigi-rosso commented on #99
@miguelcmedeiros could you give this a try:
https://github.com/luigi-rosso/flare_leak_investigation/blob/a408efc4a6de82ca706e2ad250e10848035c7a59/lib/main.dart#L7-L11

Basically do this in your main function before runApp:
[code]

This ensures that the call to limit cache usage is made after Skia has been initialized. You may want to try using 52428800 if it still crashes with 104857600.

Could yo

[2019-06-19 09:15] MontiniCristian opened #106 "What about support for flare object into native android apps?"
Sorry for asking here but I was wandering if it is in plan to support also Android native apps.
If there is already some kind of support please let me know.

Thanks for the work on Flare, that's a powerful and funny to use tool.

[2019-06-19 19:28] miguelcmedeiros commented on #99
I tried the trick above on a Pixel 2 and got the following memory profile:
<img width="1098" alt="Screenshot 2019-06-19 at 20 59 25" src="https://user-images.githubusercontent.com/31278849/59792799-4a139f00-92d5-11e9-980a-9248a1a67618.png">

The app started, kept at a reasonable level (~ 220 MB total), then I put the app in the background and when I brought it back, the memory started growing agai

[2019-06-19 19:55] luigi-rosso commented on #99
Ah that makes sense that Skia would be re-initialized after returning from background.

It might be a good idea to file an issue on the Flutter repo just to make sure there's a place for others to track this too. I'm not sure what the right approach is for fixing the problem, I think that's for them to decide but I see a few options:

1. Leave it up to the developer to set the correct cache limit

[2019-06-19 22:14] luigi-rosso commented on #106
We've had a handful of these requests so far, so it hasn't been a high priority but please do vote for it on our roadmap here: https://portal.productboard.com/twodimensions/1-roadmap/tabs/1-under-consideration

We're still a small team so we're trying to focus our efforts on improving the tool itself and maintain a relatively small set of runtimes. We do welcome, and would support, the community i

[2019-06-20 18:00] jaumard opened #107 "Flare animation not right in Flutter"
I've made a simple audio wave animation (https://www.2dimensions.com/a/jaumard/files/flare/audiowave).

But once exported and used on my app, it looks weird, only the central stick is visible but the corner radius is wrong, the two other are not visible at all.

here is a quick video:
[flareProblem.mov.zip](https://github.com/2d-inc/Flare-Flutter/files/3311568/flareProblem.mov.zip)

I'm using flut

[2019-06-20 20:29] yjoo9317 commented on #104
Thanks for the help.

[2019-06-20 20:29] #104 closed

[2019-06-20 20:30] luigi-rosso commented on #104
I’ll take a look at you’re other question soon! Sorry I haven’t been able to look yet.

[2019-06-20 21:49] luigi-rosso commented on #104
There might be an opportunity to report back the read size earlier, but it would still likely be async as we try to push the heavy read operation to a separate isolate. It's similar to reading an image, you won't know the size until you've loaded it.

Let me see if there's a way to change FlareActor to use its own intrinsic size.

[2019-06-20 23:14] luigi-rosso commented on #104
@yjoo9317, give this a try:
https://github.com/2d-inc/Flare-Flutter/tree/intrinsic_size_experiment

Point your flare_flutter to the branch intrinsic_size_experiment in your pubspec:
[code]

Then simply tell your FlareActor to use the artboard size:
[code]

[2019-06-20 23:28] yjoo9317 commented on #104
Wow.. will try soon. Thanks.

[2019-06-20 23:35] luigi-rosso commented on #107
Should be fixed in 1.5.2!

[2019-06-20 23:37] luigi-rosso commented on #92
Can the people who were able to reproduce this issue please give it a try on the latest flutter master or dev channel? You'll need to point your pubspec to our flare dev:

[code]

[2019-06-20 23:39] luigi-rosso commented on #97
I'm closing this as I believe the question has been answered, feel free to re-open if you have further questions about this @vectorselector.

[2019-06-20 23:39] #97 closed

[2019-06-20 23:40] luigi-rosso commented on #82
Closing this issue, feel free to re-open if you run into further problems with it.

[2019-06-20 23:40] #82 closed

[2019-06-21 00:00] stx opened #110 "Loading Flare actors in advance"
Hi there,

I'm seeing an empty/blank space load delay when even tiny FlareActor files are loaded and I need them to be visible immediately upon a screen load. Is it possible to preload these assets prior to runApp() or using some other strategy?

Thanks for your great work on Flare!

[2019-06-21 00:09] luigi-rosso commented on #110
Hi @stx, this is how we did it in the developer_quest app:
https://github.com/2d-inc/developer_quest/blob/master/lib/src/widgets/flare/warmup_flare.dart

Basically one file that defines the files you want to preload and exposes a method to do so.

Then in your main you can call this directly before runApp:
[code]

[2019-06-21 00:33] grandpa-guru commented on #92
Confirmed that animations are working in release/profile mode while using `Flutter 1.7.6-pre.41 • channel master` and `flare_flutter git:dev'.

[2019-06-21 00:33] #92 closed

[2019-06-21 01:47] stx commented on #110
@luigi-rosso Brilliant! Thanks so much!

[2019-06-21 01:47] #110 closed

[2019-06-21 01:53] stx commented on #110
I found that you can speed up load times surprisingly significantly by caching the assets in parallel. I'm seeing a ~40% improvement with just a few files.

[code]

[2019-06-21 02:16] luigi-rosso commented on #110
Oh great, thanks! I forgot to mention, you can also tell the cache to not prune:
FlareCache.doesPrune = false;

I wouldn't do this in projects that load an enormous amount of Flare files (or download a lot of them), but if you have small set, this helps keep them in cache.

We've been working on some new features in the embedding branch (which unfortunately isn't compatible yet) which brings down

[2019-06-21 02:20] stx commented on #110
Great! Thanks! What triggers pruning?

[2019-06-21 02:23] luigi-rosso commented on #110
It happens whenever a flare file is no longer referenced. FlareActor will reference count the Flare files it loads:
https://github.com/2d-inc/Flare-Flutter/blob/0230aab0c7802c611085d505ee9ae9988e077558/flare_flutter/lib/flare_render_box.dart#L243

And then dereference them when they are no longer used (widget is detached or source is changed):
https://github.com/2d-inc/Flare-Flutter/blob/0230aab0c

[2019-06-21 06:31] jaumard commented on #107
It's indeed all good in 1.5.2 ! Thanks for the quick fix ! :D

[2019-06-21 06:31] #107 closed

[2019-06-21 10:50] stellarbear commented on #79
True, wanted to make this PR, but already done.

[2019-06-21 15:22] yjoo9317 commented on #104
Looks like I am having a path issue here. Rings any bell? From the other branch, it is just `flare_dart` though. Not with `../` Please let me know if I am missing something before building it.

[code]

[2019-06-21 15:26] luigi-rosso commented on #104
Oh yeah let me fix that up...

[2019-06-21 15:34] luigi-rosso commented on #104
Ok try changing the pubspec to this now:

[code]

That goes to the latest tree in intrinsic_size_experiment which now points to the repo instead of using a relative path.

[2019-06-21 17:23] yjoo9317 commented on #104
@luigi-rosso
It works great!! I really appreciate it. 👍
When it will be going down to dev branch?

[2019-06-22 01:38] #95 closed

[2019-06-23 09:56] MontiniCristian commented on #106
Glad to hear it. Is the cpp version of the Flare runtime stable? Because maybe I'm going to try to envelope the cpp part of it to run on the Android NDK and then bind the calls from a Kotlin abstraction.

Can I take your person as a referring point for asking questions about the flare architecture?

[2019-06-23 17:12] DamienMrtl opened #111 "FlareActor flashing when used with Flutter Hero widget"
When using a FlareActor inside a Flutter Hero (to transition the Actor to a new page for example), we see two "flashes". One when the Hero creates a new Actor to make the transition to destination page and once again when creating the Actor on the destination page at the end of the transition.

[Video of the issue](https://drive.google.com/open?id=1jdX5uxnvuAAEfkrRSV3xOZkAguUz6D0M)

It looks like

[2019-06-24 19:17] AppleEducate commented on #87
I have this same issue but just for Android and just for release mode. Happens on 64-bit devices too

[2019-06-24 19:41] artrmz commented on #87
@AppleEducate It will be fixed once Flutter hits another stable version.

[2019-06-24 20:36] AppleEducate commented on #87
Ok cool 😎

[2019-06-26 07:47] miguelcmedeiros commented on #99
@luigi-rosso, it took me a while to bring this issue to the flutter team, but while doing so, I actually found that there's already an issue for it: https://github.com/flutter/flutter/issues/35038

A fix for it seems to have landed today in flutter/engine. I'll give it a go once it lands in a dev release of the framework.

[2019-06-26 23:52] yjoo9317 opened #112 "After animation sequence ended, the animation went back to previous frame after rebuilding."
Dear, @luigi-rosso

Repro steps.
1. Open the card-like page and wait until the animation icon's sequence ends.
2. Dragging the page around which triggered rebuilding the page
3. Then notice the animation goes back to previous frame after being rebuilt.

Here is the code snippet from the controller's `advance()` and captured images are following.

[code]
1. When checkmark played to the end
<img wid

[2019-06-27 02:21] 8Gitbrix opened #113 "Having difficulty rendering my animation properly"
Here is my animation file: https://www.2dimensions.com/a/8Gitbrix/files/flare/image_button/preview

I'm trying to render an animation on a Card widget when the icon is pressed, but it doesn't look like the 'onPressed' animation I have on my flare file.

Here is my code where I'm selecting an animation when I click on flare actor wrapped inside a gesture detector:

[code]

And just for context, her

[2019-06-27 10:38] JPyke3 opened #114 "Could not find a file named "flare_dart/pubspec.yaml""
Hi all,

Detailed below is the issue.

# Problem
Im having an issue trying to run the dev branch. My problem is that pub cant even find `pubspec.yaml` file. This is the output (I had to redact the name of the flutter project for copyright reasons):

[code]

Interestingly, the code towards the end `8dbfc82bc7f94c721efaeff904b4388d222c7919` looked to me like a commit ID. However, i couldnt find that

[2019-06-27 15:39] dnfield commented on #99
Some changes have landed in Flutter in the last couple days that _should_ help this.

[2019-06-27 15:54] dnfield commented on #99
More specifically, two changes:

1. On iOS, when the system sends a memory pressure event, we'll evict the Skia cache
2. On all platforms, we'll base the cache size on a multiple of the screen resolution, rather than hard coding it to a value that was too large.

[2019-06-28 23:00] yjoo9317 commented on #112
@luigi-rosso,
I figure out the issue (sort of).
I found the followings.
1. Once the controller's `advance()` returns false, it will not run again (i.e., won't call `advance()` again) even after `setState()` has been called.
In order to make it run again (at least make it actor call `advance()` again), I needed set `isActive` value true since I guess having `advance()` return false did set `isActiv

[2019-06-28 23:05] luigi-rosso commented on #112
That does seem strange. It could be a few different things...Any chance you could share the full source or an isolated example so I can take a better look at what's going on?

[2019-06-28 23:22] yjoo9317 commented on #112
Hi,

Here is Flare widget part
[code]

here is controller part

[code]

[2019-07-02 01:11] yjoo9317 commented on #112
Hello, @luigi-rosso
do you have any update on this?

[2019-07-03 14:47] luigi-rosso commented on #114
I wonder if at some point some incorrect reference got cached (like the one from master) and is no longer updating. You should only use master when you check the repository out locally and reference it via the path, as it internally references flare_dart via the path.

I'd try doing a flutter clean and then try changing the ref to the latest commit on dev:

[code]

Edit pubspec.yaml Flare-Flutter

[2019-07-03 14:57] luigi-rosso commented on #113
Hi @8Gitbrix, what's the condition/environment in which it works (like the second picture)?

This could be a few different things including a bug we've been tracking in Flutter stable [seems to only shows up on certain Android devices](https://github.com/2d-inc/Flare-Flutter/issues/92), how the animation is keyed (when mixing animations you need to be sure the [keys are set in all the animations y

[2019-07-03 14:58] luigi-rosso commented on #112
I'll look into this today! Thanks for the code.

[2019-07-03 16:26] luigi-rosso commented on #112
I ran (as best I could) a local implementation of your code but I couldn't reproduce the issue. Could you expand on how you're getting the artboard in your widget? Does it look any different using the ```intrinsic_size_experiment``` (so not having to load the artboard separately)?

Alternatively, could you share a complete example with me (including the Flare file) so I can make sure I'm looking a

[2019-07-03 16:43] luigi-rosso commented on #111
I think the right way to do this is to load the Flare file in the context of the widget that will host the hero. Then you'd need to use a custom LeafRenderWidget (similar to the FlareActor) which displays the Flare file and shares it across the different LeafRenderWidgets.

Flare does use caching internally (and I actually tested your code with a pre-warmed cache with the code below) but the flick

[2019-07-03 17:02] yjoo9317 commented on #112
@luigi-rosso
Thanks for the trials.

I set `isActive = true` in `build()`. If you tried with it, then it wouldn't happen.
If you remove it then it will happen I think.
Here I am not using the intrinsic size you shared before since it wasn't in the dev channel.
When the usingArtboardSize attribute is available in dev channel, I will switch to using it.
(Is it available on dev channel already? Let m

[2019-07-03 17:43] luigi-rosso commented on #111
Alright give this example a try:
https://github.com/luigi-rosso/flare_flutter_shared_artboard

The two pages share the same Flare artboards and controller for the animation so that they can control the same Flare artboard without reloading and across different widgets. Result is no flickering and better animation control!

Notice how the animation gets triggered when the user taps:
https://github.

[2019-07-03 20:13] DamienMrtl commented on #111
Wow thanks for your reply @luigi-rosso . I wasn't asking for so much, now even the animation is working correctly while the Flare is moving 😃 . Thank you so much.

BTW: I first had a "Type" error when building your example.
To make it work I had to cast _indices to Int32List on line 1025 of "flare.dart" maybe because I use Flutter 1.5.4-hotfix.2

[code]

[2019-07-03 20:17] luigi-rosso commented on #111
Oh yes, that's related to breaking changes between dev/master and stable (Flutter 1.5.4-hotfix.2). I'd strongly recommend you use the dev/master Flutter channel as there are other fixes in there that are worth having (like aot compiler bugs that will manifest as invisible shapes on certain device architectures with Flare) and also faster loading as we can perform the whole Flare file load in an is

[2019-07-03 20:21] #111 closed

[2019-07-03 21:45] 8Gitbrix commented on #113
@luigi-rosso
The second picture result only happens if I re-render a new widget wrapping the FlareActor widget. For instance, if I change the outer Container to a different widget or remove it, and reload, then that animation will play. But once I press the button, the animation looks messy.

[2019-07-05 14:33] nitneuq33 opened #117 "translation, offset, random hide issue"
flare version : flare_flutter: ^1.5.2
Here is two simple translation example where I have problems...
I use`

` new FlareActor("assets/flare_test.flr", alignment:Alignment.center, fit:BoxFit.contain, animation:"1" , controller:controls,`
`
to lanch flare animation

I init  ` final FlareControls controls = FlareControls();
`

I control with

[code]

I use name key 1 and 2 to change animation.
On fl

[2019-07-05 15:03] nitneuq33 commented on #84
Same observation, any solutions ?

[2019-07-05 15:32] nitneuq33 commented on #84
I don't know why mignon doesn't work https://www.2dimensions.com/a/kautuk/files/flare/bob-minion while  teddy works correctly https://www.2dimensions.com/a/JuanCarlos/files/flare/teddy/preview.  I don't understand :" Each animation needs to reset what the other animations change."

[2019-07-06 14:43] barfomellow opened #118 "Issues when trying to load my animation"
I have an error  when using FlareActor. Unhandled exception  in FlutterActorShape.initializeGraphics
It's only one of the files have this problem, other ones are loading good. Any idea what can be the problem? I have this error even when removing  all animations from the file.
Im using   flare_flutter: ^1.5.2

Container(
        width: MediaQuery.of(context).size.width,
        height: 100,

[2019-07-06 17:23] nitneuq33 commented on #118
same issue, I have a previous project who work great and today I would try to rework this projet, and when I load the modify project I have the same issue ... So I back up to return to the working project but, now I can't do work this project ...

[2019-07-06 17:26] luigi-rosso commented on #118
I see the problem. Odd that it wasn't giving you problems before, did you update the Flare file at all or is this with the same exact Flare files? I'll have a fix soon.

[2019-07-06 17:59] nitneuq33 commented on #118
It's the same file.Just rework=>try=>fail=>backup. Only change is version
package I've update between last work and my test today.

Le sam. 6 juil. 2019 à 19:26, Luigi Rosso <notifications@github.com> a
écrit :

[2019-07-06 18:14] luigi-rosso commented on #118
I've published a new version to pub. Could you try version 1.5.3 and let me know if it fixes it for you?
[code]

[2019-07-06 18:20] nitneuq33 commented on #118
It's ok, thank you :)

Le sam. 6 juil. 2019 à 20:14, Luigi Rosso <notifications@github.com> a
écrit :

[2019-07-08 13:58] barfomellow commented on #118
Thank you, I will try the new version !

[2019-07-08 15:21] luigi-rosso commented on #118
Great, I'm closing the issue for now, feel free to re-open if you still see a problem here.

[2019-07-08 15:21] #118 closed

[2019-07-09 07:55] truongsinh commented on #75
`1.7.8-hotfix.2` is now `stable`, we need to fix this in the stable version of flare as well

[2019-07-09 13:10] luigi-rosso commented on #75
We already updated flare_flutter for this yesterday! Please update your flare_flutter dependency in pubspec.yaml to ^1.5.4 and rub pub get.

[2019-07-09 21:36] laxxxguy commented on #14
have you solved the case? I am trying to switch rotation animation to idle animation. It stops but rotation does not reset. any ideas?

[2019-07-10 00:12] luigi-rosso commented on #14
This is due to one of the most powerful features of Flare: it allows for animation mixing at indeterminate times.

If you are playing two animations at indeterminate times, and you don't want to mix the results, you'll need to make sure that the animation that plays over/after resets the keyframes of the previous.

For example: if you are rotating a square between 0 and 360 degrees making it spin

[2019-07-10 04:06] hyperionstudios commented on #96
This is still happening to me?

[2019-07-10 05:51] parlux opened #123 "Widget testing with FlareActor"
flutter: 1.5.4-hotfix.2
flare_flutter: 1.5.2

Hi, I'm attempting to run basic widget tests on pages that include a `FlareActor`, which result in the following error:

[code]

Here is the flutter test I'm running:

[code]

Is there a suggested way to allow these tests to complete? As a workaround I've been navigating away from the page allowing the FlareActor to be disposed and the test to complete

[2019-07-11 09:00] truongsinh commented on #75
@luigi-rosso can you also check https://github.com/2d-inc/Nima-Flutter/pull/16, because it's a blocker for https://github.com/flutter/slideplayer/pull/8

[2019-07-11 12:09] YAPPDEF opened #124 "Initial loading: image/flare not visible"
We had to upgrade flare_flutter from version `1.3.13` to `1.5.4`

With this newest version, all the flare animations are not shown initially. After some seconds, they are visible. But it looks really strange and we cannot go live like that.

[2019-07-11 12:42] luigi-rosso commented on #124
The latest versions of Flare do load files asynchronously to prevent blocking the UI when waiting for the Flare file to load. I’m surprised it’s taking multiple seconds, unless you are using particularly complex Flare files. Could you share a file and maybe an example of how you are displaying it?

Also, are you testing on a physical device? If so, make sure to try it in release mode as the loadin

[2019-07-11 12:43] luigi-rosso commented on #75
Yes, I’ll take a look at this today!

[2019-07-11 13:04] YAPPDEF commented on #124
Thanks for the fast response (as usual 👍 ) #kudos

In release mode it's better, thanks.
Would it be possible to display the image from the design preview as long as the Flare is loaded?

[2019-07-12 00:16] stx opened #125 "Swapping layers programmatically"
Hi there,

Thanks for your work on this wonderful project. We have a use case I'm not sure if we can implement. If we can, great! If not, this is certainly my feature request.

Think of a character that can wear different hats. We have a Flare actor, with a set of animations, with one layer group (the hat) that we want to switch out as needed (with different hats). So we want to do the animations

[2019-07-12 02:43] fantasy525 opened #126 "[1.5.4]'Uint16List' can't be assigned to the parameter type 'Int32List'."
- Error:
[code]
[code]
[code]
- pubspec.yaml
[code]

[2019-07-12 08:48] juliengit2 commented on #126
same issue, and very annoying.
I tried to change the type but it didn't work, any idea??

[2019-07-12 09:12] juliengit2 commented on #96
same issue, and very annoying.

using channel stable + flare_flutter: ^1.5.4 (as indicated in https://github.com/2d-inc/Flare-Flutter/#flutter-channel) doesn't work.

I tried to change the type but it didn't work, any idea??

[2019-07-12 09:13] hyperionstudios commented on #96
@juliengit2 you will need flutter 1.7 as the stable

[2019-07-12 09:16] juliengit2 commented on #96
@hyperionstudios thank you! I was using 1.5.4, am upgrading to 1.7 and hope it'll work

[2019-07-12 10:40] truongsinh commented on #75
Should this ticket be closed then?

[2019-07-12 14:36] luigi-rosso commented on #96
Flutter stable was upgraded a few days ago, we upgraded our stable to match. If you’re seeing this error, you likely haven’t upgraded yet.

[code]

[2019-07-12 14:38] juliengit2 commented on #96
yes it worked after upgrading

[2019-07-12 14:51] #124 closed

[2019-07-12 14:58] luigi-rosso commented on #75
Closing this issue. If you still see this, you’re likely on an old flutter or flare version. Make sure to update flare_flutter to 1.5.4 and run flutter upgrade on flutter channel stable.

[2019-07-12 14:58] #75 closed

[2019-07-13 01:32] luigi-rosso commented on #125
We're working on some experimental new features that will allow embedding an artboard from one file into another. It's not going to be available for a bit as there are quite a few edge cases, but we've already made good progress on it!

The feature evolved from an early prototype we tested: https://twitter.com/luigirosso/status/1112561442715099136

This is doing most of the work in Flutter code by

[2019-07-13 04:00] stx commented on #125
Yeah, the Twitter clip is basically exactly what I’m looking for. Would love to see the code for that. Thank you!

[2019-07-13 17:54] luigi-rosso commented on #125
I wanted to do a blog article/writeup explaining what's going on a little before making it public, but because I haven't been able to find the time...here it is!
https://github.com/2d-inc/flutter_dummy_with_hat

Important stuff here:
https://github.com/2d-inc/flutter_dummy_with_hat/blob/master/lib/mountable_actor.dart
https://github.com/2d-inc/flutter_dummy_with_hat/blob/master/lib/mounted_gear.da

[2019-07-13 19:44] jmihelcic opened #127 "FlareActors inside a TabBar get rebuild"
Putting **FlareActors** inside a **TabBar** (MaterialApp -> Scaffold -> bottomNavigationBar) causes some of the **FlareActors** to rebuild (call initialize method).

Steps to reproduce:
1) Have a **TabBar** with more **than 2 tabs (important)** one (or more) of which is a **FlareActor**.
2) Tap on **different** tabs each time (1 - 2 - 3 - 2 - 3 - 1)
3) See that one (or more) of the **FlareActors**

[2019-07-13 19:46] jmihelcic commented on #127
[code]

[2019-07-14 00:28] luigi-rosso commented on #127
I think Flutter rebuilds the view as you swap selected Tab bar. I'd suspect it's doing some kind of virtualizing so it only keeps the widgets that are visible attached to the widget hierarchy. There may be a way to prevent that, but that may come at a performance cost. Is there a visual problem with the rebuild?

Take a look at this for a potential way to prevent the rebuild: https://github.com/fl

[2019-07-14 08:32] jmihelcic commented on #127
You are correct, but I am talking about the actual `TabBar` not the `TabBarView` (see the code - it is the full source). The icons in the `TabBar` are getting rebuild, thus restarting the `FlareActor` animation which is a problem. Even if I create my own `StatefulWidget` and implement the `AutomaticKeepAliveClientMixin` it doesn't make a difference. Even if I create a custom `FlareController` and

[2019-07-14 20:03] luigi-rosso commented on #127
You could do it with a custom FlareController that doesn't reset animation positions even after reload. You'd just have to make sure the controller outlives the widget. You might still get flashing as it reloads however.

Another way to do this is to share the instanced Flare Artboard across different LeafRenderWidgets. This would allow you to be in control of when the Flare file is loaded and whe

[2019-07-15 02:08] MannyDiera commented on #75
@luigi-rosso Had the same issue, followed the instructions above and was fixed.
For all others running into this issue.
1.- Add flare_flutter: ^1.5.4 in pubspec.yaml file.
2.- Run 'flutter upgrade'
3.- Profit

[2019-07-15 23:25] abymoen commented on #126
Also getting this, does anyone know the flare version that works?

`Compiler message:
file:///C:/Flutter/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.4/lib/flare.dart:1027:18: Error: The argument type 'Uint16List' can't be assigned to the parameter type 'Int32List'.
 - 'Uint16List' is from 'dart:typed_data'.
 - 'Int32List' is from 'dart:typed_data'.
Try changing the type of the par

[2019-07-15 23:33] luigi-rosso commented on #126
It's a combination of the latest flutter stable (1.7.8+hotfix.3) and Flare 1.5.4. Both of those versions must be satisfied for the latest version of Flare and Flutter to work together (we strongly recommend you use these version).

It looks like you are using the old stable (v1.5.4-hotfix.2) which has a breaking change with Flutter 1.7.8+hotfix.3. Flare. Please upgrade to the latest Flutter stable

[2019-07-15 23:39] abymoen commented on #126
Yea was just about to comment that updating flutter seemed to work (run "flutter upgrade") and then use the stable flare tag still. But if that isn't an option 1.5.0 also worked (although I wouldn't recommend hard versioning ever). Thanks for the reply @luigi-rosso

[2019-07-15 23:46] luigi-rosso commented on #126
1.5.0 would work with the older Flutter stable 1.5.4-hotfix.2.

The cause of all of this is that Flutter changed the signature of a method Flare uses. This was a good change but it broke compatibility. If you use a version of Flutter with the old signature, you'll need to use a version of Flare that's <=1.5.3. If you're using the latest stable >=1.7.8+hotfix.3 then any flare_flutter >=1.5.4 will w

[2019-07-16 16:56] jmihelcic commented on #127
This seems to have done the trick! Thank you!

[2019-07-16 16:56] #127 closed

[2019-07-16 19:22] nanzhang1 opened #129 "[1.5.4] Animation never complete on widget test"
After upgrade to flare 1.5.4 (required by flutter upgrade to 1.7), we started to have our widget test fail.
After debugging , we found that in flare_cache_asset.dart, asset were not loaded before the test fail.
This is not an issue in 1.5.1

[2019-07-16 20:10] luigi-rosso commented on #129
Can you post a code example of the widget and test? The loading is now async so you may need to pump multiple times.

[2019-07-22 08:07] #76 closed

[2019-07-22 19:44] nanzhang1 commented on #129
Hi @luigi-rosso :
here is a code and test example:
below widget build FlareActor and the callback tell us the animation has complete and we'll forward in our flow, the call back is hit when I run the app but is not hit when I run the test.

  Widget _getFlareAnimation(BuildContext context, String animationName) {
    return Center(
      child: Container(
        width: 206,
        height: 120,

[2019-07-24 05:51] MustansirZia commented on #126
Well, shouldn't the latest version of Flutter (`>=1.7.8+hotfix.3`) be included in the `environment` section of the `pubspec.yaml` of this package? That shouldn't let us install the latest version of the package if we use an older Flutter version.

[2019-07-26 13:14] nitneuq33 opened #131 "Int32List issue"
I try to upgrade flutter to 1.7.8, but I found an issue not related with flare package, so I try to downgrade flutter to 1.5.4  and downgrad flare package to 1.5.3 who worked before, and now I have :

[code]

[2019-07-26 14:58] luigi-rosso commented on #126
That's awesome, I didn't realize that was configurable. Thanks for the suggestion!

[2019-07-26 14:59] luigi-rosso commented on #131
If you're using Flutter 1.7.8, you should upgrade to the latest Flare (1.5.4). More details: https://github.com/2d-inc/Flare-Flutter/issues/126#issuecomment-511609969

[2019-07-26 15:17] nitneuq33 commented on #131
I have all reinstall it's ok now

[2019-07-26 15:40] luigi-rosso commented on #131
Sounds good!

[2019-07-26 15:40] #131 closed

[2019-07-28 09:50] SameerMasood opened #132 "'Int32List' can't be assigned to the parameter type 'Uint16List'"
Compiler message:
file:///C:/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.3.10/lib/flare.dart:981:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argument to 'Uint16List'.
        indices: _indices,

[2019-07-29 10:37] umberto-sonnino commented on #132
Hey @SameerMasood this has been a common issue and is documented in the README [here](https://github.com/2d-inc/Flare-Flutter#flutter-channel).

Please make sure you're using the latest version of Flutter Stable. You can try running `flutter upgrade` or also `flutter channel stable` if you're on another channel.

[2019-07-29 10:37] #132 closed

[2019-07-30 04:01] lengguangwei commented on #63
Hi Luigi Rosso
I also want to replace an image node by the remote png file dynamically
Can you share the sample code

[2019-08-03 01:04] stx opened #133 "Huge performance difference versus native animations"
Hi there!

I made a test animation in Flare that moves up and down gradually. On a Google Pixel in profile mode I'm seeing an average 30ms on the GPU thread via the Flutter Performance Overlay.

If I pause the Flare animation and add a repeating SlideTransition, I see 10ms. This makes a huge amount of difference in frame rate on older devices. Is there a way to resolve this, or is it just part of

[2019-08-03 01:21] stx commented on #133
I'm able to get comparable - or better - performance by changing from SVG paths to an image on the Flare side.

[2019-08-03 02:02] stx commented on #133
Found something really bizarre. If I set the height via SizedBox...

height: 610 and above
41ms GPU

height: 609 and below
19ms GPU

Any idea what's going on here?

[2019-08-03 02:25] luigi-rosso commented on #133
Interesting. We have seen cases where certain files cause an increase in GPU usage.  We’ve been working with the Skia team to help track down what’s causing this.  Could you share your file and perhaps some sample code?

[2019-08-03 03:07] stx commented on #133
I'm able to reproduce it on an iPhone X now as well, but it's barely noticeable.

Here you go.

[test.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/3463337/test.flr.zip)

[code]

[2019-08-03 18:51] luigi-rosso commented on #133
We have seen something like this before, where zooming in (or scaling up) vector content causes significantly more GPU usage. We don't have a good solution yet. Flare doesn't create buffers, textures, etc that change with resolution. We've been working with the Skia team to figure out if Flare does something unexpected that causes this, but we haven't found anything yet.

It may be related to grap

[2019-08-03 21:35] stx commented on #133
Yeah, I’ve experienced this also. I assumed it was due to this: https://github.com/flutter/flutter/pull/36616

iPhone X refresh rate can essentially become de-synced and drop half the frames. I’ve noticed pulling down the control center and back up does the same thing as your screen cap.

I haven’t tried out the fix there but I’m interested if that fixes this. Any interest in trying that out?

[2019-08-03 21:51] luigi-rosso commented on #133
I've submitted an issue on the flutter repo with an isolated example (no Flare) that has similar performance problems reported here.

Regarding the scrolling issue, it seems like that's related to perceived jank from scrolling on iOS, partly due to input events reporting irregularly (and sometimes multiple times) per frame. I'm not sure if that'll help here as I see the problem without any input,

[2019-08-04 13:23] Natanil opened #134 "Big problem while loading animation"
I designed and implemented my animation in the flare workspace and it works fine but when i load the .flr file in my flutter app it throws a strange error.
Here is my file :
[list_walkthrough.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/3464944/list_walkthrough.flr.zip)

The error is :

[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: Unsupported operation: Result of truncating div

[2019-08-04 20:35] luigi-rosso commented on #134
It looks like your opacity keyframes got exported incorrectly from Flare. Could you share a link to the file on 2Dimensions.com?

[2019-08-05 04:29] Natanil commented on #134
Thank you very much it got solved.
This is my file :
[list_walkthrough (1).flr2d.zip](https://github.com/2d-inc/Flare-Flutter/files/3465933/list_walkthrough.1.flr2d.zip)

[2019-08-05 04:29] #134 closed

[2019-08-05 05:39] muhammadsaddamnur opened #135 "Please create choices for online assets"

[2019-08-06 07:22] boiawang commented on #67
How to pass dynamic texts. It seems that there is no text type yet.

[2019-08-06 16:29] #112 closed

[2019-08-06 17:55] yjoo9317 opened #136 "Design board exposed (probably) during animation transitions"
Dear @luigi-rosso

Recently I noticed that flare actor is often exposing design board right before playing animation.
The app dynamically changes animations between states and during the state transition,
we started seeing that happens.
Do you know any possible reason for me to see the design board?

Note:
I changed the version to 1.5.4 from 1.5.0 a week ago.
The reason I am putting this is that i

[2019-08-06 17:57] luigi-rosso commented on #136
Hey @yjoo9317, can you post a screenshot or video showing the issue? I'm not sure I'm following what you're seeing. Is it that you see the background color of the artboard?

[2019-08-06 18:26] yjoo9317 commented on #136
I cannot confirm exactly what it is.
But, at least I can tell that it showed the initial design assets of all animations in the flare file.
Still, not enough...hmm,
If the flare animation has 2 animation sequences, then it (may) shows the overlapped initial frame of both animations.

[2019-08-06 19:38] yjoo9317 commented on #136
@luigi-rosso
I forgot to mention something.
I wasn't able to use `sizeFromArtboard` property for my project.
Using that property, when the widget dynamically changes animation, it often showed that overlapped sequence.

Here is what I am going to do.
I will run same test with version 1.5.0 to see if it happens there.
1) If it doesn't, then there is regression in the flutter.
2) If it does as well,

[2019-08-07 16:33] yjoo9317 commented on #136
HI @luigi-rosso
Our flare file contains two animations, thinking and progress bar.

Here is the thinking animation screen shot.
<img width="307" alt="Screen Shot 2019-08-07 at 9 21 05 AM" src="https://user-images.githubusercontent.com/21015969/62639731-01e82480-b8f5-11e9-8885-b8c97a4d915a.png">

Here is the thinking animation shot with overlapped progress bar.
It seems to happen (possibly) when re

[2019-08-08 16:53] yjoo9317 commented on #136
Hi @luigi-rosso,
I know you must be so busy with everything.
Do you have any thought on this issue?

Thanks really.

[2019-08-08 16:55] yjoo9317 commented on #136
Hi @luigi-rosso

I know you must be very busy with everything.
But I am still wondering whether you have any thought on that issue.
Let me know when you can.
Thanks Really.

[2019-08-08 19:27] tafelito commented on #71
when working on a bottom nav icons animations, I could see using different artboards for every single icon instead of creating a different flare file.

Will this be a correct use case?

[2019-08-08 22:48] luigi-rosso commented on #136
Sorry, I haven't had time to dive into this in detail yet! I hope to find some time soon!

In the meantime, how are you mixing the two animations? Could it be that keyframes from one are not being reset by the other? It'd be really helpful if you could share code and/or a video of the problem to help me better understand what your intention is and where it's failing. It'd also be really helpful if

[2019-08-08 22:58] luigi-rosso commented on #71
That's a good use case!

The size of the artboard matters as it's used as the bounds of the content when it's sized to fit at runtime. If you tell the widget to [use the intrinsic size of the artboard](https://github.com/2d-inc/Flare-Flutter/blob/b5e86e90bf7b0be156d947a320a0e8970b1b0233/flare_flutter/lib/flare_actor.dart#L59), it'll also size the widget to the dimensions of the selected artboard.

[2019-08-08 22:59] luigi-rosso commented on #74
Sorry I missed this, are you still having problems running this?

[2019-08-08 23:02] yjoo9317 commented on #136
Hi @luigi-rosso

I didn't mix it.
Flare showed the everything some how, that's why I thought it was a design board in the first place.
Not 100% sure.. Looks like if I run animation with `controller.isActive.value = false` then it just shows everything like that.
As such, during the transitions in my app, there is moment when the controller can be deactivated.

Does it ring any bell?

[2019-08-08 23:05] luigi-rosso commented on #136
It's possible that a controller gets re-initialized if the widget gets detached and then re-attached.

This sounds really strange, almost like an animation from one file is being applied to a different file corrupting some of the shapes. If you get the chance, share both the code and the original Flare file so I can look in-depth at exactly what's going on...

[2019-08-08 23:20] yjoo9317 commented on #136
Hmm, it is one .flr file containing 2 different animations.

Since there could be copy right issue..
I am in the middle of something.
Please give me some time to create a simple app that I can repro this.

[2019-08-08 23:42] tafelito commented on #71
OK that's great to hear. So if you don't use the intrinsic size, it will just use the size of the container?

One issue I found when resizing the artboard when already have an animation is that I have to re align the images and then the animation breaks, because the translation is not relative

________________________________
From: Luigi Rosso <notifications@github.com>
Sent: Thursday, August 8,

[2019-08-08 23:46] luigi-rosso commented on #71
You can also translate the content on the art board by tweaking the origin. 0, 0 places the origin on the top right, 1, 1 bottom left, 0.5, 0.5 center, etc. This will affect all transformations and animations.

[2019-08-09 15:06] tafelito commented on #71
what about copying one shape with animations from one artboard to another? is that possible?

[2019-08-09 20:24] yjoo9317 commented on #136
Hi, @luigi-rosso

I sent a video clip.
Would you please verify if you received that? Thanks.
If you look at the video, you will see what I am talking about.
Whenever hero transition starts, it shows that symptom.

I haven't created the sample app yet, but the video was taken from my debug page for flare animations.

[2019-08-09 22:22] yjoo9317 commented on #136
@luigi-rosso
Seems like I found the issue.
I didn't set animation name while creating actor since our custom flare controller controls animations and the animation is being loaded there.
But I notice if I don't set the animation name in creating flareactor, I have moment showing briefly every underlying animation on the same frame until it knows what to play.
Not sure, it should be addressed publi

[2019-08-09 22:22] #136 closed

[2019-08-13 14:15] gi097 opened #137 "How to detect pressed shape in FlutterActorArtboard?"
We are building an application using Flare in Flutter, which works pretty good. We have some vector drawing of a human body which contains several nodes/shapes. You can think of arms, legs, feet etc. We render it into a `FlutterActorArtboard` which works properly as well.

You can see that I pressed on the left arm of the body in the Flare editor online. How can I achieve this effect in Flare for

[2019-08-14 13:47] #137 closed

[2019-08-17 17:20] stx commented on #125
@luigi-rosso Thanks for that. I was able to mess with your example and get it working in our case but forgot to respond.

This is super neat. Definitely could use some polish on the interface for it but there's something powerful here.

[2019-08-18 02:01] luigi-rosso commented on #125
Awesome, glad you were able to figure it out!

Glad you find it powerful. We have some ideas for how to get the process working smoothly directly in Flare. We're not quite ready to share anything about it yet, but it's already in the works!

[2019-08-19 11:27] HElwy commented on #74
I wrote a simplistic login page for my app after I didn't get a response and couldn't get it to work, may try to implement this again after launching.

[2019-08-23 16:00] jcairo commented on #85
Any updates on this? I have the exact same problem.

[2019-08-24 17:52] nisimjoseph opened #138 "Animations List in runtime"
I want to get all animation list defined in the Flare file and that Flutter can run.
for example, let's say I have 4 animations which supposed to be in the Flare file but one is missing, I can't find the API for this.
how can I know it missing or how can I know all the ones I can play?

[2019-08-24 20:51] luigi-rosso commented on #138
I’m not at my desk right now, but look into some of our examples that use custom a FlareController. You can query the artboard for animations (either via artboard.getAnimation or access the full list via artboard.animations).

[2019-08-24 20:52] luigi-rosso commented on #138
This article is a little more in-depth but it also discusses controllers: https://medium.com/2dimensions/building-an-interactive-login-screen-with-flare-flutter-749db628bb51

[2019-08-24 23:21] umberto-sonnino commented on #85
Hey @jcairo, I've tested your file locally and I don't see the issue on my side.
Could you share a more complete example with your widget layout where this is happening?

[2019-08-24 23:54] jcairo commented on #85
Hey Umberto. Not sure how much you want here. I've added the code for the widget where the problem is. I can also provide you with a Flutter repo if that is easier?

`class PlayButton extends StatefulWidget {
  final Player player;
  const PlayButton({
    Key key,
    this.player,
  }) : super(key: key);

  @override
  _PlayButtonState createState() => _PlayButtonState();
}

class _PlayButtonStat

[2019-08-25 07:36] nisimjoseph commented on #138
thank you.

[2019-08-25 07:36] #138 closed

[2019-08-25 15:05] umberto-sonnino commented on #85
With your file above and [this configuration](https://gist.github.com/umberto-sonnino/53afc897db64cff3598f91278a158fe0), everything still looks fine on my side.

[2019-08-25 16:26] luigi-rosso commented on #85
It looks like the Flare runtime may not be applying the final frame of the animation. Is the behavior consistent amongst re-runs or is it always at a slightly different spot? Does the behavior change in release/debug mode?

[2019-08-25 17:37] jcairo commented on #85
Hey Luigi,

I've now tried in release mode and i'm still seeing the same problem.

I don't think it's just the final frame. Using this animation
[animatiion](https://www.2dimensions.com/a/jonnyc/files/flare/play-pause) I'm seeing way way outside the artboard.

Artboard in Flare shows
![Screen Shot 2019-08-25 at 11 28 55 AM](https://user-images.githubusercontent.com/4959155/63653561-9d69f980-c72b-1

[2019-08-25 23:46] stx opened #139 "Mixing animations using FlareControls stopping previous animations"
Hi there! We have 2 animations: idle (loop) and speak. These animate different layers.

I would expect that we could use `FlareControls().play('idle')` initially, and then `FlareControls().play('speak')` each time we need to play it.

However, the moment "speak" is played, idle is stopped. This seems like odd behavior given the emphasis on mixing animations, or perhaps I'm doing something wrong.

[2019-08-26 02:19] neurowave commented on #139
I'm not sure about the code part, I'll let someone else from our team address that, but on the animation side: can you share the Flare file? I can take a look and make sure there aren't any competing keys in your animations that might be causing this. One way to test this is to mix the animations in Flare by hitting the play button next to each animation (in the animations list).

[2019-08-26 03:33] stx commented on #139
@neurowave Can see it here: https://www.2dimensions.com/a/s-che/files/flare/selfy - idle-1 (enable looping) and speech-1.

On the Flare web side, idle-1 loop + speech-1 mixes perfect.

In Flare Flutter, .play('idle-1') -> .play('speech-1'), idle-1 will be stopped.

[2019-08-26 17:47] umberto-sonnino commented on #85
Hey @jcairo, thanks a lot for your last example! We were finally able to reproduce the problem and found the bug.

We published a new version of the package which should now behave correctly; you can find it [here](https://pub.dev/packages/flare_flutter/versions/1.5.7)!

[2019-08-26 17:47] #85 closed

[2019-08-28 07:06] TomassMaximum opened #140 "Exception: RangeError (byteOffset): Invalid value: Not in range 0..257, inclusive: 259"
Our designer created an animation using flare, and exported as a flr file in binary mode. When I add it to our project, it throws this exception, and animation is not working.
Another simpler animation which I created worked just fine. This one is more complicated.
Flare version: 1.5.7
Flutter version: beta 1.8.3

`[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: Exception: RangeError (byteO

[2019-08-28 07:07] TomassMaximum commented on #140
Here is the project.
https://www.2dimensions.com/a/qingyun/files/flare/xue-xi-bao-gao-3/preview

[2019-08-28 07:58] TomassMaximum commented on #140
Just tried json format file, works good.

[2019-08-28 15:18] bremington opened #141 "Android issues running Flare"
Hi, as I have moved my app into release build, everything is working great on iOS. For Android, it seems to work fine in Debug build, Release build has many issues. Most of the time it appears Android is having issues building the animations, and times out, where it does not display the animation at all. My app has completed the migration to Android X, so not sure if Flare supports this. I get thi

[2019-08-29 10:47] bremington commented on #141
Ciao Luigi,

Well, not sure what exactly is going on, but I changed my minimum SDK to 26 (Android 8) from 21 and the API errors went away. My code was simply using intro_slider for an initial tutorial and included Flare animations in the 5 slides. For most of the Android devices the app ran, but would not show the animations. The only package used was Flare actor. I also just updated Flare to 1.5.

[2019-08-30 10:04] nisimjoseph opened #142 "Load and use external remote asset"
I want to load the Welcome screen dynamically using A/B testing, meaning the Flare file will be load from the network.
I know I can download a file, but Flare is allowing to load the file only from assets folder (AssetBundle). the file location is like "assets/filename.flr".
I search in the docs and can't find how to load from other application storage than the "assets" folder. want to load from t

[2019-08-30 20:03] Glaucio092 opened #143 "Chrome MacOS Navigation Problems"
I just can't use the interface on flare whatsoever.

When I use flare. If I try to use anything that is not on a panel. It just won't work. Like panning, zooming, translating, rotating, creating shapes. Absolutely nothing and I don't know why.

P.S: My Chrome is updated

[2019-08-30 21:11] luigi-rosso commented on #143
Hi, sorry to hear that. Could you share a video or screenshot? It’d be helpful to confirm if anything looks out of place...

Do you have any extensions installed that modify the DOM?

[2019-08-30 21:59] teesloane opened #144 "Changing current playing animation more than once stops all playback"
Hi there!

I'm playing around with your lib — it's very cool. Right now I'm trying to enable swapping between different animations based on a slider — it works for the initial two animations but beyond that I seem to be running into trouble.

Here's a bit of code and a screen grab:

[code]

![Kapture 2019-08-30 at 17 58 17](https://user-images.githubusercontent.com/12987958/64053299-c76a5400-cb4f-

[2019-08-31 16:40] Glaucio092 commented on #143
No extensions that changes DOM.

This link shows the problem.

https://youtu.be/Nfvi9I-2H-4

Em sex, 30 de ago de 2019 17:11, Luigi Rosso <notifications@github.com>
escreveu:

[2019-08-31 18:10] luigi-rosso commented on #143
Thanks for the video. That's strange. It looks like something is preventing your browser from clicking on the Canvas where the Flare content renders. I do see that you have a lot of extensions installed, would you mind sharing a list of the extensions you have installed? We ran into this issue in Firefox once where someone had an extension that was capturing canvas clicks.

You can email me the li

[2019-09-01 08:48] Fethi1 opened #145 "Animation doesn't show in release"
i have made an animation on 2dimensions and i have use an image on it, when i run my app on debug everything works fine but when i  build the app and install it to my phone, the animation never show like the file doesn't exist at all even its space isn't reserved like it never existed.
any help!!

[2019-09-02 14:57] umberto-sonnino commented on #145
Can you provide any more details? Flare File, Flare-Flutter version, your code?

[2019-09-02 15:03] umberto-sonnino commented on #144
Could you provide your Flare file? We'll try to reproduce the issue

[2019-09-02 16:12] Fethi1 commented on #145
alright just a second

[2019-09-02 16:15] Fethi1 commented on #145
flare file : https://www.2dimensions.com/a/Fethi/files/flare/balls
flare_flutter: ^1.5.7

code:
                GestureDetector(
                  onTap:count,
                                child: Container(
                                    height: height*0.45,

                                    child:FlareActor('assets/animations/Balls.flr',alignment: Alignment.center, animation:animation,

[2019-09-02 17:15] Fethi1 commented on #145
the animation work as expected on debug mode but is doesn't show at all in release

[2019-09-02 18:01] luigi-rosso commented on #144
Thanks for using Flare!

Regarding mixing: If you want to smoothly transition between multiple animations, you should ramp up the mix value over time (from 0 to 1) for however long you want the transition to last. This basically interpolates the animation on top of the currently applied values. You can take a look at how FlareControls does this by maintaining a list of active animations and rampin

[2019-09-02 19:07] luigi-rosso commented on #145
Hey @Fethi1, sorry you're having trouble here. This sounds a lot like an issue we used to have with an older build of Flutter. Sorry for piling on more questions, but which Flutter version are you using? Could you try a different channel (stable, dev, master) to see if you see different results? We've tried on a few different devices here and cannot replicate the problem (we see it in release).

[2019-09-02 19:29] teesloane commented on #144
Hi folks @luigi-rosso / @umberto-sonnino ; thanks for looking into this. Here is my [original file](https://www.2dimensions.com/a/jrdn/files/flare/metro-4-4)

I ended up using separate files for each animation and then swapping them at runtime:

[code]

Which gives me the desired results:

![Kapture 2019-09-02 at 15 09 40](https://user-images.githubusercontent.com/12987958/64131400-51a3f980-cd96-1

[2019-09-02 22:23] pblinux opened #146 "The getter 'iterator' was called on null"
Hi. First, flare is so awesome and powerful, thank you for this tool.

I'm having troubles with my flare assets. My team create a character:
https://www.2dimensions.com/a/pixelagt/files/flare/josefina

But when I tried to load into a FlareActor widget, this exception appears:
[code]
The versions I'm using:

flutter: v1.7.8+hotfix.4
flare_flutter: 1.5.7

We tried changing the targets to bones and r

[2019-09-03 00:34] gctommy opened #147 "[Feature Request] Add Status Listener and Animation Status"
I currently have to do something like this to increment an interval when the animation duration reaches/passes the Actor's duration—so do something when the animation completes one loop:
[code]

It would be easier if one could use a controller that has an **addStatusListener** listening for an **AnimationStatus** of **completed** and **isAnimating**?

[2019-09-03 05:33] gctommy commented on #71
Having trouble with this, @luigi-rosso could you provide an example of what to do with the controllers when there are 2 or more artboards?

For example, I currently have one .flr file with two artboards containing one animation each and both are non-looping animations, calling the widgets like this:

[code]
This will cause a duration null error since both widgets are referencing the same controlle

[2019-09-03 10:36] fantasy525 opened #148 "Flare rendering has a big delay"
flutter version:1.7.8 hotfix:4
flare version:1.5.4
flutter 1.5.4 is ok
![2019-09-03 18-31-21 2019-09-03 18_32_29](https://user-images.githubusercontent.com/22516157/64166254-4fff3200-ce79-11e9-9287-670111c83b3d.gif)
as you can see,flutter builds finish ,but the small crocodile show slowly.

[2019-09-03 11:14] fantasy525 commented on #148
release mode works ok!

[2019-09-03 11:14] #148 closed

[2019-09-03 11:51] Glaucio092 commented on #143
Colorzilla, Milanote, UX Evalutation, Measure Dimensions, Show me Styles,
CheXplore, WhatFont, FontFace Ninja, Full Page Screen Capture, Window
Resizer, Screen Recorder (this one I used trying to film the problem)

Em sáb, 31 de ago de 2019 14:10, Luigi Rosso <notifications@github.com>
escreveu:

[2019-09-04 15:33] luigi-rosso commented on #147
This is a good idea.

On some other platforms we have the concept of AnimationInstance which tracks time for the animation and can report when the animation completes/loops (and has a callback for elapsed events that can trigger on the timeline). We could add something like that which you can use in your FlareController.

Some pseudo-ish code follows...

FlareControls could then return the animati

[2019-09-04 15:54] luigi-rosso commented on #146
Hi @pblinux, thanks for the nice message and thanks for reporting the bug. We just published a fix. Please update your pubspec to use ```flare_flutter: 1.5.8```.

[2019-09-05 01:00] Bernardi23 opened #149 "It's time to add Official Documentation for flare_flutter"
I haven't been using Flare because of the lack of documentation. It has so much potential, but figuring out the code just from the examples is not good at all if you want companies to use it.

[2019-09-05 01:02] luigi-rosso commented on #149
We hear you! We're working on improving this. We've been a tiny team so far, we're just starting to be able to dedicate time to this. We really want to get the developer experience right and we recognize that having great documentation is a big part of that.

[2019-09-05 17:03] umberto-sonnino commented on #144
Hey @teesloane, I took a look at [your original Flare file](https://www.2dimensions.com/a/jrdn/files/flare/metro-4-4) and I noticed that you have keyframes for hiding shapes in each animation (i.e., Opacity is 0), but don't have a keyframe to set the visibility back.

In fact, in Flare (Editor) each property is reset to their _Setup_ state when an animation is selected in the Animations list.
In t

[2019-09-05 18:43] teesloane commented on #144
Oh wow, this is great—I'll do a refactor as soon as I get a chance and will report back! Thanks for your help @umberto-sonnino. I'll close this issue now.

[2019-09-05 18:43] #144 closed

[2019-09-05 23:40] stx commented on #147
This feels pretty great with Flutter, IMO.

[2019-09-05 23:48] stx commented on #133
@luigi-rosso Watch this...

This is so painful for us. Any update here?

[RPReplay_Final1567725727.MP4.zip](https://github.com/2d-inc/Flare-Flutter/files/3581595/RPReplay_Final1567725727.MP4.zip)

[2019-09-06 07:15] luigi-rosso commented on #133
@stx I haven't heard anything else on the Flutter thread, I'll ping there.

[2019-09-06 16:49] pblinux commented on #146
Thank you very much @luigi-rosso, now it's working.

[2019-09-06 16:49] #146 closed

[2019-09-07 08:42] Fethi1 commented on #145
sorry for the late replay guys the problem wasn't related to Flare i was using a variable that stores the height of the device `MediaQuerry.of(context).size.height` and at release like it takes one more state refresh to be applied so it was always set to 0 that's why the animation never show up,i noticed this on a past project and i thought it would be solved after updates.
anyway thanks guys for

[2019-09-08 21:47] unknown1101 opened #150 "Handle end of animation"
i tried to handle the end of animation

[2019-09-09 00:54] stx commented on #133
@luigi-rosso Oh wow, that makes an incredible difference on Android devices!

As an example, the Google Pixel went from **37.7ms to 13.9ms from with no discernible reduction in image quality**. It went from "unusably terrible" to "fantastic" - on our devices, with our style of textures and animation, removing anti-aliasing isn't noticeable unless the device is a few inches from your face.

Specifi

[2019-09-11 10:33] TomassMaximum opened #151 "Animation has a blank gap before completely loaded on low-end devices"
So, I have a little animation example( https://www.2dimensions.com/a/qingyun/files/flare/playing/preview ). It has a white background and some simple animated elements on top of it. The problem is, I guess because animation takes time for initializing, when the actor widget is built, it shows the white background at first, and some time later(around 1 second on iPad Mini2), the animated element sh

[2019-09-11 15:50] luigi-rosso commented on #151
Hi @TomassMaximum, is the white rounded rectangle being drawn by your container/box decoration or is that also coming from the Flare file? I see it in your Flare file, but it's odd that it's just showing that and not the blue bars.

It might be related to caching. I have a test we can try for that. I don't recommend using this solution on projects that use a lot of Flare content as it will never r

[2019-09-12 00:55] lukepighetti opened #152 "Setup normal export paths"
In consuming this package I expect to be able to `import 'package:flare_flutter/flare_flutter.dart'` but this file does not exist.

[2019-09-12 01:55] TomassMaximum commented on #151
Ahh! I'm being stupid. Just forgot to remove the background from the widget(it was implemented by a rounded container at first). My bad, sorry...

[2019-09-12 20:44] logemann opened #153 "flare animation doesnt scale right?"
Hi,

i am experimenting with different screen sizes and flare. Am i correct that a flare animation cant be scaled by using the normal flutter techniques like SizedBox and stuff?

Seems i need to provide different scaled animations (different flr files) and chose between them according to current user screenSize.

[2019-09-16 19:56] lukepighetti commented on #153
`sizeFromArtboard` should be false and it should scale to fit its container. Did you try this yet or are you just asking before there's an issue?

[2019-09-16 20:02] lukepighetti opened #155 "Animations don't load simultaneously."
When loading multiple animations in different FlareActor's they appear to load in series instead of loading all at the same time. Is there any way to synchronize their loading? The animations themselves are designed to be synchronized if they all load at the same time.

![trim 2019-09-16 16_00_47](https://user-images.githubusercontent.com/666539/64989269-2a235580-d89b-11e9-817c-d0d82d6a54ce.gif)

[2019-09-16 21:49] logemann commented on #153
Thanks for feedback so far. I am asking because its in fact a current issue and i tried some things in before my vacation two weeks ago. Give me another day or two to test your proposals.

[2019-09-16 23:53] lukepighetti commented on #153
Examples would be helpful because by default FlareActor resizes its widgets to fit its parent.

[2019-09-17 00:28] logemann commented on #153
Ok. Here we go. I got it so that it scales with the BoxFit parameter. But somehow i dont understand how it scales.

See below the animation (when you wanna call it this way with a static image in this ticket system) with BoxFit.none and BoxFit.contain.

<img width="378" alt="Bildschirmfoto 2019-09-17 um 02 21 59" src="https://user-images.githubusercontent.com/346353/65002035-50c0ab00-d8f2-11e9-8e6

[2019-09-17 11:59] lukepighetti commented on #153
Put it in a padded container with a maxWidth constraint?

[2019-09-17 13:17] logemann commented on #153
i think i cant express my problem properly without having the full animation here in play.... will close this.

[2019-09-17 16:40] umberto-sonnino commented on #153
Hey @logemann!
The 2Dimensions team would love to help you with your issue, why don't you post a gif or a video?

[2019-09-17 18:20] lukepighetti commented on #153
You can capture a video and post it as a gif

[2019-09-19 01:54] asjqkkkk opened #156 "Flare for flutter_web"
Is there any plan to support Flutter for web? 😊

[2019-09-19 13:59] gabuldev opened #157 "It takes too long to load"
One solution I had was to put a ScaleAnimation (child: Flare) to allow time to load and stay fluid.

[2019-09-19 19:44] yjoo9317 commented on #69
@luigi-rosso
Any update on this one?

This issue is not allowing us to perform automation test.
We are now disabling flare while automation test.

Thanks.

[2019-09-20 08:07] bestK opened #158 "Home page get stuck when page back"
[code]

[2019-09-20 08:18] #158 closed

[2019-09-22 18:44] logemann commented on #153
Thanks for reopening and showing love for your users, but i re-did the animation with a slightly different effect so that my previous issue is not there anymore. It for sure was no flare problem....

[2019-09-22 18:44] #153 closed

[2019-09-23 03:23] hyeonjae opened #159 "Doesn't support some lottie's animation"
I use flare as importing from lottie, but I found some animation doesn't work.

`Translation`, `Rotation`, `Shape > Stroke Start`, `Shape > Stroke End` and `Shape > Opacity` effects work well.
`Path > Vertices` effects doesn't work.

[2019-09-23 08:19] hyeonjae commented on #159
[code]

[2019-09-23 13:22] bodymovin commented on #159
Hi, I tried the animation and the vertices are animating. What is it exactly what you are seeing?

[2019-09-24 02:57] hyeonjae commented on #159
![test](https://user-images.githubusercontent.com/3411007/65477811-6b7ebb00-dec2-11e9-9c6f-35270fa48ee1.gif)

I expect to see like above gif

[2019-09-24 10:21] luigi-rosso commented on #159
I think this is an issue with how we implemented the converter into Flare. We remap some of the ids for the vertices when importing and this got lost in the animation keyframes referencing those ids. So all the keyframes can't find the vertices.

@bodymovin is using the converter standalone and then importing the generated project file into Flare separately, which is why it's working for him.

The

[2019-09-24 10:31] hyeonjae commented on #159
@luigi-rosso @bodymovin  Now Its all work!! Thank you for your prompt response.

[2019-09-24 10:31] #159 closed

[2019-09-25 10:13] cmcgill1988 commented on #142
To my knowledge this isn't something you can do yet with Flare-Flutter, I know I've seen a couple of posts on similar issues by the developer saying this is something they want to handle but currently it doesn't

[2019-09-26 22:51] ravenblackx opened #160 "FlareControls never initializes in unit test & FlareActor never displays"
[code]

[2019-09-26 22:54] ravenblackx commented on #160
Ah, I found the circumstances under which the completer completes before the test ends - if you pump *after* the golden test, then the initialize call is finally provoked. But as you can see in the given example, 200 pumps, 100 of them advancing time, before the golden test, avail nothing.

[2019-09-26 23:52] bedryck opened #161 "Play animation with controler"
I play several animations at the same time using a controller.
I did it using an example
![image](https://user-images.githubusercontent.com/22659468/65731928-52e3f000-e0d0-11e9-9826-97d08303ea8a.png)
![image](https://user-images.githubusercontent.com/22659468/65731993-8a529c80-e0d0-11e9-836c-4c4e011d16bb.png)
![image](https://user-images.githubusercontent.com/22659468/65732000-93436e00-e0d0-11e9-9

[2019-09-27 19:26] danmork opened #162 "Load FlareActor From Other Data Sources"
Hi. Thank you for this package! We need to load Flare content from data sources other than asset bundle files (e.g. `Uint8List`). Please consider this enhancement to support other data sources.

[2019-09-28 14:34] Mkhira opened #164 "when i add tihs package to pubspec.yaml it dosent come in Dart packages and i cant use it i traied many version the same error"

[2019-09-28 16:28] Mkhira opened #165 "how i fix this"
Launching lib\main.dart on SM A105F in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...

Compiler message:
../../flare_flutter/lib/flare_actor.dart:6:8: Error: Error when reading '/C:/src/flutter/flutter/.pub-cache/hosted/pub.dartlang.org/flare_dart-1.4.7/lib/actor_drawable.dart': The system cannot find the path specified.

import 'package:flare

[2019-09-29 15:45] Isonomic commented on #165
If I received an issue like this I would be frustrated. Just asking how do I fix this and posting a 10 page error seems entitled. I am not trying to be rude at all, but thats my feelings. This whole "make this work for me now" mentality needs to change in my opinion.  Shout out to the github account owner who made these animations. Thank you

[2019-09-29 17:30] SaeedMasoumi opened #166 "Is it possible to play an animation between two specific points in time?"
Assume that my animation has a duration about 2 seconds. I want my animation to start from 0.5 to 1.5 and then stop.

[2019-09-30 09:12] neurowave commented on #166
You can set this up in Flare using the Work Area, see https://docs.2dimensions.com/support/flare/interface/timeline

Or are you trying to modify this dynamically at runtime?

[2019-09-30 10:47] SaeedMasoumi commented on #166
@neurowave I don't mean to modify that. I mean for example if I have `idle` animation and its timeline takes 2 seconds to finish, Is it possible to control the timeline? instead of playing the `idle` animation from 0 to 2, I want to play it dynamically in my flutter app, e.g. from 1 to 2 or 0 to and etc.

[2019-09-30 15:26] umberto-sonnino commented on #164
Can you share you you're importing the package?
You can import this package from Dart Pub as specified [here](https://github.com/2d-inc/Flare-Flutter#flutter-channel).

[2019-09-30 15:40] umberto-sonnino commented on #166
Animations can be controlled programmatically by extending [`FlareControls`](https://github.com/2d-inc/Flare-Flutter/blob/e550a5e55a95209a3cbfba70336bcb2dba17c1d2/flare_flutter/lib/flare_controls.dart), and in particular, the [`advance()`](https://github.com/2d-inc/Flare-Flutter/blob/e550a5e55a95209a3cbfba70336bcb2dba17c1d2/flare_flutter/lib/flare_controls.dart#L56) function.

You can take a look

[2019-09-30 15:46] umberto-sonnino commented on #161
Are you resetting `playLeft` so it can play again?

If you could share your code, we can take a look!

[2019-09-30 19:32] luigi-rosso commented on #165
Yikes, lots going wrong there. How are you referencing the Flare-Flutter package @Mkhira? Could you post the contents of you pubspec file?

To @Isonomic's point, @Mkhira I took the liberty of changing your comment to link the log as an attached text file, making it a little easier to keep the conversation legible.

[2019-09-30 19:42] bedryck commented on #161
`import 'package:flutter/material.dart';
import 'package:flare_flutter/flare_actor.dart';
import 'package:flare_flutter/flare_controls.dart';

class Test extends StatefulWidget {
  Test({Key key}) : super(key: key);
  @override
  State<StatefulWidget> createState() {
    // TODO: implement createState
    return TestState();
  }
}

class TestState extends State<Test> {
  String position = 'center'

[2019-09-30 19:42] luigi-rosso commented on #166
To expand on what @umberto-sonnino is saying, you can extend FlareController (or the higher level class FlareControls if you need specific playback functionality it provides) to dynamically apply animations at variable time values (and even apply multiple animations at once).

In Flare the hierarchy is static, describing the position and dependencies between items. Animations provide changing valu

[2019-09-30 19:43] bedryck commented on #161
[code]

[2019-09-30 19:45] bedryck commented on #161
this is strange, but I found the solution without creating a full controller. I create one background animation and another animation on top of it

[2019-09-30 19:58] bedryck commented on #161
Also, I'm new in a flutter, maybe there's a better way to play animation on button tap using a controller?

[2019-09-30 20:59] bedryck commented on #161
[code]
so, I did return the code to the previous version. but the problem remains the same, this is only playing the first time.

[2019-09-30 21:02] bedryck commented on #161
https://drive.google.com/file/d/1Srmky42yEHocJK2dGU1Pbs0v8jjxs_91/view?usp=sharing

[2019-09-30 21:05] SaeedMasoumi commented on #166
Thank you very much, guys.

[2019-09-30 21:05] #166 closed

[2019-10-01 16:35] umberto-sonnino commented on #161
It looks like both animations aren't getting their time reset to their starting point, so they're not allowed to play again. They're keeping on playing from the point you left the at in the `advance()` function.

If you want to simplify the logic a little bit you can try this with `FlareControls`:
[code]

[2019-10-01 19:39] bedryck commented on #161
Looks great, thank you very much. You have a great service, but as for me, I lack documentation for the flare controller. I found some examples but that was not enough. Good luck!

[2019-10-01 19:39] #161 closed

[2019-10-02 07:09] esDotDev commented on #133
Any updates on this? Currently Flare performance is quite poor on something like a Pixel 1, struggling to maintain even 30fps with a single quarter-screen animation.

Exposing the antialias setting would be a nice start, but hopefully performance overall can be improved?

[2019-10-02 11:35] luigi-rosso commented on #133
We'll add an option to expose the aliasing setting soon which should help particularly on devices with older GPUs.

Make sure you're testing in release/profile. Flare is usually GPU bound, unless you're running in debug mode where it is generally CPU bound.

[2019-10-02 11:39] luigi-rosso commented on #162
There are actually ways to do this with the existing package. It's not a quick one-liner but I'll see if I can cook up an example for you. In the future we'll look into making this easier. I'll share something a little later.

[2019-10-02 22:06] esDotDev commented on #133
Sweet, that would be great. I was running in profile mode, it was the Teddy anim from your examples, and I was getting about 28fps on device. 40fps or so once I disabled AA. The phone (Pixel1) is about 2.5yrs old, but the Adreno 530 GPU is fairly capable AFAIK.

[2019-10-03 16:37] ccadieux opened #167 "Control Speed of Animation Programatically?"
How do you control the speed of the animation programatically?

If not currently possible can this feature be added?

[2019-10-04 12:32] umberto-sonnino commented on #167
A recent issue touched a similar subject, you can take a look at [this](https://github.com/2d-inc/Flare-Flutter/issues/166#issuecomment-536720545) response

[2019-10-04 18:27] jkurtw commented on #160
/cc @luigi-rosso

[2019-10-04 23:25] luigi-rosso commented on #160
Looks like this is related to https://github.com/flutter/flutter/issues/24703

We use [compute](https://api.flutter.dev/flutter/foundation/compute.html) to perform the loading of a Flare file. Compute futures never complete in the testing environment. I'm looking into implementing a workaround using [kDebugMode](https://api.flutter.dev/flutter/foundation/kDebugMode-constant.html).

[2019-10-05 01:16] luigi-rosso commented on #160
Try updating to ```flare_flutter: 1.5.12```.

Then call ```FlareTesting.setup();``` before running any tests. Here's a working example (you'll need a valid .flr file):
[code]

Note that I also had to remove ```await completer.future;``` Even though it was working (it would pass the await), it somehow stalled the rest of the framework after that.