[2019-10-05 01:25] luigi-rosso commented on #167
We could also look into adding a speed multiplier to FlareActor.

I worry that FlareActor is getting a little bloated. We'll be doing some writeups in the upcoming weeks that'll help devs understand how FlareActor works and help encourage you to write your own Flare widgets with special functionality. That'll help keep our codebase lean and unblock devs who want access to features like this withou

[2019-10-06 07:23] addaedans commented on #133
I am also interested about how to change anti-aliasing option, because on Galaxy J6 a simple flare animation in the background kills performance...

[2019-10-08 19:39] mehmetf opened #169 "Cleanup Analyzer Warnings for Flare Dart/Flutter Packages"
Running `flutter analyze` (or looking at the analyzer window of VSCode) reveals many potential issues around return statements, types, etc. To keep the codebase healthy, these should be fixed.

Filing this tracker issue for it.

[2019-10-08 22:20] luigi-rosso commented on #169
These should be up in 1.5.15.

[2019-10-09 01:54] mehmetf opened #170 "Write tests for flare_dart and flare_flutter"
We should start writing unit tests for these packages asap to avoid regressions and breakages.

[2019-10-09 14:37] rnewquist commented on #123
I am able to build the widget for testing, but it doesn't ever call initialize for the controller.  So I have basic unit tests to see if there is a widget, but I can't test anything with the animations because the art board never gets initialized.

[2019-10-09 16:26] rnewquist commented on #123
@luigi-rosso
That worked perfectly!  Thanks so much!

[2019-10-09 22:57] ravenblackx commented on #160
Thanks, that helped significantly.
Followon surprise, after starting an animation and zero-duration pumping a bunch of times,
[code]
The animation has not advanced, whereas
[code]
The animation has moved on as expected, even though in both cases it should be 400ms having passed.

It seems like the animation controller's timer doesn't initialize until the first actual time increment, so the first f

[2019-10-10 12:18] MSchmack opened #171 "Specifying package string"
Image.asset allows to specify the package string, this is nessecary when writing a package and using the asset in a widget of the package. Without this information an error will be thrown when trying to retrieve the asset.

Example with the Image widget:

[code]

Recreation of the situation:

1. Create plugin
 flutter create --org com.example --template=plugin hello
2. Write Widget with FlareActor

[2019-10-10 12:23] MSchmack commented on #156
With the latest master build of flutter you can display FlareActors with flutter for web.

Color changing and fading seems to run with decent or great performance. Drawing something isn't quite animated and just jumps from 0 to 100 after the delay.

I got a [github page I'm using to debug and try flutter for web](https://mschmack.github.io/#/), it has a flare tic tac toe field which showcases the

[2019-10-10 14:29] luigi-rosso commented on #160
I suspect this has to do with the load process being asynchronous. The controller only initializes once the file is loaded. Your strategy with the completer seems like the best way to do it: wait for the initialize and then pump 400 milliseconds.  I couldn't diagnose why simply awaiting the completer would cause subsequent code to lockup. I'll do some further testing to see if I can advance an ani

[2019-10-10 15:41] luigi-rosso commented on #160
Your observations were correct, my assumption was wrong. The first pump effectively starts the rendering/animation process. This is due to how Flare [schedules repainting and tracks elapsed time](https://github.com/2d-inc/Flare-Flutter/blob/f6955940a248bdf839b93c279688c61e0fd08444/flare_flutter/lib/flare_render_box.dart#L128). This code and comments should help clarify:

[code]

Open to suggestion

[2019-10-10 21:03] ravenblackx commented on #160
I think if, in flare_render_box.dart, you made _lastFrameTime null for "hasn't been set yet" rather than using 0 for unset, then pump(no duration) would update it to zero, and pump(some duration) after that would then advance it by that duration, bringing its behavior in line with that of other animations.
ie.
s/double _lastFrameTime = 0.0;/double _lastFrameTime;/
s/_lastFrameTime = 0;/_lastFrameT

[2019-10-11 12:32] elisamuelps opened #172 "Imported Animation Throws Unhandled Exception"
Hello! I'm using the dev branch of Flare-Flutter and I'm loading flare animations without any sort of problems until recently where I did an animation based on an svg file and after trying to run this animation I am having trouble with an unhandled exception, the call stack is as follows:

`E/flutter (31300): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: Exception: type 'Flutte

[2019-10-11 18:54] rnewquist commented on #172
Yes, i thought i was just going crazy.  For some reason or another, the file the I download and put into my assets no longer works.  The exception I now get is Unhandled Exception: Exception: type 'int' is not a subtype of type 'List<dynamic>' when it worked perfectly yesterday.
The error occurs in flare.dart, line 719, make colorStroke.
`FlutterActor.loadFromByteData (flare.dart:719)
<asynchronou

[2019-10-11 18:55] luigi-rosso commented on #172
I'll look into this shortly!

[2019-10-11 18:57] rnewquist commented on #172
@luigi-rosso The scenario where this occurred was when I exported my flr file today and replaced the older one.  I was on version 1.5.13, but I have tested on 1.6.1 and dev branch.  I think something in the formatting of the flr changed and is causing the issue.

[2019-10-11 19:46] luigi-rosso commented on #172
Looks like there may be two issues here. I have a fix for @elisamuelps's issue already on master and dev. It's waiting to publish to pub (been getting lots of 500's from there lately). The fix for the 2Dimensions.com site is going up too. Thanks for catching that!

In the meantime, @rnewquist, could you share your file that's causing problems too?

[2019-10-11 19:49] rnewquist commented on #172
@luigi-rosso
`{
	"version": 23,
	"artboards": [
		{
			"name": "Artboard",
			"translation": [
				0,
				0
			],
			"width": 500,
			"height": 500,
			"origin": [
				0,
				0
			],
			"clipContents": true,
			"color": [
				1,
				1,
				1,
				1
			],
			"nodes": [
				{
					"name": "Stroke",
					"translation": [
						250,
						250
					],
					"rotation": 0,
					"scale": [
						1,

[2019-10-11 19:50] rnewquist commented on #172
@luigi-rosso
https://drive.google.com/file/d/1j1rUV6gOaIvYTjmttmASmgSinQehG-yB/view?usp=sharing

[2019-10-11 19:51] luigi-rosso commented on #172
Thanks trying that now. In the meantime, @elisamuelps could you try ```flare_flutter: ^1.6.2```?

[2019-10-11 19:57] luigi-rosso commented on #172
@rnewquist looks like this issue should only be affecting JSON. I'll have a fix shortly. In the meantime, you could export a binary version from Flare if you want to unblock yourself.

[2019-10-11 20:03] luigi-rosso commented on #172
```flare_flutter: ^1.6.3``` should now be up with both fixes. And the preview page (web viewer) should be working again.

[2019-10-12 10:10] elisamuelps commented on #172
Luigi Thank you for the quick response! that's amazing of you. I will have a look at it and close the issue if everything is working as expected.

[2019-10-12 10:23] elisamuelps commented on #172
I can confirm that now the animation is being displayed and it is working as expected, a massive thanks @luigi-rosso !

[2019-10-12 10:23] #172 closed

[2019-10-13 10:35] ahde46 opened #173 "NoSuchMethodError (NoSuchMethodError: The setter 'value=' was called on null."
Hi, I have a pet flare with several animations and i want the pet only active in one single animation (e.g sleeping, idle..). I created a class that extends the FlareControls and trying use the onCompleted(String name) function to loop the active animation. But i received an error message as the image below.. Any help is appreciated..

Flare version: flare_flutter: ^1.6.2
Flare File: https://www.2

[2019-10-13 10:51] ahde46 commented on #173
little addition information.

![image](https://user-images.githubusercontent.com/49631831/66714547-773b0e80-edea-11e9-8ba7-7a7a68d1bc5e.png)

![image](https://user-images.githubusercontent.com/49631831/66714516-51ae0500-edea-11e9-88a4-7333f6f4b5a3.png)

[2019-10-14 17:15] Tywholland opened #174 "Update documentation to describe what method params do"
I've noticed that a lot of the methods in the generated Dart API docs for Flare-Flutter don't have descriptions about what the parameters actually do. Example: https://pub.dev/documentation/flare_dart/latest/animation_actor_animation/ActorAnimation/apply.html

I had to find the actual documentation for apply in a medium post: https://medium.com/2dimensions/building-a-responsive-house-with-flare-fl

[2019-10-14 17:21] jkurtw commented on #174
cc/ @luigi-rosso

[2019-10-15 10:44] artem-zaitsev commented on #69
@yjoo9317 I found solution. https://github.com/flutter/flutter/issues/25975#issuecomment-542152044

[2019-10-16 01:49] ahde46 commented on #173
I set the ValueNotifier<bool> isActive = ValueNotifier(true) and solved the issue.

[2019-10-16 01:49] #173 closed

[2019-10-16 20:10] luigi-rosso commented on #174
We're working on this!

[2019-10-16 20:30] luigi-rosso commented on #171
We'll expose both the package name and the bundle to use soon. In the meantime, could you try to see if this unblocks you: specify the .flr file's name with a preceding package path ("packages/" + packageName + "/" + flareFile):

[code]

[2019-10-17 01:42] stylehuan opened #175 "update to 1.5.15,Error"
![image](https://user-images.githubusercontent.com/6212099/66971070-544a7c00-f0c2-11e9-84bc-544ee26432af.png)

What am I supposed to do?

[2019-10-17 01:45] luigi-rosso commented on #175
Looks like we have the old version listed, please try: ```flare_flutter: ^1.6.2```

[2019-10-17 21:29] erenbertr opened #176 "_CastError (type 'ActorNode' is not a subtype of type 'FlutterPath' in type cast)"
Hello, i get this error when i try to include flare animation.

This is the animation: https://www.2dimensions.com/a/erenbertr/files/flare/intro-bell/preview

I tried exporting with binary & json. Both didn't work.

The file which causes error: flare_flutter/lib/flare.dart
line 179
`FlutterPath flutterPath = node as FlutterPath;`

This is the json version of the animation:
[code]

[2019-10-17 23:26] #176 closed

[2019-10-20 15:35] rnewquist commented on #123
@luigi-rosso how would you go about generating more flares?  So i am able to initialize the flare and compare that to a golden.  But I can't seem to get the animation to run again to change the tested animation.

[2019-10-22 00:24] JHBitencourt commented on #156
It is not fully supported though. Some animations doesn't work properly.
+1 to the issue

[2019-10-23 15:02] kenwen opened #178 "Lottie To Flare conversion - NoSuchMethodError: The getter 'iterator' was called on null."
Hi,

I'm able to use the FlareActor widget with Flare assets but I've just tried to convert a Lottie file to Flare which does not appear to work. Getting the above error.

Using the latest version of flare flutter

Here's the animation file

https://www.2dimensions.com/a/kenwen/files/flare/loading-spinner

Thanks :)

[2019-10-24 07:05] TheFe91 opened #179 "[1.6.2] Animation partially not loaded"
I've forked and edited a nice animation
https://www.2dimensions.com/a/TheFe91/files/flare/rosso-loader

Unfortunately when I call this animation in my app it shows like this:
https://i.stack.imgur.com/OYnba.jpg

I use it in this way:
`FlareActor(
                  'assets/RossoLoader.flr',
                  fit: BoxFit.fitWidth,
                  alignment: Alignment.center,
                  anim

[2019-10-25 11:18] umberto-sonnino commented on #179
We're currently working on a fix, thanks for the report!

[2019-10-25 11:48] umberto-sonnino commented on #178
I see that your file has an empty Artboard as it's first one, but if you want to use your lottie animation you need to specify the correct Artboard (i.e. `loading-animation`) with a widget parameter, like this:
[code]

We're going to issue a fix for the iterator crash you encountered, thanks for your report!

[2019-10-25 11:57] addaedans opened #180 "Flare animation appears slower than Icons"
I have a program that dinamically changes the icons/animations in Cards, but at the first time the Flare animations starts with around 1 sec delay. The Icons appear immediatly. Can I preload/cache the animation before building a widget somehow?

[2019-10-25 12:19] umberto-sonnino commented on #180
You can take a look here at Flare-Flutter caching strategies: https://github.com/2d-inc/Flare-Flutter/blob/sync_load/loading_strategies.md

If you can provide a better example with files and code I can make probably give you a better suggestion..!

[2019-10-25 15:53] rickgbw opened #181 "Exception: type 'FlutterActorShape' is not a subtype of type 'FlutterPath'"
Hi everyone!

First of all, thanks for this amazing package! It's helping us a lot to creating beautiful animations in flutter.
In one of our animations, we're getting an error. The animation is not showing (transparent) printing this error below on console.

We're using flare_flutter 1.5.8 and flutter 1.9.1+hotfix.5.
Here is the "problematic" flare: https://www.2dimensions.com/a/andrecastro/files

[2019-10-25 20:11] rickgbw commented on #181
We've changed to version 1.5.15 and seens to be working fine now.
My apologies!

[2019-10-25 20:11] #181 closed

[2019-10-26 18:44] pazhut opened #182 "Loop animation, wait until it finish a lap to start another one #62"
i had tried using FlareProgressIndicator from the above . support case, i got a compile error that iSActive (setter and getter) is missing, i tried adding the following lines:

@override
  ValueNotifier<bool> isActive;

but animation do not run

any suggestion on how to solve this?

Thanks

[2019-10-27 16:07] luigi-rosso commented on #182
Hi @pazhut can you share your source? The isActive property is defined on a FlareController and helps FlareActor know whether or not to continue advancing (updating and drawing) the Flare animation.

[2019-10-27 19:28] pazhut commented on #182
Hi Luigi

i had found an hint on your release notes page that mentioned changing into
mixin, i replace the implement statement to with and this seems to be
working now

attached is the latest version for your reference

Thanks for your support

paz

On Sun, Oct 27, 2019 at 12:07 PM Luigi Rosso <notifications@github.com>
wrote:

[2019-10-28 14:34] MSchmack commented on #171
That solution worked for me

[2019-11-05 18:39] jkurtw opened #183 "Dynamically load image into Flare animation at runtime"
We want to generate an image at run time, and then use it in an animation.

With Lottie, we can run time compose the image, then drop it into the Lottie animation. Another example is to just populate it with images that are downloaded from the network.

Is this possible?

It looks like this might be the same question as https://github.com/2d-inc/Flare-Flutter/issues/63

[2019-11-06 10:54] vogella opened #184 "Running examples fail"
If I try to run the examples from their repo, I receive the following error:
[code]

[2019-11-06 17:42] umberto-sonnino commented on #184
Thanks for the report, we're looking into it!
If you want to run the example in the meantime just remove the `flare_dart` dependency from `pubspec.yaml` in `examples/slider`:
[code]

[2019-11-07 01:35] innotechBymoen opened #185 "'ActorNode' is not of subtype 'FlutterPath'"
I am running into issues with only one of my flare exports. The rest of them work fine, but this one keeps throwing a stack trace. I can also simply replace this animation in my code (i.e. the asset file) and the different animation works just fine, so it isn't the specific code.

[code]

Has anyone ran into this with newer .flr files? All of the old ones I have made work just fine with my normal

[2019-11-07 01:43] luigi-rosso commented on #185
Hi @innotechBymoen, sorry to hear that, it does seem like something is wrong with that file. Could you share the .flr file and a link to the file on 2dimensions.com?

[2019-11-07 01:47] innotechBymoen commented on #185
Thanks for looking into this @luigi-rosso
[login_state.zip](https://github.com/2d-inc/Flare-Flutter/files/3817481/login_state.zip)
https://www.2dimensions.com/a/nikodragicevic/files/flare/lg-status

[2019-11-07 01:52] luigi-rosso commented on #185
It seems to be for me. Which version of ```flare_flutter``` do you have defined in your pubspec.yaml? Try upgrading to the latest, ```flare_flutter: ^1.6.5``` and see if that makes a difference!

[2019-11-07 01:56] luigi-rosso commented on #180
We just recently introduced a [FlareCacheBuilder](https://github.com/2d-inc/Flare-Flutter/blob/stable/flare_flutter/lib/flare_cache_builder.dart) which can help you preload flr files for certain sections of your app!

[code]

[2019-11-07 02:06] innotechBymoen commented on #185
Ah of course. That has worked, Thanks!

[2019-11-07 02:14] luigi-rosso commented on #185
Great, glad it was so easy!

[2019-11-07 02:14] #185 closed

[2019-11-07 02:15] #175 closed

[2019-11-07 13:52] addaedans commented on #180
Perfect. Thank you very much for this!

Luigi Rosso <notifications@github.com> ezt írta (időpont: 2019. nov. 7.,
Cs, 2:56):

[2019-11-07 15:34] vogella commented on #184
Thanks a bunch, workaround works fine.

[2019-11-07 17:33] majindageta opened #186 "PNG assets not showing in Flutter"
Hi,
by importing a flare file into a flutter project we're not able to see any of the PNG image that are included in the flare project.  The vector drawing objects are visible.
No error is logged.
Thank you

[2019-11-07 18:10] luigi-rosso commented on #186
Hi @majindageta. I just did a test and it seems to be working here. Can you share the exported .flr file and a link to the file on 2dimensions.com? Are you exporting binary or json?

[2019-11-07 18:25] majindageta commented on #186
Hi, thank you for the answer. I was trying using the example downloaded
from git hub and  not by downloading the latest version.

Using the latest one works fine.

Sorry, I thought using the example from git hub had the latest version...
My bad.

Sorry and thanks again

Il gio 7 nov 2019, 19:10 Luigi Rosso <notifications@github.com> ha scritto:

[2019-11-07 18:29] luigi-rosso commented on #186
No problem, glad it was an easy fix!

[2019-11-07 18:29] #186 closed

[2019-11-07 20:49] luigi-rosso commented on #183
We've added support for this in ```flare_flutter: ^1.7.0```.

In order to use this you'll need to mark the image you want to swap as dynamic in Flare. The gist below has a full example for how to do this using a custom controller.
https://gist.github.com/luigi-rosso/c50277341bd2681be072a575acbeb1fc#file-dynamic_image_swapping-dart-L60

[2019-11-07 20:51] #184 closed

[2019-11-07 20:52] #182 closed

[2019-11-07 20:53] luigi-rosso commented on #180
Np! I'm closing the issue, for now, feel free to re-open if you run into any issues with this!

[2019-11-07 20:53] #180 closed

[2019-11-07 20:54] luigi-rosso commented on #179
Please give this a try in the latest ```flare_flutter: ^1.7.0``` and let us know if it fixes the issue for you!

[2019-11-07 20:55] luigi-rosso commented on #178
Could you try this again with the latest ```flare_flutter: ^1.7.0``` and let us know if the issue is fixed? Thanks!

[2019-11-07 20:56] luigi-rosso commented on #165
@Mkhira could you try this again on a newer Flare+Flutter and let us know if you're still experiencing issues?

[2019-11-07 20:57] #151 closed

[2019-11-07 21:14] TheFe91 commented on #179
Unfortunately I'm no more able to build. This is the error the compilers give me (iOS and Android):

Compiler message:
/Library/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.7.0/lib/flare.dart:1109:11: Error: No named parameter with the name 'cacheWidth'.
          cacheWidth: cacheWidth, cacheHeight: cacheHeight);
          ^^^^^^^^^^
/Library/flutter/.pub-cache/hosted/pub.dartlang.o

[2019-11-07 21:29] luigi-rosso commented on #179
Which Flutter channel are you using?

[2019-11-07 21:29] jkurtw commented on #183
Awesome! Thank you.

[2019-11-07 21:30] luigi-rosso commented on #183
Np! Note that we were testing this on master. I’m getting some reports of errors, there may be some brewing change on other channels..

[2019-11-07 21:32] jkurtw commented on #183
Sounds good

[2019-11-07 21:32] TheFe91 commented on #179
the stable one

[2019-11-07 22:34] sotoyjuan commented on #179
I'm getting the same exact error as @TheFe91 . Running latest stable version too.

[2019-11-07 23:06] luigi-rosso commented on #183
I'm backing out the changeImageFromNetwork functionality until some breaking changes in dev/master land all the way in stable. I'll make it available as a utility function in a gist for anyone who wants to use it.

[2019-11-07 23:18] luigi-rosso commented on #179
Looks like there's a breaking change between stable and dev/master. The dev and master channels have a slightly different signature for the instantiateImageCodec call. Please try ```flare_flutter: ^1.7.1```

Apologies for the hassle!

[2019-11-07 23:22] gabrielginter opened #187 "Latest version 1.7.0 not compiling using Flutter stable channel"
When using latest version of flare_flutter 1.7.0 user will get the following error if they use the Flutter stable channel when compiling.

[code]

Line 1108 in file /lib/flare.dart tries to call method _PaintingBinding.instance.instantiateImageCodec_ with parameters "cacheWidth" and "cacheHeight", such parameters in PaintingBinding haven't been added yet to the stable flutter release.

The followi

[2019-11-07 23:25] luigi-rosso commented on #183
```flare_flutter: 1.7.1``` is up without changeImageFromNetwork.

Here's the changeImageFromNetwork implemented as an extension method for dev/stable: https://gist.github.com/luigi-rosso/c50277341bd2681be072a575acbeb1fc#file-dynamic_image_swapping-dart-L100

[2019-11-07 23:26] luigi-rosso commented on #187
Thanks for the note, we just published 1.7.1 to fix this issue!

If you need to changeImageFromNetwork, here's an example implemented as an extension method: https://gist.github.com/luigi-rosso/c50277341bd2681be072a575acbeb1fc#file-dynamic_image_swapping-dart-L100

[2019-11-07 23:47] gabrielginter commented on #187
wow that was fast!! thanks!!

[2019-11-07 23:47] #187 closed

[2019-11-08 00:03] TheFe91 commented on #179
Wonderful! Now It's working perfectly! Thanks for all the work!
If it's OK for you, I'll close the issue

[2019-11-08 00:04] luigi-rosso commented on #179
Great, no problem, and thank you for reporting and testing!

[2019-11-08 00:12] #179 closed

[2019-11-08 00:18] luigi-rosso commented on #145
Glad to hear you were able to fix this! I'm closing the issue for now, but please reopen if you think there's something we can help you with.

[2019-11-08 00:18] #145 closed

[2019-11-08 10:23] ovidiu-anghelina commented on #133
Any update on exposing the anti-alias setting? I had to go through the 'hack' of copying all classes just to edit a few lines of code.

[2019-11-12 17:04] ravenblackx opened #189 "FlareActor's timer remains active after FlareActor is disposed"
In our unit tests, an active timer remaining at the end of the test leads to a test failure.

If a widget with an active FlareActor is present in a unit test, the test fails due to a timer still being active at the end, unless the animation controller is allowed to complete. If completing the animation triggers another animation, this means we have to remove the widget, pump until it's gone, then

[2019-11-12 20:33] miguelcmedeiros opened #190 "Rendering issues with Asus tab"
Rendering of all flare animations are broken in Asus tab:
![hueblueapp-MainActivity-11012019145114](https://user-images.githubusercontent.com/31278849/68708236-92d53880-0593-11ea-92bf-a7f4cd423c39.png)

This issue was not seen in other devices (iOS or Android).

**Device:** Asus tab
**OS:** Android 7
**Flutter:** 1.10.7 (beta)
**flare_flutter:** 1.6.4
**flare_dart:** 2.2.3

Is there other informat

[2019-11-12 20:40] luigi-rosso commented on #190
Hey @miguelcmedeiros, could you try this on a different Flutter channel and see if the results are different? Similarly, does debug/release make a difference? We've seen issues like this before, usually when they're device-specific they tend to be something out of Flare's reach. We may need to bubble this up to the Flutter repository.

[2019-11-13 14:21] miguelcmedeiros commented on #190
Hi @luigi-rosso, I confirmed that the issue is reproducible in debug and release mode using flutter master channel.

One thing to add to the details is that the creation of the flare animation used in this case, involved importing and svg (what should look like a light build in the screenshot :)). When importing the svg to flare editor, it did not look the same (didn't handle well gradients) and o

[2019-11-13 14:58] miguelcmedeiros commented on #190
We also tried to import one of our Lottie animations to flare editor and it looked fine in there. But when we export the flr file and play it on a flutter app, it misses most of the gradients.

[2019-11-13 16:18] miguelcmedeiros commented on #190
It seems that this device can't also render properly the flare animations from Flutter Developer Quest:

![device-2019-11-13-171624](https://user-images.githubusercontent.com/31278849/68782349-8c999780-0639-11ea-83c4-78e27c858feb.png)
![device-2019-11-13-171606](https://user-images.githubusercontent.com/31278849/68782350-8c999780-0639-11ea-8eb2-a5fd7ce98831.png)
![device-2019-11-13-171545](https:/

[2019-11-14 01:12] luigi-rosso commented on #190
Thanks for all the info! It sounds like gradients in particular are having problems on this device. I wonder if it's a graphics driver issue on that specific device.

There are definitely some SVG edge cases that we don't handle properly in the importer (basically an SVG to Flare converter). But once it looks one way in Flare, it should look the same in Flutter. Are you seeing the issue with the S

[2019-11-14 06:14] stormagain opened #191 "RangeError"
E/flutter (22329): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: Exception: RangeError (byteOffset): Invalid value: Not in range 0..129, inclusive: 130
E/flutter (22329): #0      _ByteDataView.getUint16 (dart:typed_data-patch/typed_data_patch.dart:4367:7)
E/flutter (22329): #1      BinaryReader.readUint16Array (package:flare_dart/binary_reader.dart:66:22)
E/flutter (22329): #2

[2019-11-14 13:42] miguelcmedeiros commented on #190
I dumped so much information yesterday that I didn't structure it properly...
So, we found the issue on a Asus P027 running on Android 7.

Let me try to summarise the issues found mentioned in the previous comments:
1. Importing an SVG when creating a flare animation
- The imported SVG asset misses all kind of gradients in flare editor (our designer fixed this in flare editor)
- The export to flut

[2019-11-14 13:47] umberto-sonnino commented on #191
If possible, could you share you `flr` file and the file on 2Dimensions.com?

[2019-11-14 13:52] stormagain commented on #191
https://www.2dimensions.com/a/tianmingatm/files/flare/chi-xi-gua/preview

https://www.2dimensions.com/a/tianmingatm/files/flare/zhang-yu-chu-xian/preview

@umberto-sonnino

[2019-11-14 13:56] stormagain commented on #191
flare_flutter: ^1.5.15

[2019-11-14 14:00] umberto-sonnino commented on #191
I think that this might be the problem, our current version is 1.7.0. I've just tested them on my end, and they seem to be displaying correctly.
Cool animations btw =)

[2019-11-14 14:18] stormagain commented on #191
when i try it on 1.7.0.
E/flutter (14780): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: Exception: RangeError (byteOffset): Invalid value: Not in range 0..129, inclusive: 130
E/flutter (14780): #0      _ByteDataView.getUint16 (dart:typed_data-patch/typed_data_patch.dart:4367:7)
E/flutter (14780): #1      BinaryReader.readUint16Array (package:flare_dart/binary_reader.dart:66:22

[2019-11-14 18:14] umberto-sonnino commented on #191
I apologize, the latest version is `1.7.1`, that should fix the problem that you just saw.
Also, did you try just re-exporting the file?

[2019-11-15 02:22] stormagain commented on #191
Thank you, when i upgrade to 1.7.1, it works. can you provide a old version tool match 1.5.15 ?
@umberto-sonnino

[2019-11-15 11:01] umberto-sonnino commented on #191
I'm not sure I understand, do you need a version of your file that works with 1.5.15? What's your use case?

[2019-11-15 12:18] stormagain commented on #191
It's a long story, my team is trying out dynamic dploy code on ios with flutter, we code in dart, compile it to js, run in flutter. When we used flutter-flare， We appreciate it very much， so we integrate it in our host ，the version is 1.5.15, currently we need a tool to expore .flr file that work on 1.5.15.   @umberto-sonnino

[2019-11-15 21:09] umberto-sonnino commented on #191
We totally understand the use case, and really want to start supporting it soon!
Unfortunately, it's not supported in Flare just yet. We've been exploring a solution, and we want to get it out there in the upcoming months, but it won’t be backward-compatible with older versions of Flare.

In the meantime, is there anything we can do to help get you upgraded to 1.7.1? We’re really curious about dyn

[2019-11-16 03:04] stormagain commented on #191
Thanks for your reply，this time we have a plan B， and upgrade our host app to 1.7.1 soon.

[2019-11-16 03:04] #191 closed

[2019-11-16 22:42] data987 opened #192 "Exporting with mask not working in devices"
The flare animation goes with mask and yellow square but when I export the .flr file the mask doesn't show on devices

**Flare**

![Screen Shot 2019-11-16 at 5 17 37 PM](https://user-images.githubusercontent.com/8518699/68999882-1b562080-0895-11ea-804f-12f64e16b9d4.png)

**Device**

<img src="https://user-images.githubusercontent.com/8518699/69000006-e945be00-0896-11ea-8401-4ac564db4fee.jpeg" widt

[2019-11-19 19:11] ChristianKleineidam opened #193 "Measuring the distance of a click of the user and a subtree of a flare document"
My app requires the user to click on the correct part of an image. If the user clicked the correct part of image or within X dp of the part I want to start animation_correct, otherwise I want to start animation_wrong.

Does flare provide me inbuild methods to help me? Otherwise, what's the best strategy to implement such a feature?

[2019-11-20 16:28] kasyrm opened #194 "Flare animation inside SingleChildScrollView"
Is it possible to use flare animation inside SingleChildScrollView? It works fine if I put it in a Container inside a Scaffold. When the widget hierarchy is more complex it starts to break, especially after adding SingleChildScrollView above the column that has FlareActor as one of its children.

[code]

I have tried putting it inside a SizedBox or Container with specified size but it didn't have

[2019-11-20 17:01] #194 closed

[2019-11-22 08:00] miguelcmedeiros commented on #190
@luigi-rosso, I tried the latest versions of flare (flare_dart: 2.2.5 and flare_flutter: 1.7.3) and issue #2 in the comment above (created from Lottie) is now solved for us. Big thanks for that!!!

Issue #1 is still the same.

[2019-11-22 15:36] umberto-sonnino commented on #193
This sounds very similar to our example Teddy app, have you tried with [this tutorial](https://medium.com/2dimensions/building-an-interactive-login-screen-with-flare-flutter-749db628bb51)?

[2019-11-22 15:55] luigi-rosso commented on #190
Great, glad to hear it!

Regarding the first issue, in the Developer Quest, most of those artifacts seem to be coming from elements that are drawn texture mapped (canvas.drawVertices). Is the lightbulb created with just vector shapes or does it also have some images?

[2019-11-22 22:41] pblinux opened #195 "FlareActor with transform is laggy"
Hi

I'm having laggy animations when combining FlareActor with a Transform widget. I'm making a walking animation and works good but it's a little slow when a Transform.translation animation it's applied.

This is my widget (applied with a AnimationBuilder)

[code]
Is it a bad thing combine flutter animations with flare? Is there a correct way to achieve this?

Thanks.

[2019-11-23 01:39] luigi-rosso commented on #195
Hi @pblinux, I'm surprised there's a huge difference in performance. I haven't looked at how the Transform effect works under the hood, but it might be using an extra saveLayer operation, which could get expensive. Did you try it in profile/release to see if performance is as impacted there too?

Is it a very complex animation? Could you share the file?

[2019-11-23 01:50] luigi-rosso commented on #193
We don't have anything that easily abstracts this, but Flutter provides everything you need to do this. I can think of two ways to do this.

One would require writing a custom LeafRenderWidget (this is what FlareActor uses). If you haven't seen how these work, basically they create a custom (ideally longer lived) RenderObject which does the actual rendering and loading of visual assets. Our FlareA

[2019-11-23 04:01] pblinux commented on #195
Hi @luigi-rosso

Yes, I share a screen record of the animation that in fact is in release.
https://streamable.com/hmmz8

As you can see, there are 2 animations: a walk and a idle animation. The idle animation works without troubles but applying the transform to the walk animation looks kind of laggy.

The character file: https://www.2dimensions.com/a/pixelagt/files/flare/juana

Maybe you are right

[2019-11-23 23:18] ChristianKleineidam commented on #193
It's great for me to hear that this sounds doable. I'm not very far yet with creating my assets but I created one of a map of Europe. The user is supposed to click on Italy. I ideally get back how far the distance happen to be so that I can either start the "Correct" or the "Wrong" animation (it's nice to have the distance information to store). While preparing this example I noted that there curr

[2019-11-24 06:57] sultanmyrza commented on #16
Any updates on this feature?

[2019-11-25 03:32] CiriousJoker opened #196 "Flare fails to load multiple files at once."
I have 4 files that are named 1.flr, 2.flr and so on.
All files exist and work properly when I test them individually with only one FlareActor.
When I make a Row() out of 4 FlareActors, exactly one of them doesn't display anything.
Hotreloading to make them all display the same file works, meaning that if I change the code for them to all display each file individually, all files work except the o

[2019-11-26 10:34] miguelcmedeiros commented on #190
The lightbulb is coming from an svg

[2019-11-26 23:31] workerbee22 commented on #167
@umberto-sonnino the related issue is a more complicated example of starting X time into an animation then playing to completion. I think we just want the ability to programmatically make sure an animation plays for a duration of X seconds. We can either do this, or spend lots of time editing our Flare animations to set the duration precisely.

@luigi-rosso without adding a speed multiplier to Fla

[2019-11-27 00:32] luigi-rosso commented on #167
Here's a quick example of how a custom controller could do this:

[code]

You can instance that controller with an animation name and speed value, you can then change the speed value while the animation is playing back via a gesture callback in whatever widget holds the controller.
[code]

If you want to roll your own FlareControls with something similar added, take a look at this gist: https://gi

[2019-11-27 02:39] workerbee22 commented on #167
Thanks @luigi-rosso but I actually want to speed up the animation, not slow it down. So based on your example code above, even with speed: 2.0 (anything above 1.0) does not render anything on screen at all. Anything < 1.0 does play at reduced speed.

I've been doing Flutter dev for 18 months, but note I'm having lots of trouble with getting to know Flare, mainly around the animation concepts which

[2019-11-27 02:42] workerbee22 commented on #167
Oh and the flare file is here:

[io_2018_digits.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/3894861/io_2018_digits.flr.zip)

[2019-11-27 02:47] luigi-rosso commented on #167
The mix value controls whether the incoming animation values get mixed over the existing values. Animations apply new values to existing ones. One good example is when you are mixing two animations together, like a run and a walk cycle. You might want to smoothly transition between the two, so you first apply your walk animation with mix 1 and then your run with a mix value between 0-1. This effec

[2019-11-27 02:55] luigi-rosso commented on #167
I only see an "Untitled" animation in that file. I actually don't see anything in that file at all for some reason (regardless of which animation or controller is being used). Could you share the source by any chance?

[2019-11-27 03:00] workerbee22 commented on #167
So its like an audio crossfade? Ok so I get the concept at a high level, but exactly does mix vary between the two animations, time? opacity of both animations? So if we have mix values for run and walk, how does 1 vs 0 - 1 apply? If we just cut from one to another is that equivalent to mix values of 1 and 1 ? I realise this is just second nature to you, but even as a dev having done animations in

[2019-11-27 03:05] luigi-rosso commented on #167
It's exactly like an audio crossfade! One way to wire up a controller is to basically act as a mixer for a bunch of animation channels. Regarding 0-1 it's essentially just like a lerp function, 0 means use only existing, and 1 means completely replace with incoming, anything in-between is interpolated. Every keyframed value gets affected (translation, rotation, color, opacity, constraint strengths

[2019-11-27 03:10] workerbee22 commented on #167
So that flare file has Artboards for digits 0 - 9. Each artboard has "in", "out" and "Animations" animations. Note the digits are all imported Lottie files.

Flare file is public here: https://www.2dimensions.com/a/mikeyman/files/flare/io-2018-digits

[2019-11-27 03:17] workerbee22 commented on #167
btw. For background, I am trying to achieve the Google I/O app CountDown, which can be seen animating on this page about half way down: https://medium.com/androiddevelopers/animating-on-a-schedule-8a90d812ae4

[2019-11-27 03:34] luigi-rosso commented on #167
Awesome! Ok so I tried it out, it seems to work for me, I'm not sure why you would see it with a value lower than 1 but not for one greater than 1. It only advances time once the animation is available, so I'm really stumped as to why you're not seeing it. Here's a video: https://drive.google.com/file/d/16UzC048sMQEf91-e_KeQcoGZCJzNnlAn/view?usp=sharing

[2019-11-27 03:42] workerbee22 commented on #167
Thanks @luigi-rosso for taking such a close look. I'm stumped as well, so trying it on other emulators and devices now. Can you pls post your exact code, including pubspec.yaml. I might be able to spot any differences. btw. Im using packages

flare_flutter: ^1.7.3
flare_dart: ^2.2.5

[2019-11-27 03:53] luigi-rosso commented on #167
I put the full source here: https://github.com/luigi-rosso/flare_control_speed_example

I'm also using flare_flutter 1.7.3 (you don't need to specify flare_dart, btw). I'm on Flutter master btw, not that it should make a difference...what channel are you on?

[2019-11-27 04:12] workerbee22 commented on #167
Thanks I'll have a look at your code shortly. But I've been testing and it does work, but with some interesting results. So I thought I'd document as it may help.

Just playing the "0" digit one-shot animation, but with **speed: 2.0**. When the "in" animation runs, it finishes showing the digit at the end.

1. Physical device Android **Oreo 8.1** on a very **slow device**, run app in **debug** and

[2019-11-27 04:16] workerbee22 commented on #167
btw. I'm on flutter stable, so Flutter 1.9.1+hotfix.6.

Had a look at your example code and its a nice example. Hopefully will help others too 😃👍

[2019-11-27 21:00] workerbee22 commented on #167
@luigi-rosso I had to import flare.dart otherwise **ActorAnimation** and **FlutterActorArtboard** were Undefined.

[2019-11-27 23:22] workerbee22 commented on #167
@luigi-rosso The speed example which is working great using your example code, but having an issue with it when animations are played one after another.

Example full simplified code below (using your speed example code, but rename to SpeedController).

I can play the first animation at slower/faster speed. But subsequent 'next' animations are not initialising properly and do not play. They show a

[2019-11-29 09:13] kasyrm opened #197 "RangeError on app relaunch"
We are using Flare to display different animations based of api response. Thanks for the library!
We've noticed that sometimes after relaunching the app it gives us this error:
[code]

Code:
[code]
It never happens on clean install. Do you have some suggestion why this might happen?

[2019-11-29 10:56] CiriousJoker commented on #196
For some stupid reason, this bug is reproducable when I click "debug" in VS Code, but as soon as I close the app and reopen it (same code, same everything, just without adb connection), it works exactly as intended.

[2019-12-02 03:32] workerbee22 opened #198 "FlareActor callback never called"
Continuing to try and get a basic countdown going. Sample code uses the flare speed control example https://github.com/luigi-rosso/flare_control_speed_example/blob/master/lib/main.dart

Using flare_flutter 1.7.3

This code never prints"finished":

[code]

[2019-12-03 03:17] mano290 opened #199 "Export Binary Or Json - Flutter"
Hello guys,

Which format is better to export? Binary or Json for app in Flutter..

![2019-12-03-00-15-www 2dimensions com](https://user-images.githubusercontent.com/13751782/70017560-377ae280-1562-11ea-8048-a0f3038d2906.png)

Thank

[2019-12-03 09:30] EArminjon opened #200 "How to stop flare animation loop ?"
Hello,

How stop flare animation loop ?

[code]
I try to do it in advance function but true/false do nothing...

On this code example i try to manage a flare animation to set the number of repetition.

Can you help me ?

[2019-12-03 15:45] umberto-sonnino commented on #199
Either will work with Flutter. It depends on your needs, Binary data is more compact but mostly unreadable.
If you want to take a look at the Flare format and make small adjustments like changing a color, use JSON.

[2019-12-03 16:08] umberto-sonnino commented on #200
It looks like you're on the right path, using a Controller is the way to go!
But you're never actually looping the animation:
[code]
This'll stop the animation once the current `_duration` variable is bigger than animation duration by the number of iterations you want it to last, but you keep incrementing `_duration` nonetheless, so the `_duration` time is allowed to increment beyond the animation

[2019-12-03 16:51] umberto-sonnino commented on #198
The callback registered within  `FlareActor` is used on the animations that are played through `FlareActor` only.
Since you're playing animations with your `SpeedController`, you should add a callback parameter to that as well:

[code]

[2019-12-03 18:12] mano290 commented on #199
Thanks for answering...

But my question is about performance, is binary better than JSON? Is reading faster? Or do they both perform the same?

[2019-12-03 21:23] jonas-zebari commented on #14
@luigi-rosso What is the simplest example of reseting the progress of one animation to before beginning another? Or should I say where should I look for an example like this?

[2019-12-03 21:28] luigi-rosso commented on #14
You'd need to do it in the incoming animation. For example, one animation rotates something from 0-360, your other animation should reset that thing to whatever it expects it to be at (if it's not ok for it to be wherever the previous animation left it at).

If you want to do it in code, one trick would be to re-instance the Artboard (when you instance an artboard all the components and their prop

[2019-12-03 22:08] jonas-zebari commented on #14
I have three different animation in my Flare file that are all completely separate from one another. I don't want the looping animation (default state) to interact with the initial build in or the completion animation (it is currently very funky). Here are the animations:

![build](https://user-images.githubusercontent.com/38041304/70093669-e9f88700-15ee-11ea-83b0-cbed6641336e.gif)
![loop](https:/

[2019-12-03 22:20] luigi-rosso commented on #14
It's hard to say without looking at the file, but you probably want to make sure you reset key values in animations that will play after another animation has changed those key properties.

So if you know looping always changes the opacity of something, then an animation that plays after (like success) should reset that opacity to what it wants it to be. Flare does this automatically in the editor

[2019-12-03 22:28] luigi-rosso commented on #14
If you'd like me to setup an example that re-instances the artboard, could you email me an export of the .flr file (or attach it here if you don't mind sharing the export). You can email me at luigi@2dimensions.com

[2019-12-04 06:12] EArminjon commented on #200
[code]

When it return false, animation is not stopped :'(

[code]

[2019-12-04 10:22] umberto-sonnino commented on #200
How are you instantiating your `FlareActor`? If you specified an animation parameter for `FlareActor`, but also a `FlareController` attached to it, that `FlareActor` will keep playing.

The animation parameter is meant to be an easy way to run a single animation, but if you have a more elaborate setup, with multiple animations mixing together, you should resort to using just the Controllers.

[2019-12-04 11:04] EArminjon commented on #200
[code]

I try now to freeze the last image of the animation when all loop are completed :

[code]

It seem to work but I didn't know if i do well :/
And last, question : how clear animation (clear the artboard) in controller  ?

[2019-12-04 14:46] umberto-sonnino commented on #200
If you want to freeze the animation on the last frame it'd be safer to perform the check like this instead:
[code]
This is to prevent any popping in the animation, as with the code above you'd be first applying the looped frame of the animation, and then the last one right away.

By '_clear_', do you mean just paint an empty monochromatic canvas?

[2019-12-04 14:48] EArminjon commented on #200
"By 'clear', do you mean just paint an empty monochromatic canvas?"

Yes, transparent for example.

[2019-12-04 15:39] EArminjon commented on #200
Thanks, for your previous reply, it help me a lot !!!

[2019-12-05 06:09] workerbee22 commented on #198
Thanks @umberto-sonnino but is there any documentation on how **FlareCompletedCallback** works? Changes above crash when ```onAnimationCompleted(_animation.name);``` is executed.

[2019-12-05 10:21] umberto-sonnino commented on #198
`FlareCompletedCallback` is just a type definition:
`typedef void FlareCompletedCallback(String name);`
It is a function that takes a String parameter and doesn't return any value.

In the snippet above, you need to specify a callback in the constructor for it to not crash. I'll update it with a null check!
And when instantiating your `SpeedController`:
[code]

[2019-12-05 13:22] SeniorZhai opened #201 "Is there any plan to support Flutter for Desktop?"

[2019-12-05 13:44] luigi-rosso commented on #201
It is supported! Is there some specific use case that’s not working for you?

[2019-12-06 09:20] yuwen-yan opened #202 "Dynamically download and load flare animation at runtime"
Regarding current API, we always need to provide a Flare filename from the AssetBundle.

    /// Name of the Flare file to be loaded from the AssetBundle.
    final String filename;

But sometime, we'll have a lot of Flare animation to show, and don't want to including all of them in binary, instead we want to download it at runtime first, then show it later. So how to achieve it?

[2019-12-06 17:50] jkurtw commented on #202
/cc @luigi-rosso

[2019-12-06 18:10] luigi-rosso commented on #202
I posted this on our discord channel last week (we're working on getting this into our manual right now). Example code for this is here:  https://github.com/luigi-rosso/flare_network_load

Here's an example of how easy it is to use existing functionality in both Flare and Flutter to create a widget that supports it. https://github.com/luigi-rosso/flare_network_load
GitHub
luigi-rosso/flare_network

[2019-12-06 18:15] luigi-rosso commented on #202
It sounds like what you're trying to do is actually cache it locally after downloading it and then displaying it from that local cache. The example I linked above doesn't use a local cache, but it could be extended to support this. It'd be nice to integrate with a fully-fledged http caching library that honors etags, etc.

[2019-12-13 08:15] nikitattt opened #203 "Blur, Shadows not working"
Tried recently added Blur, Inner, Drop Shadows and found that they are not rendered in Flutter.
Plugin version: `1.8.1`, stable channel.

[2019-12-13 18:33] akilinomendez opened #204 "error in 1.8.0 or bigger"
Hi,  running the same flr in 1.7.3  dont have errors in the 1.8.1 i have this error:

════════ Exception caught by rendering library ═════════════════════════════════
The following StackOverflowError was thrown during paint():
Stack Overflow

The relevant error-causing widget was
    FlareActor
lib\main.dart:46
When the exception was thrown, this was the stack
#0      _TypedDoubleListMixin.setRang

[2019-12-13 18:55] akilinomendez commented on #204
I found that the failure occurs, when I have masks in the animation

Remove this part in the flr file the app launch.
 {
					"name": "Node",
					"parent": 6806,
					"isActive": true,
					"source": 6805,
					"maskType": 0,
					"type": "mask"
				}

I'm waiting, in order to  use the masks.

King regards.

[2019-12-13 19:34] jonas-zebari opened #205 "RangeError trying to read binary .flr file"
**flare_flutter version**: ^1.5.4

**exception name**: RangeError (byteOffset): Invalid value: Not in range 0..132, inclusive: 133

**execption stack trace**:
[code]

exception occurs in function: `static Future<FlutterActor> loadFromByeData(ByteData data)` -> `await actor.load(data, null);`

I was not having this issue until I re-exported and attempted to load my animation from the Rive editor ye

[2019-12-14 01:08] luigi-rosso commented on #203
Hi @nikitattt, can you send a link to your file on https://rive.app?

[2019-12-14 01:10] luigi-rosso commented on #204
Hi @akilinomendez, could you share the flr file and link to the file on https://rive.app if it is public? Thanks!

[2019-12-14 01:30] luigi-rosso commented on #205
Hi @jonas-zebari, I think this is likely a version issue, could you try updating to 1.8.1 in your pubspec and see if that makes a difference?

[2019-12-14 02:16] nikitattt commented on #203
Hi @luigi-rosso, here you go: https://rive.app/a/nikita.nvgames/files/flare/nixie-lamp

[2019-12-14 12:23] BendixMa commented on #205
Having very similar issues using version `1.8.1`:

[code]

The error occurs when I try to cycle between [these 10 flare animations](https://rive.app/a/bnxmhke/files/recent/all) but only when I either update the animation file or the animation using `setState` or reload using hot reload. When I change the values and then make a hot restart, everything is working fine.

I use it like this:
[code]

[2019-12-14 21:19] akilinomendez commented on #204
Hi, for now remove the masks and work,

 I'm working on flutter clock app and I don't want to publish anything to date, but you can do in read mode here https://rive.app/a/aki/files/flare/ciclo-lanzarote

The problem occurs when I create a mask to change the color of the clouds.

Thanks for your answer.

[2019-12-15 01:04] luigi-rosso commented on #203
Thanks @nikitattt, could you post a screenshot of what you see in Flutter? I do see the effects, but some of them look wrong. I need to do a little more investigation but I'm still traveling for the next two days so it may take a little more time to get to the bottom of this. Here's what I see in Flutter, do you see the same thing?

![image](https://user-images.githubusercontent.com/454182/7085654

[2019-12-15 01:06] luigi-rosso commented on #204
I haven't had a chance to investigate this further yet, but have you tried using the binary format? Is the result the same? I'm still traveling for the next two days so I may not be able to get to this until a little later.

[2019-12-16 01:31] luigi-rosso commented on #205
Thanks, that helped me repro! Try ```flare_flutter: ^1.8.2```

[2019-12-16 01:38] luigi-rosso commented on #204
Could you export a version with the mask applied and send the crashing exported .flr file (both binary and json please) to luigi@rive.app?

[2019-12-16 08:04] The-five-stooges opened #206 "The setter 'imageFilter' isn't defined for the class 'Paint'"
[code]

flare_flutter version is 1.8.2 and flutter version is v1.7.8+hotfix.4

[2019-12-16 08:39] akilinomendez commented on #204
Ok, I discovered the error, I really don't know if it's a bug or if I'm doing wrong.

When the shape with mask in the layer flutter don't run.

![fail](https://user-images.githubusercontent.com/3064088/70891019-4770d880-1fde-11ea-8485-3f5b1df56035.png)

Nevertheless,  if the mask outside the shape run

![run](https://user-images.githubusercontent.com/3064088/70891134-8c950a80-1fde-11ea-90fc-71ebc7

[2019-12-16 08:56] vinceMuni commented on #204
I am experiencing the same issue with my animation at https://rive.app/a/Vincemoo/files/flare/hourglass-1
@luigi-rosso I already sent you an email containing my files.
Please let me know if you need anything else.

[2019-12-16 09:28] The-five-stooges commented on #206
update to flutter v1.9.1+hotfix.6 problem solved

[2019-12-16 09:28] #206 closed

[2019-12-16 15:25] jonas-zebari commented on #205
@luigi-rosso I changed my flare_flutter version to `^1.8.2` and ran `packages upgrade` and `packages get`. When building I get this compiler error:

[code]

For your information, I am running flutter version v1.7.8+hotfix.4. Is compatibility for flare_flutter intended for that version of Flutter?

[2019-12-16 16:16] ybbaigo commented on #202
@luigi-rosso so sorry for missing this thread... (used to only check my working mailbox frequently).  do we have ETA for this feature right now? may I know the API design (or WIP pull request link) for this new feature?

[2019-12-16 17:05] Effizjens commented on #203
Hey,
I guess this is kind of the same problem. By adding an inner shadow there is also an  blur effect.
This is my rive file https://rive.app/a/Effizjens/files/flare/new-file .

This is what I see in Flutter.
![Screenshot_20191216-175851](https://user-images.githubusercontent.com/11580136/70926823-0f918180-202e-11ea-9122-107a0c330d34.png)

And here is my code using flare_flutter: ^1.8.2 and flutte

[2019-12-16 19:51] TheSunilVarma opened #207 "Help Needed : I am Not able to Figure out how i can able to use Teddy | TrackingTextInput _controller and My controller both in TextField."
I have Extracted My TextWidget using like this To achieve my Custom UI TextField but not able to figure out where i can use Teddy _controller !? (because i am using my controller for input and password... to get and use it.)

Code...
**In My Login Page..**
`TrackingTextInput(customTextWid: CustomTextWid(focusNode: _focusNode, controller: _controller, workSansSemiBold: workSansSemiBold, envelope: _

[2019-12-16 20:03] TheSunilVarma commented on #207
ScreenShot :

![ss](https://user-images.githubusercontent.com/34575152/70938955-4470f900-206d-11ea-8575-c4a0656cfbf0.gif)

[2019-12-16 21:13] luigi-rosso commented on #204
@vinceMuni could you try ```flare_flutter: ^1.8.2``` and see if that improves things?

SideNote: I noticed you are using a lot of masks, but the shapes you are clipping against are solid. Try using clips instead, the performance will be better on lower-end GPUs. Masking has to draw to a separate layer in order to then do a per pixel blend that gets expensive, especially when applied to a lot of sh

[2019-12-16 21:21] she-who-codes commented on #207
[In this tutorial](https://medium.com/rive/building-an-interactive-login-screen-with-flare-flutter-749db628bb51), it breaks down each step so you can better understand the `teddy_controller` and `tracking_text_input` and how it relates to the input fields.

[2019-12-16 21:26] she-who-codes commented on #174
We recently published our Runtime Manual [here](https://docs.rive.app/runtimes/flare-runtimes).  We are continuing to build on it, but it's consolidated a lot of the information we had spread about in our tutorials.

[2019-12-17 02:13] luigi-rosso commented on #174
Let's keep this issue open to specifically track the Dart API documentation in Flare-Flutter! We still have a long way to go there.

[2019-12-17 09:16] vinceMuni commented on #204
Hi @luigi-rosso,
Thank you for your advices. As you said, with the new version `flare_flutter: ^1.8.2` everything is working smoothly! I changed my animation as well, so I got no problems on running it. Thank you for your job and all the time you spend on it. I think the issue can be definitely closed.

[2019-12-17 09:21] #204 closed

[2019-12-17 09:21] akilinomendez commented on #204
1.8.2 solved.

[2019-12-17 16:08] yjoo9317 opened #208 "Please be more careful when upgrading - Build break from flare_flutter"
Hi @luigi-rosso

We'd been using flare 1.6.5 since we couldn't update flutter SDK to the latest for internal reasons and suddenly we got a build break a week ago.
Apparently, the recent flare_dart upgrade (to 2.3.?, I guess) was causing the break as our build system starts fresh builds.
Since the flare spec points to flare_dart ^2.2.X and our build system picked flare_dart 2.3.0 which requires add

[2019-12-17 18:52] luigi-rosso commented on #208
Hi @yjoo9317, sorry to hear about that. I think I see what happened. We revved the SDK as the library was already using features that were in the newer SDK which we weren't properly depending on in the pubspec. The right thing to do there would've been to combine that change with a major version change, which is unfortunate but I think necessary. Let me know if you have further recommendations, we

[2019-12-17 20:12] yjoo9317 commented on #208
Thanks @luigi-rosso for quick response.
We've taken care of it and don't have any problem with build.
So please do what do you think is best.
I just want you guys to know what happened on our end.
But still, flare is great!!

[2019-12-17 20:38] thetanz-geoff commented on #208
@luigi-rosso @yjoo9317 Thanks for the insight. Very timely for us!

What's the recommended workaround, please? Our `pubspec.yaml` contains:

[code]

But `flare_dart-2.3.2` is referenced during the build:

[code]

[2019-12-17 20:42] yjoo9317 commented on #208
@thetanz-geoff
The quickest solution would be adding
`flare_dart : 2.2.5` BEFORE `flare_flutter : 1.6.2`
Do NOT add `^`
While building, it will get flare dart 2.2.5 version first.

[2019-12-17 22:43] thetanz-geoff commented on #208
Thanks for the speedy reply, @yjoo9317.
This is indeed the approach we took. It's working for us but it's great to have affirmation!

[2019-12-19 01:46] liujiakuoyx opened #209 "The getter 'time' was called on null."
[ERROR:flutter/shell/common/shell.cc(178)] Dart Error: Unhandled exception:
E/flutter (13156): NoSuchMethodError: The getter 'time' was called on null.
E/flutter (13156): Receiver: null
E/flutter (13156): Tried calling: time
E/flutter (13156): #0      Object.noSuchMethod (dart:core-patch/object_patch.dart:51:5)
E/flutter (13156): #1      PropertyAnimation.apply (package:flare_dart/animation/actor_

[2019-12-19 01:49] liujiakuoyx commented on #209
https://rive.app/a/KRay/files/flare/ready-go

[2019-12-19 05:29] nikitattt commented on #203
@luigi-rosso yes, I see absolutely the same thing as in your example.

P.S. Thanks. I'll try to achieve the same effects with nodes. One more point I wanted to mention(not really related to this issue), when working with files that have many elements(example: https://rive.app/a/nikita.nvgames/files/flare/nixie) I notice a significant slowdown in client interface. I don't know if this is an issue a

[2019-12-19 12:12] naonya3 opened #210 "Rendering issue when using hard light, rotation and clipping (Android 9 and 10)"
Rendering issue when using with hard light, rotation and clipping.

| <img width=300 src=https://user-images.githubusercontent.com/1152589/71172346-4ae8b600-22a3-11ea-8a87-0d6431034357.png>  |
<img width=300 src=https://user-images.githubusercontent.com/1152589/71172384-6489fd80-22a3-11ea-9a03-a21a8b399d7d.png> | <img width=300 src=https://user-images.githubusercontent.com/1152589/71172404-723f830

[2019-12-19 15:42] #208 closed

[2019-12-20 18:32] racknoris commented on #156
@JHBitencourt is there something in common for those animations that don't work properly?

[2019-12-21 19:33] tsinis commented on #133
Hey, is there any news about AA turning off? Thanks!

[2019-12-22 08:14] nitneuq33 opened #211 "animation crash"
I have a bug with flare package.

I have a tab bar with 3 pages,

first tab I stack 3 flare animation. Specificity : for each initState I load the asset name with sharedpref to display the saved animation.
Second and third tab nothing special

When I slide tab 1 to 2 and 2 to 1  x Time , sometime I have crash only for this stack flare animation, not for others animation.

exemple :

    //I load a

[2019-12-22 18:02] TheSunilVarma commented on #207
Thanks For help...  i have read the Code and found the use case of teddy_controller and _controller,Now its working :)

[2019-12-22 18:02] #207 closed

[2019-12-23 00:19] pblinux commented on #195
Hi @luigi-rosso

I've been doing some testing, and I think this is related to #133

Disabling **antiAlias** make the animation really smooth and without losing quality (apparently). Works really good now, especially in release mode.

I think this is gonna be a new feature, right?

Meanwhile, disabling **antiAlias** in flare.dart it's a good way to fix this if anyone else is having issues with perf

[2019-12-25 11:15] tirth-aubergine opened #212 "404 Error"
Clicking on [Rive Manual](https://docs.rive.app/support/flare/core-concepts) shows 404.

![](https://i.imgur.com/90AeRDO.png)

![](https://imgur.com/qFzSDVB.png)

[2019-12-26 12:23] ybbaigo commented on #202
/cc @luigi-rosso , I just submitted a PR to support this feature, could you help review? thanks!

[2019-12-26 16:36] luigi-rosso commented on #202
Wow awesome. Apologies for not seeing your reply back either. I’ll be looking into this today!

[2019-12-26 19:33] luigi-rosso commented on #183
Can we close this @jkurtw?

[2019-12-26 19:35] luigi-rosso commented on #202
Got this merged into master via #214, thanks again for the contribution.

[2019-12-26 21:54] jkurtw commented on #183
LGTM!

[2019-12-26 21:54] #183 closed

[2019-12-27 03:42] ybbaigo commented on #202
@luigi-rosso thanks! For NetworkFlare , I have implemented on my side, but I just find that I'm using a google internal package to download&cache flare, which I can't submit it to public project right now. I'm pushing internally to publish that package asap, will add NetworkFlare once it's available. Before that, I'd like to add MemoryFlare to follow [Image.memory], with this provider, we can at l

[2019-12-28 14:04] CiriousJoker commented on #196
I couldn't reproduce the issue with the latest tools. Dunno what fixed this, but in the meantime, a new VSCode version came out and this is the output of `flutter --version`:
[code]

[2019-12-28 14:04] #196 closed

[2019-12-30 23:02] ravenblackx commented on #189
/cc @luigi-rosso

[2020-01-02 15:44] jcairo opened #217 "Functionality of the advance method in Flare controller"
Hi guys. Thanks for the great tool.

I'm working on a Flutter animation that requires a portion of the animation to be replayed while a network request is made. From my understanding this requires a custom controller.

I'm trying to create a basic custom controller to get started but I'm having issues with the advance method.

It seems as though although I always return true from the method, its o

[2020-01-02 17:50] luigi-rosso commented on #217
Hi @jcairo! That does seem strange. Can you post the matching .flr file? If it's private, could you email it to me at luigi@rive.app? I'll follow up here with findings!

[2020-01-02 17:55] jcairo commented on #217
Hey @luigi-rosso! Thanks for the quick reply.

File and link attached.

[FightBell.flr2d.zip](https://github.com/2d-inc/Flare-Flutter/files/4016800/FightBell.flr2d.zip)

https://rive.app/a/jonnyc/files/flare/fight-bell

[2020-01-02 19:13] luigi-rosso commented on #217
I see what happened!

You're inheriting from FlareController with the *implements* keyword which requires you to implement everything yourself (including the ```ValueNotifier<bool> isActive = ValueNotifier<bool>(true);``` which isn't initialized in your code).

Easy fix is to change it to a mixin and remove the ValueNotifier in your code:

Change definition to mixin:
[code]

Delete this:
[code]

[2020-01-03 14:29] jcairo commented on #217
Hey @luigi-rosso!

That was it! Works perfect.

When I return false from the advance function it appears its never called again.

Is there a way to get the advance function to rerun again after false is returned? Is it bad practise to always return true?

Thanks again for the help. Much appreciated.

[2020-01-03 14:59] luigi-rosso commented on #217
Great! Yes, you can reactivate the controller by setting isActive.value = true.

[2020-01-03 15:03] jcairo commented on #217
Perfect!

[2020-01-03 15:03] #217 closed

[2020-01-06 01:20] luigi-rosso commented on #211
It seems like somehow the asset_name_animation value gets set to null, maybe some race condition with how you acquire that value?

Could you share a small example project that shows the issue?

[2020-01-06 01:22] luigi-rosso commented on #210
Thanks for reporting this. We'll do some testing on different Android versions to confirm whether this is a general Android issue, related to a specific version, or related to specific devices.

[2020-01-06 01:24] luigi-rosso commented on #201
I'm closing this issue for the time being as we have not heard back from you and know that various developers are using Flare-Fluter in desktop Flutter. Please re-open if you have a specific use case that is currently not supported!

[2020-01-06 01:24] #201 closed

[2020-01-06 17:51] rodydavis commented on #205
# issue_205

Testing Flare Issue 205

# Flutter Doctor

[✓] Flutter (Channel beta, v1.12.13+hotfix.6, on Mac OS X 10.15.1 19B2093, locale en-US)
    • Flutter version 1.12.13+hotfix.6 at /usr/local/Caskroom/flutter/1.2.1/flutter
    • Framework revision 18cd7a3601 (4 weeks ago), 2019-12-11 06:35:39 -0800
    • Engine revision 2994f7e1e6
    • Dart version 2.7.0

# Flare Version

flare_flutter: ^1.

[2020-01-06 17:52] rodydavis commented on #205
[code]

[2020-01-06 18:36] jkurtw commented on #142
I believe this is a duplicate of https://github.com/2d-inc/Flare-Flutter/issues/202

[2020-01-06 20:55] gabber235 opened #218 "[ Web ] The following UnimplementedError was thrown during paint(): UnimplementedError"
On the latest version running in chrome, there is a UnimplementedError the stock success-check.
https://rive.app/a/pollux/files/flare/success-check/preview

[code]

══╡ EXCEPTION CAUGHT BY RENDERING LIBRARY ╞═════════════════════════════════════════════════════════
The following UnimplementedError was thrown during paint():
UnimplementedError

The relevant error-causing widget was:
FlareActor org-

[2020-01-07 00:57] ybbaigo commented on #142
Hi @nisimjoseph , right now I'm adding `MemoryFlare` https://github.com/2d-inc/Flare-Flutter/pull/215 , with this provider, you can fetch flare data by yourself and render it with `FlareActor.memory(xxx)`

I'm also planning to add a light version `FlareActor.network` later, will update this thread once it's ready.

[2020-01-07 09:09] nisimjoseph commented on #142
hi @ybbaigo  this is great!!!

[2020-01-07 21:32] Chaitanyabsprip commented on #203
I have the same issue
what is the fix?

[2020-01-09 08:18] nitneuq33 commented on #211
I solved it with

Navigator.pushAndRemoveUntil(context,   MaterialPageRoute(
                      builder: (context) => DrawerPage(),
                    ), (e) => false);

[2020-01-09 08:18] #211 closed

[2020-01-09 16:58] davystrong opened #221 "Can't get rotation to take effect"
I can't get the rotation I set to take effect. I tried to set the rotation inside my controller (extending FlareControls) but it doesn't update unless I play an animation. As the change is very small, I don't want to animate. Any suggestions?

[2020-01-10 08:15] pk3199 opened #222 "How to slow down flare animation from seconds to hours"
I am developing an animation for solar tracking app. In that the sun has to revolve around the given arc for 12 hours or even more. I have created the animation in flare for 30 sec but i need to extend the duration up to 12 hours. How to expand it in flutter..?
use the following link to view and access the animation
[https://rive.app/a/PraveenKumar/files/flare/solar-tracking/preview](url)

[2020-01-10 15:04] umberto-sonnino commented on #221
It sounds like your code isn't activating the controller properly.
Could you post it, together with your Rive file?

[2020-01-10 15:09] davystrong commented on #221
The code:
[code]

Link to the rive file:
[https://rive.app/a/davystrong/files/flare/hour-hand-2](url)

[2020-01-10 15:44] umberto-sonnino commented on #221
If you take a look at the [`play()`](https://github.com/2d-inc/Flare-Flutter/blob/398bbd66d894a9203ffebdf2eb1f0cf028b0d580/flare_flutter/lib/flare_controls.dart#L35) function in `FlareControls`, it adds the animation to the list of animations controlled by `FlareControls` and activates the Controller itself.

The flag contained in the `ValueNotifier isActive` is necessary for `FlareActor` to know

[2020-01-10 23:31] davystrong commented on #221
Great, that seems to have worked! I hadn't realized I could change the value of ```isActive```. Thanks for your help!

[2020-01-10 23:31] #221 closed

[2020-01-13 16:20] nikitattt commented on #203
Hi @luigi-rosso! How this issue is going?
Planned to use elements with shadows and blur in Flutter Clock Challenge which deadline is on 20 January...

[2020-01-14 17:47] avinath1998 commented on #203
Yep same, still facing this shadow issue.

[2020-01-15 19:15] kingcla commented on #203
Hi @luigi-rosso I am also facing the same problem (for the flutter clock challenge as well BTW). There is a shadow in my model and it appears blurred in Flutter.
 In Rive:
![image](https://user-images.githubusercontent.com/29022704/72463546-c4f15980-37d3-11ea-9819-9a9e641c3e8a.png)
In Flutter:
![image](https://user-images.githubusercontent.com/29022704/72463560-ca4ea400-37d3-11ea-98cc-f51d9fa2d0b1

[2020-01-15 23:21] luigi-rosso commented on #203
Apologies for the delay on this. Could everyone who is facing the issue please make sure to update your posts to include a link to your file (or please email the .flr2d files to luigi@rive.app)? Hoping to get this fixed in the next couple of days.

[2020-01-16 15:31] Chaitanyabsprip commented on #203
https://rive.app/a/chaitanyabsprip/files/flare/neu-circle

[2020-01-16 18:56] luigi-rosso commented on #203
Thanks! Please try version ```flare_flutter: ^2.0.1```, where it should be fixed.

[2020-01-16 20:05] kingcla commented on #203
@luigi-rosso I just tried, it works!! Thanks ;)

[2020-01-17 14:33] tsinis opened #224 "cachedActor example is no longer working"
Hello!

Dear Rive Team, first and foremost, thank you very much for this amazing tool, it is unprecedented. There is an issue with **cachedActor** function, it's not working anymore in flare_flutter **2.0.1**, like **in your example** code:
https://github.com/2d-inc/developer_quest/blob/8a7ef09687309c4f48ef040c091fbb44e7b1b909/lib/src/widgets/flare/warmup_flare.dart#L30

Could you please provide u

[2020-01-17 16:45] umberto-sonnino commented on #224
Hi @tsinis thanks for the support!
I've just run our [basic example](https://github.com/2d-inc/Flare-Flutter/blob/e38f120dd7a62c72adfdeb5fd40039d7ada518bb/example/simple/lib/main.dart) and it seems to be working here..!

Is there some case in particular that's failing for you?

[2020-01-17 18:38] tsinis commented on #224
Hey @umberto-sonnino

Thanks for your reply! Sadly, your basic example does not using **cachedActor** function. I'm talking [about that specific case](https://github.com/2d-inc/Flare-Flutter/issues/110#issuecomment-504242040) mentoed by @luigi-rosso.
It is used in your developer_quest app (i've linked in first message). It have to cache animation in main.dart before app loaded completely, but It d

[2020-01-19 16:04] egyleader opened #225 "Stop animation in certain time"
I have an animation of the day sun and moon animation that I want to stop it at specific percentage of the animation , how can I do that ?

for example :

`animation duration 10 s , animation percent .25 , stop animation at 2:30 s `

[2020-01-20 08:48] tsinis commented on #224
Hi @umberto-sonnino!

I'm cllosing Issue, since I have figured out how to do it.
Old way mentoed in documentation, [Loading strategies](https://github.com/2d-inc/Flare-Flutter/blob/sync_load/loading_strategies.md):

[code]
New way, since package version 2.0+

[code]
Please update documentation. Thanks in advance and see you in Warsaw on Friday!

[2020-01-20 08:48] #224 closed

[2020-01-21 01:01] egyleader opened #226 "animation of mask doesn't show in flutter"
I have 2 animations of the moon that I want to mix together the animation of the moon position and the animation of the moon phase , you can refer to this file for more clear vision of what I want to achieve :

I think the best way to achieve this animation is by making the moon and it's mask a child of a node and animate this node for position and animate mask for moon phase ,, **and that works a

[2020-01-24 17:26] MathiasYde commented on #156
@racknoris With my short time of experimenting with it, I can say that masked objects usually don't render well in my experience. (See examples)
![image](https://user-images.githubusercontent.com/35201354/73089294-3a48e280-3ed6-11ea-82b9-224edd0faddf.png)
![image](https://user-images.githubusercontent.com/35201354/73089405-74b27f80-3ed6-11ea-9b12-be61034e8181.png)
Rive link: https://rive.app/a/mat

[2020-01-25 08:29] racknoris commented on #156
@MathiasYde Were you able to find a workaround?

[2020-01-25 16:15] MathiasYde commented on #156
@racknoris Unfortunately not, my speculation is that Rive has updated some data structure on their website, but not their runtime yet. I can't know for sure.

[2020-01-25 20:27] luigi-rosso commented on #156
There are some Flutter features that haven't yet been ported to the web runtime, one of them is [PathMetrics](https://api.flutter.dev/flutter/dart-ui/PathMetrics-class.html) which we use for trim paths (one of the features used by the linked file). There's an issue in the Flutter repo tracking this: https://github.com/flutter/flutter/issues/41395

[2020-01-26 18:20] liodali opened #227 "how to use flare animation in plugin"
i want to add animation flare to my new plugin but i get error
unable to load

[2020-01-26 20:09] #227 closed

[2020-01-30 23:55] NickalasB opened #230 "Disappearing animation pieces on conditional animation string switch"
I'm running into an issue where conditionally swapping animation strings results in **part of my second animation** being removed. I have tested both animations individually and they both perform as expected and don't end on an empty frame. I have tested this out with a few animations and there is consistently strange behavior.

I'm not sure if this contributes but, due to the nature of my conditi

[2020-02-04 05:18] hsnbsst opened #231 "Animation does not work after compiling in ios"
It works in ios animation emulator and my own phone but it doesn't work when you compile and send it to test flight

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.14.6-pre.25, on Mac OS X 10.15.2 19C57, locale tr-TR)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.3.1)
[✓

[2020-02-05 10:06] Karlculations commented on #231
I am having the same issue on Android as well. Works fine while debugging and testing, but doesn't show up in release mode.

[2020-02-05 10:21] hsnbsst commented on #231
Fixed with flutter update

[2020-02-05 11:03] Karlculations commented on #231
Yeah lol, you beat me to it. I updated just after sending that and realized it started working again.

[2020-02-05 14:13] #231 closed

[2020-02-06 03:20] emadsoliman25 opened #232 "The argument type 'Null Function(dynamic, dynamic)' can't be assigned to the parameter type 'ImageStreamListener'."
Compiler message:
    ../../.pub-cache/hosted/pub.dartlang.org/flutter_plugin_pdf_viewer-1.0.3/lib/src/page.dart:33:26: Error: The argument type 'Null Function(dynamic, dynamic)' can't be assigned to the parameter type 'ImageStreamListener'.

[2020-02-06 03:22] #232 closed

[2020-02-06 21:53] dwach414 commented on #226
having the same issue

[2020-02-08 10:31] ggslayer opened #233 "does flutter have implements the custom property ability?"
Does flutter have implements the custom property ability?  I only see the example with js/cpp, but no flutter, is this no implement now?

[2020-02-08 10:35] ggslayer opened #234 "trigger event mechanism problem?"
I see the example code and the flutter sdk code about the trigger event,  But i don't understand the componts/fromtime/totime parameter means, Is there any detailed description about the event's usage?

[2020-02-10 15:30] Nijinsha commented on #180
How to cache the same animation globally?

[2020-02-10 15:43] Nijinsha opened #235 "How to cache an asset globally"
I have a loading .flr asset. I need it to be cached when the app loads. And access the cached asset anywhere in the app?

[2020-02-14 10:25] umberto-sonnino commented on #235
If you want to warm up the cache before the app runs you can do this:
[code]

This keeps all Flare files warmed up in cache via ```FlareCache.doesPrune = false;```

Once your Flare cache has been warmed up, you can use the named constructor `FlareActor.asset` for building the widget with the appropriate asset.

[2020-02-14 11:39] umberto-sonnino commented on #234
The idea for `ActorAnimation.triggerEvents(components, fromTime, toTime, triggerEvents)` is to have the animation give you back a list of all triggered events in a time window that goes from `fromTime` to `toTime`. All triggered events will be added to `triggerEvents`.

More specifically you'd want to call that function once per frame, where
- `components` array is the list of the components in th

[2020-02-14 12:19] aragonet commented on #218
The same happening here.

(It's a shame not to be able to use any flare animations because this stills failing)

<details>
<summary>Flutter doctor</summary>
[✓] Flutter (Channel beta, v1.14.6, on Linux, locale es_ES.utf8)
    • Flutter version 1.14.6 at /flutter
    • Framework revision fabeb2a16f (2 weeks ago), 2020-01-28 07:56:51 -0800
    • Engine revision c4229bfbba
    • Dart version 2.8.0 (b

[2020-02-19 03:48] shine-labs commented on #127
@luigi-rosso You mention about:

How would you go about implementing this approach?

[2020-02-19 09:45] mohammadamir98 opened #237 "Mat2d library changed"
The library you should use for mat2d is
package:flare_dart/math/mat2d.dart
 not package:flare_flutter/math/mat2d.dart

[2020-02-19 12:32] racknoris commented on #156
@MathiasYde sorry for the late response- Thank you very much for the detailed answer!

[2020-02-20 19:00] crystaldonut commented on #218
Was able to get stuff working on Flutter Master Channel 👍

[2020-02-20 19:01] crystaldonut commented on #156
Just tested some Rive files on the flutter master channel, pathmetrics is working :)

[2020-02-21 00:05] jkurtw opened #238 "OOM when loading three Rive assets"
We have three Rive assets that need to be loaded into memory, which is causing an OOM condition. It seems each individual animation occurs a large ~60M initialization cost.

Can this be reduced?
Would combining these assets into one artboard help?
These were converted from Lottie. Would it be better to reexport from AE directly to .flr?

[2020-02-21 00:07] jkurtw commented on #238
cc/ @kf6gpe

[2020-02-21 00:37] luigi-rosso commented on #238
Hey @jkurtw, are you seeing the memory usage in terms of Skia cache size or just raw Dart heap?

If you're using a device memory profiler, it may not make the distinction. The Flutter dev tools should tell you the actual Dart heap size, which can help determine if the file is somehow allocating a lot of data to initialize in Dar or if Skia is doing the allocation behind the scenes for rendering.

[2020-02-21 02:30] etenoch commented on #238
Hi Luigi, i'm working with Kurt on this issue,

We're seeing large spikes in memory usage when our `FlareActor`s are first rendered. We load 3 different animation files (all less than ~30kb) in `FlareActors` with `BoxFit.contain` and customs `FlareController`s. All 3 animations are wrapped in `Opacity` widgets (initially) set to 0 and are all in a `Stack`.

When these widgets first render, we see

[2020-02-21 12:07] MathiasYde commented on #156
@crystaldonut Even for web?

[2020-02-21 21:36] luigi-rosso commented on #238
Regarding anti-aliasing, @umberto-sonnino can help point you in the right direction. I'm not sure if we got that feature published yet, but we have a new feature that lets you toggle anti-aliasing on/off.

We don't clear out any memory or do any extra allocation during initialization. Whatever is allocated during initialization from the Dart side persists until the FlareActor (or instance of) is c

[2020-02-21 23:42] umberto-sonnino commented on #238
Regarding anti-aliasing, there's [this](https://github.com/2d-inc/Flare-Flutter/pull/228) PR from the `antialiasing_flag` branch that adds a boolean toggle for the `FlareActor` widget.
The example app in the `/simple` folder within that branch shows how to use it.

[2020-02-22 00:03] etenoch commented on #238
I've been able to repro the issue with a flutter app in a non-google build environment in an android emulator with `Dart SDK 2.7.0` and `Flutter 1.12.13+hotfix.8`.

I've confirmed that this issue is specific to our 3 lottie-converted assets. I downloaded a couple random assets from rive.app and swapped them out and i don't observed the same memory spike. I will share the test flutter project (whic

[2020-02-24 09:17] aragonet commented on #218
This is an issue of flutter web, and we do not use master, we use beta channel (https://flutter.dev/docs/get-started/web#set-up) as you can see on our flutter doctor logs

[2020-02-24 17:26] luigi-rosso commented on #238
Thanks @etenoch. Are you only seeing this issue on Android? I tried it on an iOS simulator and got an 18MB spike which doesn't go back down. 18MB does seem a little high to me for those animations but considering it's also including GPU buffers allocated, it makes more sense than 60MB.

![image](https://user-images.githubusercontent.com/454182/75175171-b2c5dd80-56e6-11ea-9c61-54a25a37297b.png)

We

[2020-02-24 18:25] etenoch commented on #238
In the process of setting up my mac to run on ios. Will update with those findings today. That said, our app is only targeting Android and another platform (but not ios).

I have also noticed, on android, that the memory usage doesn't also go back down. I had thought that might just be a dart dev tools glitch since I've seen the memory graph glitch in similar ways. In most cases, the usage drops b

[2020-02-24 18:52] etenoch commented on #238
iOS 13.3 in Simulator. Seeing similar memory deltas as you. Adding the `Container(width:10, height:10, ...)` does seem to shave ~4mb off the top.

![image](https://user-images.githubusercontent.com/1919500/75181599-79479f00-56f3-11ea-91c7-4636c26bd4d5.png)

[2020-02-25 12:17] mbnsoft commented on #16
**Try this:**

[code]

**Usage:**
[code]

[2020-02-25 14:50] ravenblackx commented on #238
Re the question about Opacity widgets, those widgets are only using opacity 1 or 0 without interpolation, which according to the Flutter documentation is supposed to mean they won't be allocating an extra buffer.

[2020-02-25 17:32] luigi-rosso commented on #238
That sounds good @ravenblackx, it shouldn't be using any layers for that. @etenoch do you notice a difference on Android in release/profile mode?

[2020-02-25 18:45] etenoch commented on #238
Yes, running in profile on an Android phone, the issue is not reproducible. I can still repro in debug on the real phone.

I'll follow up with you via email about why this is still an issue for us, even though its fine on profile/release on android.

[2020-02-26 22:16] DiogoTheCoder opened #239 "GPU exceeding 25ms frames while having a background image"
I've created a Flare animation and have tried to use `FlareActor` to display it, however, I am experiencing lagginess when loading and running the animation. I have added an `AssetImage` to a `BoxDecoration` so it can appear in the background of my app. I then added a Column which includes the `FlareActor`.

[code]
[tonded_courses.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/4258420/tond

[2020-03-01 06:52] yuwen-yan commented on #202
Closing this issue for now as MemoryFlare is merged and we can download&cache flare data by ourselves and pass the data in memory to FlareActor directly.

[2020-03-01 06:52] #202 closed

[2020-03-02 08:31] mohammadne commented on #218
same issue

[2020-03-03 11:01] MSchmack commented on #156
Gave it a try and updated my trial web app. Some seem to run smooth while some.. are funny.

The X on the Tic Tac Toe field draws smooth, the circle draws something odd first then pops into a circle.

https://mschmack.github.io/#/

![msedge_mYHk3FIFyK](https://user-images.githubusercontent.com/37783519/75769349-4ed69100-5d46-11ea-949d-f0d794f25d05.png)

![msedge_bCNnUCvE7X](https://user-images.git

[2020-03-10 10:28] mohamedenab commented on #180
@luigi-rosso i have try your example but i get error
`The element type 'String' can't be assigned to the list type 'AssetProvider'.`

` FlareCacheBuilder(
                ["assets/images/justplay.flr"],
                                                                                                     builder: (BuildContext context, bool isWarm) {return FlatButton(

[2020-03-11 07:57] mohamedenab commented on #180
@addaedans can you provide me example of what you did

[2020-03-12 12:47] tsinis commented on #180
You are trying to cache animations old way — it's not working anymore since v2.0.1, here is proper way how to make it:
https://github.com/2d-inc/Flare-Flutter/issues/224#issuecomment-576169853

Loading Strategies are not yet updated, there is open PR to fix it https://github.com/2d-inc/Flare-Flutter/pull/240

[2020-03-14 18:54] kiaxseventh commented on #218
same issue

i have very simple animation
it work on android but it do not work on flutter web !
flutter web Nothing show about my animation 😃

[2020-03-27 03:15] uxrefiner opened #241 "FlareActor not displaying in { environment: sdk: ">=2.1.0 <3.0.0" }"
I created a simple animation with Rive of a red square moving across the screen to test out importing it into a Flutter app. I used "flutter create" in the terminal to create a fresh flutter project to test this out, and I was unable to get the Rive animation to display using FlareActor until I changed the sdk version in the pubspec.yaml file.

environment:
  sdk: ">=2.1.0 <3.0.0" **//FlareActor b

[2020-03-27 12:55] m1n093 opened #242 "Flutter WEB not display flr artboard and animation"
On android work perfect, but on flutter web Chrome, Firefox is invisible.

https://rive.app/a/m1n0/files/flare/human-body

`name: splendor_app
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  flare_flutter: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  use

[2020-03-28 21:25] uxrefiner commented on #222
You can just set the animation to loop in Rive and when you export the binary, the animation will infinitely loop

[2020-03-29 21:49] tsinis commented on #242
Hey! It's dependent on few factors, actually shadows, blur etc. effects are not fully supported in Flutter Web, as far as I know. You can try to simplify your animations, with removing effects or just wait for Rive Team to fix this. They haven't made made any huge updates in last month, so I believe something big is prepared.

[2020-03-29 21:56] tsinis commented on #222
Hey @uxrefiner I think this is not what the @pk3199 wants. In my opinion he wants to slowdown animation for being animated for a long time (like hours, days). I've made something similar in my Flutter Clock project. My animation was just 24min long but it's playing all day long (24 hours).
Take a look at this realization:
https://github.com/tsinis/flutter_clock/blob/97f7c572f8e36e61aa8c5c662966279

[2020-03-31 20:19] hibbert-de opened #244 "animation always restarts in Listview.builder"
Hi,
i want to to add a flutter animation at the first item of a listview. so i decided to take a Listview.builder. The page is a statefull widget because i have to update the listview sometimes if a new event arrives over a websocket.

so i tried this one here:
[code]
if i just scroll down a little bit the animation is starting from beginning.
is it possible to have a animation in a listview.build

[2020-04-06 16:12] IchordeDionysos opened #245 "Expose option to configure package for FlareActor"
We should be able to set the package of an asset.

We are able to do this, for built-in Widgets, like ([Image.asset](https://api.flutter.dev/flutter/widgets/Image/Image.asset.html)) and external libraries, like ([SvgPicture.asset](https://pub.dev/documentation/flutter_svg/latest/svg/SvgPicture/SvgPicture.asset.html)).

We should also be able to use it for Flare.

Due to our usage of Add-to-App and

[2020-04-06 18:06] creativecreatorormaybenot commented on #245
The `package` parameter is only a convenience function (see [frame, `AssetImage` as an example][package]).  This means that the following two setups are equal:

[code]

Thus, you can do the following:

[code]

At least, until my PR (#246) is merged.

 [package]: https://github.com/flutter/flutter/blob/3e63411256cc88afc48044aa5ea06c5c9c6a6846/packages/flutter/lib/src/painting/image_resolution.dart#

[2020-04-08 09:03] jeanmatthieud commented on #244
I have the same issue with a "SingleChildScrollView", and "physics" set to "AlwaysScrollableScrollPhysics()".
The FlareActor is rebuilt and the animation restarts. How to avoid this behavior ? Is it a bug or the normal behavior ?
I thought that the FlareActor will properly manage the animation state.

[2020-04-08 19:48] m1n093 commented on #242
its even work on desktop Windows but not on web :(

[2020-04-10 11:24] aurony commented on #232
Hi, have you solved this?

[2020-04-10 15:51] emadsoliman25 commented on #232
I changed the package to flutter_full_pdf_viewer and worked well

[2020-04-10 21:07] luigi-rosso commented on #226
Sorry for the delay here. Please try ```flare_flutter: ^2.0.3```

[2020-04-11 13:19] samster1990 commented on #199
Hi, I have one question related to the same export. Is there any loss of style when you export in Binary. One of my design layers which had blur style got exported as a flat layer in binary.
Any idea what might be the reason?
And is there any way to control the styling of the layers in flutter

[2020-04-11 21:40] MeshkaniMohammad commented on #242
Same problem here.
Animations are messed up in JUST web version.
https://rive.app/a/meshkani/files/flare/doctor
[result in web](https://i.imgur.com/d43LCdR.png)
[result in mobile](https://i.imgur.com/hGRX5Dw.png)

[2020-04-19 04:51] LucasTejero opened #248 "Web error weird drawings"
In the editor and on ios and Android it work very well

![RightColor](https://user-images.githubusercontent.com/33489545/79679880-14cf2a80-81e0-11ea-87aa-70e0e7e9e0a7.gif)

But when i deploy it to the web using flutter it starts to draw in a weird way.

![ErrorColor](https://user-images.githubusercontent.com/33489545/79679888-287a9100-81e0-11ea-8004-732f948d18cc.gif)

Flutter 1.17.0 • channel beta

[2020-04-20 10:09] kawal7415 commented on #241
Same Issue happening here

[2020-04-27 12:14] NicolasCELLA commented on #133
Heelo, they are news about this problem ?

[2020-04-29 07:45] littleGnAl commented on #245
Any update on this?

[2020-04-29 09:08] creativecreatorormaybenot commented on #245
@littleGnAl You can use a Git dependency with ref `d7311fa5d885aa091f5da7cb8a4e2372eb1deb08` for now.

[2020-04-29 12:56] agordeev commented on #43
It'd be great to have `FlareController` as easy to use as Flutter's `AnimationController` :(
Too much boilerplate to simply run the animation in reverse.

[2020-04-30 21:24] mehmetf opened #249 "Using penguin.flr to hello_flutter increases overall memory usage by 80M"
We are debugging memory problems of some of our key customers in Google. As part of that, we are trying to see which assets end up consuming the most memory.

As a first data point, loading `penguin.flr` from a sample app into a simple hello_flutter app bumps memory usage by nearly 80M.

Before Flare:

[code]

After Flare:

[code]

A sizable increase is observed in native heap (+23M), graphics (+3

[2020-04-30 21:41] mehmetf commented on #249
Tried adding another penguin actor with a different animation full size in a column. The memory usage does not increase for that:

[code]

[code]

Loading an entirely different (but much simpler) animation also does not affect the memory significantly.

[code]

However, it is interesting to note that native heap is the only dimension that goes up with a different animation.

[2020-04-30 21:45] mehmetf commented on #249
Replacing both animations with the simple animation also results in same memory profile. The new animation is mostly white with small balloons and confetti floating around periodically. I would have expected the graphics memory to be lower for this kind of setup.

[2020-04-30 22:05] BrainRayChristensen opened #250 "Animation breaks in web, but works in ios/android"
I've been digging for awhile to find the root of the problem and after reporting this issue in a couple different libraries I think I've finally traced the problem back to here (maybe).

## Steps to recreate:
1. Create a generic flutter project with web enabled.
2. Add following .flr file to assets folder and pubspec.yaml
[logo.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/4561616/logo.fl

[2020-04-30 22:08] BrainRayChristensen commented on #250
As a side note, if this isn't an issue with your library, it would be awesome if you could point me towards where you think the problem is. And if there is anything else I can post to help with debugging, please let me know.

[2020-04-30 23:48] sbarbat opened #251 "FlareControls never stops"
FlareControls never stops nor triggers `onCompleted()`

The problem is line [84 of flare_controls.dart](https://github.com/2d-inc/Flare-Flutter/blob/f8951d387b3fada2cb05f151ffe40173f344402c/flare_flutter/lib/flare_controls.dart#L84): `if (layer.time > layer.animation.duration) {` because layer.animation.duration is never lower than layer.time.

In my code fixed it with `if (layer.time >= (layer.an

[2020-05-01 19:13] #251 closed

[2020-05-01 20:47] LucasTejero commented on #242
Im having the same issue,even on 2.0.3 and my animation is quite simple.

https://github.com/2d-inc/Flare-Flutter/issues/248

[2020-05-02 07:22] littleGnAl commented on #245
@creativecreatorormaybenot Thanks!

[2020-05-06 18:21] harshptl14 commented on #226
I am in master channel, and my animation Image is displayed, but animation is not working.
I have imported this dependency : flare_flutter 2.0.3
What is the problem, is there different dependency available for master channel? or I have to back on stable channel?
I was Exploring flutter Web so i went to master channel, and in web, this flr assets is not displaying, any solution? Thank you.

[2020-05-07 09:13] gabber235 commented on #242
I'm having the same issue. I also use a png image in my [animation ](https://rive.app/a/gabber235/files/flare/revo-logo) but I don't use something else complicated. But I still get this error:
[code]
I get this error on all channels of flutter (master, dev and beta). If this is different from your case I will make a separate issue.

[2020-05-07 16:53] luigi-rosso commented on #250
Thanks for reporting this. There are two issues here but the fundamental one is that Flutter Web does not support image shaders for triangle meshes, which is how Flare renders images. Unfortunately, that means that Flare images won't work in Flutter Web right now. What we can do on our side is disable them from drawing so you don't get exceptions.

Here's the line in the Flutter engine: https://gi

[2020-05-10 05:28] dnfield commented on #249
I commented on this elsewhere to you, but what happens if you reduce the resource cache using the Skia system channel?

I suspect that the animation is gobbling up available resource cache space from Skia, and that's what's causing this.

[2020-05-14 13:34] dannyvalentesonos commented on #235
@umberto-sonnino This sort of tripped me up, as we started seeing flashing in our app and it was because flares were suddenly getting pruned, so that when using them again they'd have to be warmed again. I couldn't really find any documentation on this and had to find it the hard way by debugging and finding out our flares were taken out of the cache suddenly, which led me to this ticket. What is

[2020-05-16 04:20] BrainRayChristensen commented on #250
In the meantime, do you know if there are there specific animations that cause this error, or is it all?

[2020-05-19 02:31] ionSurf commented on #10
Hi! How can I make 2 different animations show their final states? Like having both mixed at 1.0 each.

[2020-05-19 07:14] tsinis commented on #250
As i wrote before — simplify your animations and you are good to go in Flutter Web, even in it’s actual state. Don’t use trim paths, blur, shadows, opacity in gradient animations etc. I have one pretty complex animation without all that things, additionally with controller on mouse hover events — everything runs butter-smooth, on all platforms including web. If you can tolerate this certain visual

[2020-05-19 11:12] petermnt opened #252 "type 'StraightPathPoint' is not a subtype of type 'CubicPathPoint' in type cast"
Since releasing our latest version of the app we have a new error in our crash reporting related to Flare.

Android:
`
type 'StraightPathPoint' is not a subtype of type 'CubicPathPoint' in type cast
       at ActorArtboard.advance(actor_artboard.dart:327)
       at FlareActorRenderObject.advance(flare_actor.dart:458)
       at FlareRenderBox._beginFrame(flare_render_box.dart:120)
       at Schedul

[2020-05-19 11:42] andrewpmoore commented on #160
We've found that by running test and wrapping them in runUnsynchronized we can keep flare animations working without any obvious issues
[code]

[2020-05-19 21:52] ionSurf commented on #10
Hello again. There seems to be a problem when mixing using vertices editing. For example, while a square having 2 different animations, each one applying a x-scale and a y-scale respectively, the same transformation done using vertices does not achieve the same effect.
<img width="462" alt="Screen Shot 2020-05-19 at 5 51 25 PM" src="https://user-images.githubusercontent.com/1911873/82382148-79f188

[2020-05-19 23:31] ravenblackx commented on #160
I think that's a solution to a different problem. Good to know though!

[2020-05-22 12:56] ChristianKleineidam commented on #193
@luigi-rosso I'd love to implement this future soon. Can you hook up an example as you said above or give me pointers about how I can best do it myself?

[2020-05-25 05:56] a7medpa commented on #133
Don’t laugh but I’m interested if AA will help with performance on a device like the nexus 5.

Does anyone have a timeline on when this will be released or is the only workaround to copy down the classes and modify all the paint calls for it to work?

Last question, has there been any solutions to fix that 16ms GPU load on iPhone’s?

[2020-05-25 19:39] AtixD opened #253 "Artifacts after update to 1.17"
https://github.com/flutter/flutter/issues/57959

[2020-05-26 18:44] gabber235 opened #254 "[Web] Clipping not working"
When clipping is used on the web it isn't displayed.

Inside Rive:
![image](https://user-images.githubusercontent.com/16163838/82937988-6615cb00-9f91-11ea-869c-490ac82fb778.png)
[Rive](https://rive.app/a/gabber235/files/flare/logo)

On flutter web:
![image](https://user-images.githubusercontent.com/16163838/82938093-9198b580-9f91-11ea-8a88-a4b6796c9ffe.png)

[2020-05-27 16:40] d-silveira opened #255 "How to load flare file from an url instead of an asset?"
Hi,

I'd like to receive the animation .flr file from a web service. Is this possible? how?

thanks,
Regards,
dsilveira

[2020-05-27 23:57] tyirvine commented on #43
I ran into this problem as well @izzatzr. What I decided to do was just to make one animation for running forwards and one for running in reverse, which was super easy (just swap the start & and key frame positions in Rive).

Then I just used a bool to swap between the two
[code]

This isn't the best solution but it works!

`¯\_(ツ)_/¯`

[2020-05-28 13:17] Tapaswi846580 commented on #43
Is there any way to change the key frames pragmatically ?

[2020-05-28 15:06] Ahmadre opened #256 "Color is not reacting to Theme changes"
## Steps to reproduce

1. Create (or get) a random Flare file with rive.app
2. Export it as a binary file (.flr)
3. Import it in Flutter by this snippet (by the way `TinyColor` is working with other Icons. So `TinyColor` isn't the problem here):

[code]

__Sidenote__: I also tried:
[code]

but none of them are working. It seeems, that `FlareActor` is ignoring `Theme` maybe?

4. Have the `theme` an

[2020-06-01 16:29] mehmetf opened #257 "Need InkDecoration equivalent for Flare"
We have a large Google client who wants to use Flare animations as a Material decoration. That means any kind of interaction on the Material (such as ripples) must be drawn on top of the Flare animation.

Flutter has a widget for this that specifically works for Image widgets (https://api.flutter.dev/flutter/material/Ink/Ink.image.html). We need an `Ink.flare()` implementation.

Also see: https://

[2020-06-01 22:19] mehmetf commented on #249
@jacob314 FYI

[2020-06-03 07:11] dnfield commented on #249
The linked engine PR lowers memory consumption by the penguin animation by about 4 or 5 megabytes locally for me.

[2020-06-05 11:07] ouxiaoyong commented on #252
The same issue occurred in our app

[2020-06-06 18:16] DanielZanchi opened #258 "Bad quality for ovals"
Hello, I'm having problems with the quality of ovals in a FlareActor.
This is the widget where I'm using the actor:

` Widget build(BuildContext context) {
    return Container(
        padding: EdgeInsets.all(extraPadding ? 0.5 : 0),
        height: 24,
        width: 24,
        child: FlareActor(
          "assets/animated/$fileName.flr",
          alignment: Alignment.center,
          fit: Bo

[2020-06-07 16:55] Ahmadre commented on #256
I did a workaround by exporting different flare assets with different colors. But then the color property is maybe useless.

[2020-06-08 08:01] mocha234 commented on #180
Hello. By any chance there's way to pre cache bulk globally? Thanks.

[2020-06-10 17:03] mrxten opened #259 "How to reset model?"
Hi, before start another animation I need to fully reset model, is it possible?

[2020-06-11 09:04] umberto-sonnino commented on #259
Are you trying to reset your Flare file to what it looks like in the 'Design' pose in the Flare editor?

Our runtimes will allow you to work with the animations in the editor, so if you want to have everything go back to 'Design' mode, you could create a placeholder animation in which you key everything at the start, and swap back to that when needed.

[2020-06-15 09:40] umberto-sonnino commented on #253
Thanks for the report! Could you provide an example Rive file for us to test?

[2020-06-16 21:50] AtixD commented on #253
@umberto-sonnino Please note, You can see this bug only on real device.
[Recorder.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/4789263/Recorder.flr.zip)

[2020-06-18 14:37] luizwalber opened #260 "Animation State not changing"
Hello everyone,

I don't know if this is a bug or I'm just doing something wrong, I'm trying to create an animated background, like the gif bellow:

[![WhatsApp-Video-2020-06-18-at-11.07.22-AM.md.gif](https://s7.gifyu.com/images/WhatsApp-Video-2020-06-18-at-11.07.22-AM.md.gif)](https://gifyu.com/image/uieR)

Gif Link: https://gifyu.com/image/uieR

it Starts nicely, but when I try to go back to 'ni

[2020-06-18 15:37] neurowave commented on #260
You probably need to set some keys at the start of whatever animation plays after night_idle to set it back to its original state, if that's what you want. We don't do this automatically when you play a different animation because that would defeat the benefits of animation mixing. You as the animator are in control of what happens when the next animation plays, but it's an additive process. So if

[2020-06-18 15:40] luizwalber commented on #260
but the night_idle is in loop, shouldn't reset to initial state when finishing?

[2020-06-18 15:50] neurowave commented on #260
Not unless you tell it to finish the loop before transitioning to the next state. If you want to be able to interrupt the state at any time, then you need to put the same keys from the start of your night_idle loop to the start of the next animation that gets triggered.

This is perhaps something one of our engineers like @umberto-sonnino can help with better than I can, as I'm not entirely sure w

[2020-06-19 18:10] this-is-rafa commented on #230
Did you ever find a solution to this? I'm having the same problem.

I'm wondering if making the conditional fire a different `FlareActor()` every time might solve it.

[2020-06-22 08:37] umberto-sonnino commented on #260
Thanks for the report, I looked at your repo, and I see that you're swapping animation names in the code. This might work, but it's not ideal, as you'd probably want to mix your animations together instead.
We have an example called [FlareControls,](https://github.com/2d-inc/Flare-Flutter/blob/stable/flare_flutter/lib/flare_controls.dart) and taking inspiration from that, you can build your own..!

[2020-06-22 08:48] umberto-sonnino commented on #230
Would you mind sharing your Rive files on the website?
When we encountered this in the past, generally the problem was that different animations need to reset the state of their nodes to the values they need. For example: if you set the opacity of one node to 0 in your animation, by playing a different one without resetting that same node's opacity to 1, will cause the node to be transparent.

[2020-06-22 14:07] this-is-rafa commented on #230
This was exactly it. I set keyframes at the start of all the animations for all properties that were modified in the other animations, and it now works perfectly.

Thanks!

[2020-06-24 01:53] luizwalber commented on #260
Wow, thanks a lot, that resolve the problem totally

Thank you very much

[2020-06-24 08:51] #260 closed

[2020-06-24 10:05] Kitlim opened #261 "Unable to display animation correctly from Rive 'Filip' fork by Jctoon"
Hi there,

Does anyone experience the same problem as I did... I forked the Filip animation by JcToon and exported it without changing anything, first in Json format and second time in Binary format. I have also download a version from 2dimension websites (https://cdn.2dimensions.com/Filip.flr).

Somehow for the first two versions, ie. the Binary and Json version gave a garbled animation, whereas

[2020-06-26 05:09] digitalrbnz commented on #242
Did you solve this? Same issue with me on Web.

[2020-06-29 03:39] #203 closed

[2020-07-01 11:34] imcoffeefreak commented on #242
Any workaround ?

[2020-07-01 21:53] LucasTejero commented on #248
This package is mark as supported in web but its useless with this type of error,nobody answer in 4 months

[2020-07-02 07:57] umberto-sonnino commented on #248
Hey Lucas, sorry for the late reply!
Unfortunately Flutter for Web supports for Trim Paths differently than it does everywhere else, it seems that this might be related to that.
Can you share your rive file link so I can take a look?

[2020-07-02 08:06] umberto-sonnino commented on #261
I've exported the file from here directly: https://rive.app/a/JuanCarlos/files/flare/filip and it works just fine.
Can you share the link to your file on Rive?

[2020-07-02 09:00] umberto-sonnino commented on #253
So we've taken a look at this, and we can see the artifacts too -- but only while drawing paths on Flutter Stable. In fact, running that same file on the Flutter Dev channel it draws fine.

[2020-07-02 09:01] umberto-sonnino commented on #258
This might the same as #253. Would you mind trying this on the Flutter dev channel and see if the issue is resolved?

[2020-07-02 10:33] umberto-sonnino commented on #242
Unfortunately images are [not supported yet](https://github.com/flutter/flutter/issues/33616) in Flutter for Web.
Only workaround for now is to recreate those assets as vector shapes.

[2020-07-02 21:02] mrxten commented on #259
I found another way. For reset animation I just reset flare widget. For that need wrap actor with some widget with unique key, and when need reset model change unique key

[code]

[code]

[2020-07-02 21:02] #259 closed

[2020-07-03 08:57] umberto-sonnino commented on #242
Actually, the latest Flutter master with CanvasKit should support images -- just flutter run your app with the flag: `--dart-define=FLUTTER_WEB_USE_SKIA=true`

[2020-07-03 11:21] umberto-sonnino commented on #256
Is your 'idle' animation looping? If possible, could you share your Rive file url?

[2020-07-04 19:11] Ahmadre commented on #256
@umberto-sonnino I would like to send you the file on an email address or something, but not on public. Would you write via my github account email?

[2020-07-06 19:39] LucasTejero commented on #248
Yes,this is the link to that file

https://rive.app/a/tejerolucas/files/flare/bringt-loading-v1

[2020-07-07 16:32] NickalasB commented on #230
@umberto-sonnino Thank you for the reply. When you say, "Would you mind sharing your Rive files on the website?," can you explain more where I should do that? Thank you

[2020-07-07 16:40] ravenblackx commented on #189
It looks like this has been silently fixed at some point.

[2020-07-07 16:40] #189 closed

[2020-07-07 16:57] ravenblackx commented on #160
It looks like the zero-duration pump not starting the animation has been fixed - I suspect the timer behavior has been changed significantly since another timer-related issue was also fixed.

[2020-07-07 16:57] #160 closed

[2020-07-07 17:00] ravenblackx commented on #160
No, my mistake, the animation not starting until after the first time-advance is still an issue, I just happened to be touching it in a test where the animation was completing a full cycle. But I'll open it as a separate issue, because the title of this one has nothing to do with it.

[2020-07-07 17:13] ravenblackx opened #262 "Animation doesn't start until after the first positive time-step"
In a test:
[code]
doesn't work - the animation will actually be at the 0ms position.

[code]
Same, doesn't work.

[code]
Works, (though at that point the animation *should* be at 401ms not at 400ms, and it's not!).

I think if, in flare_render_box.dart, you made _lastFrameTime null for "hasn't been set yet" rather than using 0 for unset, then pump(no duration) would update it to zero, and pump(som

[2020-07-07 17:14] ravenblackx commented on #160
Created issue #262 for this.

[2020-07-08 16:53] kf6gpe commented on #238
@luigi-rosso,we're seeing some similar memory issues we've traced back down to some RIve assets as well, on another project --- have you had a chance to look at this any further? I can probably coordinate with you by email to get you the assets, but they'd be under NDA; they're for an internal Google effort.

[2020-07-08 21:15] JHBitencourt commented on #111
For those who are trying to implement the same thing and are wondering how to use the new `cachedActor()` method:

Old way:

[code]

New way:

[code]

[2020-07-09 06:38] Moizsohail opened #263 "Flare flutter not rendering properly"
Flare flutter is working abnormally however it is working perfectly fine on the rive app. It renders some of the objects and misses out on rendering some assets on random or running some  of the animations altogether.

Flare_flutter versions tested on: 1.8.3,2.0.5

This following is the main project which I later broke down it into different files with their own animations in an attempt to fix it.

[2020-07-10 08:24] umberto-sonnino commented on #263
When others have encountered this issue in the past, generally the problem was that different animations need to reset the state of their nodes to the values they need.

For example: if you set the opacity of one node to 0 in your animation, by playing a different one without setting that same node's opacity to 1, will cause the node to be transparent.

Can you try by just adding a few extra keys

[2020-07-10 08:27] umberto-sonnino commented on #230
@NickalasB If they are public files, can you share the www.rive.app url so that I can take a look at that animation file?

Also, could you try adding an extra key to set opacity back to 1, at the beginning of each animation that need those elements to be visible?

[2020-07-10 10:25] emilysmithson commented on #235
@dannyvalentesonos I'm having the same issue. I have a lot of flare assets and it is taking ages to cache them all. Once they are all cached it all works really smoothly. Did you find a workaround?
Thanks

[2020-07-10 12:28] dannyvalentesonos commented on #235
Unfortunately no workaround @emilysmithson . The only thing is to not pre-cache, or only pre-cache ones that are critical.
@umberto-sonnino any thoughts on my comments above?

[2020-07-10 13:57] emilysmithson commented on #235
Thanks, @dannyvalentesonos

[2020-07-10 18:09] luigi-rosso commented on #249
That's really interesting because the penguin animation doesn't use any vertices (unless something it uses allocates vertices under the hood). That's a vector-only animation, flare_flutter will only directly allocate and draw vertices when it has raster content.

[2020-07-10 18:14] luigi-rosso commented on #249
The issue generally addressed by that PR does sound like it would help with other Skia objects too. For example, we'll regenerate paths which animate each frame. This causes Skia to use up more cache bytes. It doesn't recoup those until the animation loop's been idle for some amount of time (I think it was [15 seconds](https://github.com/2d-inc/Flare-Flutter/issues/99#issuecomment-502181818)). Ski

[2020-07-11 13:04] umberto-sonnino commented on #235
If so, then I find that the design isn't very flexible. It's basically all or nothing for whether you want to keep flares warm. So, what is the point? I'd suggest that information on whether the asset should be pruned or not should be a property on the AssetProvider. This way you could decide which assets should never be pruned because they are important to keep warm, while others don't have to st

[2020-07-12 15:04] Moizsohail commented on #263
[code]

[2020-07-15 08:57] tsinis opened #265 "Matrix4 rendering bug on macOS (package v2.0.5 only)"
Hello, good people from Rive, it's me again — one of your biggest fans!

This time I want to report a bug rather than a issue. The thing is that when I use version **2.0.5** of your plugin in **macOS** builds, I get wrong rendering elements that are displayed using Matrix4 (like pseudo 3D, like in your tutorial about Hamilton card from New York). There are **no such bug in versions 2.0.1-2.0.4**.

[2020-07-15 09:22] tsinis commented on #248
Hey @LucasTejero!

I can see a trim paths in your animation, it's no go for a Rive in Flutter Web ATM. You will have to expand strokes and animate them as normal paths, via edit vertices and translate tool. This is more sophisticated and will take a lot longer, but it will work. Also if you are not happy with rendering colors, effects etc. try to run your web with those flags:
[code]
Аlso avoid co

[2020-07-18 11:52] AndroidNils opened #266 "No accessibility support (screen readers)"
## Description
At the moment flares can't be detected by screen readers...

## Demo
You can see that Talkback (Android screen reader) can't focus the flare widget.

![FlareScreenReader](https://user-images.githubusercontent.com/24459435/87851844-d93a1e80-c8fc-11ea-8ed8-c9a917d1ea30.gif)

## Steps to reproduce

<details>
<summary>Code to reproduce</summary>

[code]
</details>

1. Copy code to repro

[2020-07-18 16:41] eduardotd commented on #250
Only writing to receive updates on the progress of this issue...

[2020-07-19 23:03] alvinkonda opened #267 "First time load"
I'm not sure if someone else has written about this issue before but i'm experiencing a slight delay when you first open the icon on Android (not tested yet on iOS).

[2020-07-19 23:19] alvinkonda commented on #267
Ok, i tested in release mode and all is fine. the icons loads correctly. Great work btw.

[2020-07-19 23:19] #267 closed

[2020-07-23 19:15] abdullah432 opened #268 "animation showing differently in application then what is design in rive.app"
I want to achieve a checkbox animation. I create the two animations in a single [.flr file](https://rive.app/a/student432/files/flare/checkbox/embed).
https://rive.app/a/student432/files/flare/checkbox/embed
One is unchecked, it is a circle with + inside. I will be shown when item is not selected. When uses select the item then I want to show a beautiful animation and after that want to stop the s

[2020-07-23 19:40] luigi-rosso commented on #268
When you swap active animation, the values set by the previous animation's keyframes carry forward.

To fix this, make sure that you're resetting keyframes in both animations that you expect to be reset/changed back to some state your animation expects. For example, if one animation hides something, make sure the other one makes that item visible again.

The editor resets keys automatically for yo

[2020-07-23 19:52] abdullah432 commented on #268
@luigi-rosso But why the checkmark animation is not showing but reset is showing. I think this is not an issue of keyframes. It's missing?
Also, I'm a beginner so can you help me to provide workable code for this.

[2020-07-23 19:59] luigi-rosso commented on #268
It seems like the checkmark animation is showing, it's just that the white check icon is hidden, probably because the previous animation (unchecked) is somehow hiding it. The fix should be to set a keyframe in "checked" for whatever you're doing in "unchecked" to hide the white icon.

[2020-07-23 20:10] abdullah432 commented on #268
What I want to do is to place this FlareActor Widget on the list of products. By default unchecked will be shown but when user want to add that product to cart then this beautiful animation will be shown. And after that that checked mark will be active until user again didn't unmark it.
By my beginner knowledge, I think I did everything correctly. In "unchecked" animation + opacity is 1. I can't m

[2020-07-24 06:56] abdullah432 commented on #268
@luigi-rosso Also one request. We have [`AnimatedIcon](https://api.flutter.dev/flutter/material/AnimatedIcon-class.html)` widget available in flutter and it's so easy to use but the problem with that is it has limited number of animation available. So to create my own custom icon animation I consider rive but I don't find it easy. If the rive team makes something simple like [AnimatedIcon](https:/

[2020-07-24 09:53] umberto-sonnino commented on #268
@abdullah432 as Luigi was suggesting, just add an Opacity 1 keyframe at the start of the 'checked' animation for the 'Check' object, and your problem should be solved.

The problem shows up because you're playing the 'unchecked' animation first, making the 'Check' object invisible. This value carries over when you're playing the 'checked' animation right after, that's why you need to reset it back

[2020-07-29 10:03] abdullah432 commented on #268
@umberto-sonnino @luigi-rosso  Thanks for the help. I fix it.

[2020-07-29 10:03] #268 closed

[2020-07-31 14:36] orestesgaolin commented on #133
Seems like the newest version 2.0.5 has ability to disable anti-aliasing https://pub.dev/packages/flare_flutter/changelog

[2020-07-31 16:21] umberto-sonnino commented on #133
@orestesgaolin thanks for pointing it out, we merged the PR a few days ago. Let us know if this improved performance!

[2020-07-31 16:37] a7medpa commented on #133
Where can we find the usage/example of how to disable anti-aliasing?

[2020-07-31 16:40] umberto-sonnino commented on #133
We update the our ['simple' example](https://github.com/2d-inc/Flare-Flutter/blob/cd731c2e14b46f05d0c256909a28dd3339a83676/example/simple/lib/main.dart) with a button that does it on demand.

[2020-08-01 03:39] dsitaliM commented on #180
You can warm up the cache globally in the main() function:

[code]

However, this adds an additional 3 or more seconds to your app startup time.

[2020-08-04 19:03] ravenblackx opened #269 "README says you can include mixSeconds on FlareActor to blend between animations. mixSeconds parameter doesn't exist on FlareActor."

[2020-08-05 13:23] camillo777 commented on #218
Same here!
I guess it is due to method "Canvas.drawPicture" not implemented for web?

[2020-08-05 22:51] luigi-rosso commented on #262
Hey @ravenblackx, sorry for the delay in replying. As you figured out, the first pump will always start the cycle so whatever time is pumped will not count towards the accumulated elapsed value until the animation cycle has started (after first pump). Your solution for a pump of 0 seconds is good, but we opted to use -1 as the flag instead of null. We'll be submitting this fix shortly to pub.dev.

[2020-08-05 22:57] luigi-rosso commented on #262
Give this a shot with ```flare_flutter: 2.0.6```. Thanks again for the feedback.

[2020-08-07 10:38] HannibalKcc opened #270 "can not use `.flr2d` file"
E/flutter (17128): PK

[bluetooth_connect_animation.zip](https://github.com/2d-inc/Flare-Flutter/files/5040885/bluetooth_connect_animation.zip)

i am new for Flare-Flutter ，tks for any help.

[2020-08-07 11:09] umberto-sonnino commented on #270
There are two options for exporting files, you can read about them [here](https://docs.rive.app/rive/exporting-assets).
.flr2d files are backup files, if you use the other option in the menu you'll be able to run it with this package.

[2020-08-07 19:26] MarcoF09 opened #271 "Unable to render JSON flr with FlareActor"
Hi everyone!
I'm facing a problem when I try to render frl files exported as JSON. I tested with the same file exported as binary and it works well but with JSON not and I did not find anywhere that this is a restriction.

## Expected Behavior

![image](https://user-images.githubusercontent.com/48211847/89680201-e1b4c200-d8c8-11ea-8c5f-57fde36f7e20.png)

## Current Behavior

![image](https://user-

[2020-08-10 01:47] HannibalKcc commented on #270
@umberto-sonnino thank you so much.

my designer just give me a .flr2d file, so i did not realize it.

[2020-08-10 01:47] #270 closed

[2020-08-11 02:48] doppio opened #273 "Expand FlareActor to fill parent"
Hello!

I'm trying to fit a FlareActor to its parent by width, which I can by providing a fit of BoxFit.contain and setting the sizeFromArtboard parameter to true. The size of the rendered art is correct, but the widget takes up much more vertical space than necessary. It seems like it should be possible for the FlareActor to size itself such that it fills up constraints as much as possible, while

[2020-08-11 16:15] sebastianbuechleratcamaelion opened #274 "Flare Animation takes long on first appearance"
Is it possible to load an animation on startup before it appears the first time? Otherwise it takes quite a while until the animation appears for the first time.

[2020-08-12 07:07] sebastianbuechler commented on #274
I think here we can find a solution: [https://github.com/2d-inc/Flare-Flutter/issues/235](https://github.com/2d-inc/Flare-Flutter/issues/235)

[2020-08-13 11:43] acoutts opened #275 "'dart:ui/painting.dart': Failed assertion: line 193: '<optimized out>': is not true. --> FlutterActorLayerEffectRenderer.draw"
When I try to use this animation, I get the following exception every time it runs. It affects both iOS and Android equally.

Version:
[code]

Animation that is broken:
[SELFIE.flr.zip](https://github.com/2d-inc/Flare-Flutter/files/5068770/SELFIE.flr.zip)

Error:
[code]

Flutter doctor:
[code]

[2020-08-17 18:45] ravenblackx commented on #262
That did it, thanks.

[2020-08-17 18:45] #262 closed

[2020-08-18 10:48] alirezava opened #276 "FlareActor callback persisting unwanted state"
Hi,

New to flare and flutter so I might be using it wrong. But what I'm trying to do is create a simple Stateless widget that renders a background with a flare animation with a callback on completing animation. However, once the callback is set it will get called even when instantiated with a new callback (or null).

`
class LoginHeader extends StatelessWidget {
  final Function callback;
  final

[2020-08-20 03:45] bing6 opened #277 "Image position deviation"
![image](https://user-images.githubusercontent.com/8476017/90714589-9c39c100-e2da-11ea-8220-cfc7e33a5999.png)

import 'package:flare_flutter/flare_actor.dart';
import 'package:flutter/material.dart';

void main() {
  WidgetsFlutterBinding.ensureInitialized();
  runApp(Material(
    child: MyHomePage(),
  ));
}

class MyHomePage extends StatefulWidget {
  @override
  _MyHomePageState createState()

[2020-08-28 10:36] pallavbohara commented on #79
recent beta version of flutter(1.19.0-4.2.pre) is not giving this error.

[2020-09-04 17:49] abid-shaon-3r commented on #250
Following

[2020-09-09 18:43] dccruzt commented on #252
Some updates for this issue? I'm facing the same problem

[2020-09-10 14:42] nt4f04uNd commented on #253
@umberto-sonnino can confirm the precense of the artifact on the current master head. One thing for you to note: artifacts are gone without antialias.

This actually kinda needs severe fixing.

Animation a tested with:
https://rive.app/a/nt4f04und/files/flare/play-pause/preview

See videos:

* [Artifacts](https://youtu.be/6JtjSGmd4U0)
* [Artifacts are gone with disabled antialias](https://youtu.be

[2020-09-11 04:27] mehmetf opened #278 "Raster cost of certain flare animations are quite high"
We have a customer who came up with a number of animations taking up nearly 40ms per frame to render.

I am attaching a sample animation, Skia trace done via DevTools and the SKP image which can be loaded to Skia Debugger.  To quote one of the developers I talked to:

Skia SKP: [flare_jank.skp.gz](https://github.com/2d-inc/Flare-Flutter/files/5205857/flare_jank.skp.gz)
DevTools Trace: [dart_devtoo

[2020-09-11 04:28] mehmetf commented on #278
It is entirely possible that these animations are quite expensive due to the way they were designed. In that case, it would be great if you can point me to "performance best practices" that I can relay to designers so they are mindful when creating such animations.

[2020-09-11 04:28] mehmetf commented on #278
@luigi-rosso FYI

[2020-09-11 18:28] luigi-rosso commented on #278
Thanks @mehmetf. One thing that comes to mind, did you try disabling anti-aliasing for these? We have an option for that in the FlareActor and it usually helps significantly on older devices.

Adding different portions of the animations to a RepaintBoundary would be challenging. Possible but would also require breaking the renderer up such that it understands which items belong to which boundary.

[2020-09-12 00:11] mehmetf commented on #278
Thanks @luigi-rosso . Capturing a `skp` and analyzing it in Skia seems too much for a designer to do. Are there a series of best practices that highlight what type of animations might perform badly on lower powered phones? Perhaps a simulator at design time or some sort of stats report that shows how many complex paths it will end up drawing etc.

I will try to turn of anti-aliasing. Thanks for th

[2020-09-12 04:01] mehmetf commented on #278
@liyuqian FYI, see Luigi's comment above.

[2020-09-14 18:41] liyuqian commented on #278
@luigi-rosso : I'd like to know more details about why it's infeasible to have Flare directly access lower level SkSurfaces with Flutter's threaded rendering. Is it because [`Texture`][1] widget may go out of sync with other widgets similar to the issue faced by PlatformView (embedded Google Map view, web view) where Flutter has to merge the platform thread and UI thread to ensure the synchronizat

[2020-09-14 21:23] luigi-rosso commented on #278
Hi @liyuqian, I'm not sure about the PlatformView as I haven't experimented with that but it does sound somewhat similar.

When we'd last looked at this we were hoping to be able to allocate an SkSurface, grab its canvas, draw into it, and then blit it back to the screen in the same synchronous rendering op and then keep a reference to it around to re-blit on further frames where it was still vali

[2020-09-15 22:25] normancarcamo opened #280 "Docs/Guide/Tutorial?"
I'm trying hard to implement all the classes as a puzzle to know how the classes work, is there any guide to follow? I would like to pause and blend animations manually from flutter using the controller but I don't have much luck.

[2020-09-16 08:49] umberto-sonnino commented on #280
You can start by taking a look at the [example folder](/2d-inc/Flare-Flutter/tree/stable/example) in the repo. There are a few sample apps that might be a good starting point!

Also, you can find a few articles on [Medium](https://medium.com/rive/) - [here's one](https://medium.com/rive/building-an-interactive-login-screen-with-flare-flutter-749db628bb51) that explains some of the controllers' con

[2020-09-16 12:56] normancarcamo commented on #280
Thank you.

[2020-09-16 12:56] #280 closed

[2020-09-17 15:00] umberto-sonnino commented on #253
Would you mind providing a repro?
I tried running the code from [this flutter issue](https://github.com/flutter/flutter/issues/60767) - which was highlighting the issue back in July - on the latest master and stable, but cubics seem to be drawing correctly now.

[2020-09-17 15:21] nt4f04uNd commented on #253
@umberto-sonnino can you please try and run my animation, not the code from the issue.
I'm sorry, I don't have enough time to make the repro, but could you just run my animation with the given sizes like on the video. If you won't get any artifacts, I will try and make the reproduction.

Thanks in advance for understanding.

[2020-09-18 02:14] jasonch99 commented on #45
I am also getting a similar issue.
Is there any update on this?

[2020-09-18 03:22] dnfield commented on #45
The case that @jasonch99 is talking about is difficult to reproduce consistently.

This assignment should just never happen though, unless the class heirarchy is re-worked. `FlutterFillColor` inherits from `FrareComponent`, which is a superclass of `FlareActor`.

An "easy" fix would be to make it a descendent of `FlareActor`, but I don't know if that's correct.

[2020-09-18 16:16] kekecorp commented on #45
Hi @dnfield and @jasonch99 - Let me check in on this today for both of you with engineering.
-Kelly (Rive CS)

[2020-09-21 14:20] umberto-sonnino commented on #253
I've run your file locally on an iPad Mini with the latest Flutter master, and this is what I see:

![Play](https://i.imgur.com/2ZpWvjq.png)
![Pause](https://i.imgur.com/t64HMWM.png)

There's a slight deformation defect on the bottom oblique line on the Play button. Is that what you've encountered? I couldn't really tell from your videos.

[2020-09-21 14:23] nt4f04uNd commented on #253
@umberto-sonnino re-read my comment and rewatch the video I attached. artifacts occur with only specific small sizes of the animation canvas. constrain it to for example 20 pixels and check what happens

[2020-09-21 14:32] nt4f04uNd commented on #253
@umberto-sonnino how it should look (and looks properly without anti-aliasing) vs how it actually looks with anti-aliasing
<div>
<img src="https://user-images.githubusercontent.com/39104740/93779903-2786d900-fc30-11ea-8005-1b504ba50d5f.png" />
<img src="https://user-images.githubusercontent.com/39104740/93779981-41c0b700-fc30-11ea-802f-2638869919a1.png" />
</div>

[2020-09-21 21:57] jasonch99 commented on #45
@kekecorp, any update on this?

[2020-09-25 07:38] jugalw13 opened #282 "Flare Animation Not Working from rive.app"
Downloaded animation from rive.app and added to assets and ran using FlareActor but it gives a FormatException on latest version.

Debug Console only gives:
[VERBOSE-2:ui_dart_state.cc(177)] Unhandled Exception: Exception: FormatException: Unexpected character (at character 1)

[2020-09-25 07:41] jugalw13 commented on #282
Figured out that I need to export the animation

[2020-09-25 07:41] #282 closed

[2020-09-28 15:10] nt4f04uNd commented on #253
@umberto-sonnino any updates?

[2020-09-30 12:57] remonh87 commented on #274
@sebastianbuechleratcamaelion  I experience the same. What you also can consider is trying to cache the shaders. I observed spectacular results when doing this on startup: https://flutter.dev/docs/perf/rendering/shader . Not super convinced it is a scalable solution but maybe it can be enough to solve your issue

[2020-09-30 13:27] umberto-sonnino commented on #253
@nt4f04uNd I was able to reproduce the issue with the steps you mentioned, but not isolate it yet!
I'm hoping to do that in the next few days

[2020-10-08 18:07] fluttercorner commented on #239
[How to set Background Image to Scaffold in Flutter](https://fluttercorner.com/how-to-set-background-image-to-scaffold-in-flutte/)

[2020-10-13 04:27] mehmetf commented on #45
We are seeing similar stack traces in other apps as well:

[code]

[code]

@luigi-rosso any idea under what conditions these would appear?

[2020-10-13 04:38] luigi-rosso commented on #45
This could happen if an animation is being applied to an artboard that it wasn't created for.

FlareActor usually takes care of maintaining valid animations for the active artboard. However, when using a custom controller it's possible for the controlling widget to change the file being displayed and not change the controller in tandem. The controller could still be applied with the wrong animatio

[2020-10-13 05:27] jasonch99 commented on #45
Thanks for the clarification. I will try using a new FlareControls whenever the file is changed.

[2020-10-14 09:04] zhangyc commented on #277
me too

[2020-10-14 12:25] umberto-sonnino commented on #277
I just ran the snippet you posted, and it seems to be running correctly on my side.
What Flutter version are you using? Are you running the latest Flare-Flutter?

[2020-10-14 23:42] #256 closed

[2020-10-14 23:42] Ahmadre commented on #256
Thanks! It works now :)

[2020-10-19 05:09] nurbek-b commented on #50
══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
The following NoSuchMethodError was thrown building HomePage(dirty, state: _HomePageState#6755f):
The method '*' was called on null.
Receiver: null
Tried calling: *(0.85)

The relevant error-causing widget was:
  HomePage file:///Users/macbookpro/Desktop/agro/lib/screens/home/home_screen.dart:17:5

[2020-10-20 08:27] hamzadevc commented on #77
I was facing the same issue but with this
 Error: The argument type 'Null Function(DateTime, List<dynamic>)' can't be assigned to the parameter type 'void Function(DateTime, List<dynamic>, List<dynamic>)'. - 'DateTime' is from 'dart:core'. - 'List' is from 'dart:core'. onDaySelected: (day, events) {

I checked my code and since the function 'Null Function(DateTime, List<dynamic>)' can't be assigne

[2020-10-22 18:58] luigi-rosso commented on #273
Hey @doppio, yes you can do that! You'd want sizeFromArtboard to be false in this case and set fit to BoxFit.contain. That'll take up the full size of the parent and then scale down whichever side exceeds the boundaries based on the aspect. If you specifically want to fit the width, try setting fit to BoxFit.width instead, but note that the height may bleed if the aspect of the artboard is inverte

[2020-10-25 08:34] ghost opened #284 "FlareActor holds incorrect callback references"
Within my app, I'm calling the same FlareActor twice (through a private stateless widget) but with different callback functions. The first callback calls a null (it loops a loading animation so it's not going use the callback either way) and the second time it's a function that notifies that the 'done' animation is complete.

I've modified my code to provide some helpful print statements (includin

[2020-10-26 07:12] ghost commented on #284
Duplicate of #276

[2020-10-26 07:12] #284 closed, assigned to nobody

[2020-10-26 07:13] ghost commented on #276
Having similar issues. Here's my issue (if it helps): https://github.com/2d-inc/Flare-Flutter/issues/284#issue-728970538

[2020-10-26 12:26] prabhashibuddhima commented on #155
Hi, have you solved the issue? I'm facing the same.

[2020-10-29 23:56] nt4f04uNd commented on #253
@umberto-sonnino will this be fixed? I have an application to release and I will have to do that with this bug if this isn't adressed in the next few days

[2020-10-30 17:52] umberto-sonnino commented on #253
Hey @nt4f04uNd, I've finally isolated the issue, and this might be related to a number of causes: turning on antialiasing, applying a transform with non-uniform scaling, using a big stroke, and rendering the shape in a small space, like your 35x35 container above.

A first workaround you could try is to deform vertices to obtain the same effect, instead of using big stroke values in your animation

[2020-10-30 22:27] nt4f04uNd commented on #253
@umberto-sonnino LOL the solution was so simple you can't even imagine. I just changed stroke join to be rounded, can't believe that worked. That behaviour (with other join options as I had initially) is still a bug I guess, as it shouldn't produce such weird shapes.

![image](https://user-images.githubusercontent.com/39104740/97761955-3eb2c380-1b18-11eb-8f3c-510fd794b4f1.png)

[2020-10-31 03:38] m-amin opened #285 "Flutter Flare animation, How to start and stop animation automatically when it finishes"
I want to apply animation when user clicks on addToFavorite button. So animation starts and finishes. Like in this example
https://stackoverflow.com/questions/64609421/flutter-how-to-play-flare-animation-on-page-when-user-clicks-on-button

[2020-11-01 19:49] nt4f04uNd opened #286 "FlareActor is constantly ticking and requesting for frames when the animation doesn't have duration"
Performance overlay logs shows me persistent ticks. Checkout 'play' and 'pause' animations in opposite to 'play_pause' and 'pause_play', which do not request new frames after they end. I assume that is not implementation related thing, because the rive itself also shows infintite "pause" control and the animation will never end (screenshot)

![image](https://user-images.githubusercontent.com/39104

[2020-11-01 19:53] nt4f04uNd commented on #286
For some reason, I had set those two static animations to be looped. Disabling it fixed the problem, but this thing still must be treated by the actor, as I see it, because it's pointless, but very battery consuming and it's easy to not notice this.

[2020-11-01 20:04] luigi-rosso commented on #286
We don't special case 'pause/stop' conditions like this as there may be other reasons for a user to persistently/loop reset key values. For example, when layering multiple animations. It's up to the user to control this. Perhaps we could introduce some debug visualization making it clear when an artboard/actor is in persistent playback, to help users realize they may have accidentally triggered th

[2020-11-01 20:12] nt4f04uNd commented on #286
Ok, but how do I make just a still animation frame? Because now with still 'play' and 'pause' animations it just disappears for me when I touch the screen in some place. This was why I enabled looping back then.

[2020-11-01 20:15] luigi-rosso commented on #286
Sounds like something else is happening that's causing the widget to not draw at all, or unloading the file. There are samples that show how to pause the animation (see the penguin example) that doesn't exhibit the behavior your are describing. Could you provide sample code?

[2020-11-01 20:33] nt4f04uNd commented on #286
@luigi-rosso

Animation itself https://rive.app/a/nt4f04und/files/flare/play-pause/preview

UPD: wait i'll make a minimum repro in a few minutes

[2020-11-01 20:57] nt4f04uNd commented on #286
@luigi-rosso here it is https://github.com/nt4f04uNd/flare_blink_bug

[2020-11-02 02:43] luigi-rosso commented on #286
Thanks, we're looking into it!

[2020-11-02 15:52] umberto-sonnino commented on #285
One possible solution is to use a Stack in Flutter to overlay things on top. This might be more Flutter-related than Flare-related, though!

[2020-11-02 21:26] luigi-rosso commented on #286
Just a quick update on this, it looks like this may be related to a Flutter bug. It seems to work if you wrap the FlareActor in a ColoredBox with a solid color (like Colors.blue).

So change your AnimatedPlayPauseButtonState's build to do this:
[code]

We're trying to put together a repro without Flare/Rive code in order to have the Flutter team help investigate it further. We're guessing this is

[2020-11-02 21:34] nt4f04uNd commented on #286
@luigi-rosso ok, thanks. In addition I can say that this bug is definitely was before release 1.22, as far as I remember, because that was the version I started with the development of my app in June, where I use this animation. I didn't pay too much attention to this and just enabled looping frames, which is actually a really bad hack to fix this.

[2020-11-03 02:02] luigi-rosso commented on #286
We have a simple repro without Flare/Rive code here: https://gist.github.com/luigi-rosso/4629c3422d8938d7ce0cf7cfcb01547c

In the meantime @nt4f04uNd please set your shapes to use srcOver instead of srcIn BlendMode and things should look correct.

[2020-11-03 22:44] cmoradiaz81 commented on #77
Hi,

I have the same error message, can you please copy your code with the modification?

Thank you very much
This is mine

onDaySelected: (date, events) {
                setState(() {
                  _selectedEvents = events;
                });
              },

[2020-11-04 11:27] hamzadevc commented on #77
Hi @cmoradiaz81 thank you for reaching out, i also saw your email i'm writing the answer here but if you still get the error keep me posted i'll try my best to resolve it.

* HERE'S WHAT YOU NEED TO DO:
replace your code with this and it will work, for explanation see my answer above

 onDaySelected: (date, events, _) {
setState(() {
_selectedEvents = events;
});
},

[2020-11-04 15:39] cmoradiaz81 commented on #77
Thank you very much for your quick response, it works perfectly !!!

Any help please let me know

regards

[2020-11-04 21:13] hamzadevc commented on #77
https://github.com/2d-inc/Flare-Flutter/issues/77#issuecomment-721806298

No issue bro, anytime 💯

[2020-11-12 13:12] #200 closed

[2020-11-19 22:14] nt4f04uNd commented on #286
@luigi-rosso yep, that helped

[2020-11-21 03:12] kovalyovi commented on #180
I've used your way and found out that with many files needed to be pre-cached, it takes really long time and I tried finding a way to speed it up, and I found one! It's a very small modification to your code but that **cuts time twice in production**. For my test, I have 5 `.flr` files that I needed to preload. If I 'chained' `await` functions, it took _**10**_ seconds to preload all of them. In a

[2020-11-22 20:27] nt4f04uNd commented on #286
@luigi-rosso setting to `srcOver` prevents me from updating it's color in a way I did before - just chaning the value. I have to put `ValueKey` for it's parent. Is this a bug or this is intented somehow?

[2020-12-01 06:04] jefflim-google opened #287 "Show some complexity measurement that approximates the cost of displaying a particular flare animation"
Background
=========

We are using flare animations in many portions of Google Pay, and memory consumption and frame rate are a big concern. Right now, there are no clear guidelines for content creators that will give them feedback on the cost of rendering their work.

Request
======

Ideally, there would be some human-digestible real-time feedback that would give artists statistics as they edit t

[2020-12-03 17:40] frsisalima commented on #99
Hi, from the version higher than 1.17 of flutter this has occurred again when loading a new .flr file the occupied memory is not released
Any recommendation? I have tried with all the superior versions and in all there is the problem

[2020-12-04 01:15] dnfield commented on #287
Some low hanging fruit here would probably be anything that results in a call to `canvas.saveLayer`, which will be expensive.

[2020-12-04 12:49] KonradSzymanskiAppTailors opened #288 "How to change gradient color?"
Hi, is there a possibility to change gradient color in runtime?

[2020-12-15 14:43] lukepighetti commented on #235
I wish we had a way to provide a list of paths to pre-cache and have `flare_flutter` handle the rest, even when using the naive `FlareActor` with a path. We could pre-cache them at any time and dispose of them at any time. But this is a minor nit because the functionality is there and it works well.

[2021-01-11 00:39] adarsh-technocrat opened #291 "Migrate to null safety"
### **Description**

- Migrate to sound null safety
- Bump up package version

[2021-01-16 12:55] itsJoKr opened #292 "Add debug mode"
Currently, it is very hard to debug when something fails. Even simple stuff, like entering the wrong animation-name, it should not fail silently but give the developer some info.

Like some other packages, I suggest either singleton or field where the developer can set debug mode:
[code]

And with this set, the console will be filled with useful data like:
[code]

Does the flare have something lik

[2021-02-07 06:39] #209 closed

[2021-02-10 06:23] nt4f04uNd commented on #126
close it

[2021-02-14 16:02] Puspharaj commented on #250
Bump!

Any update on this?. Look like almost a year to resolve this?

[2021-02-20 12:36] devplanet-dp commented on #244
Any solution?

[2021-03-02 22:43] nilsreichardt commented on #291
Here are some helpful resources:
* [How to migrate Dart packages to null safety](https://youtu.be/eBr5tlumwlg)
* [Announcing Dart null safety beta](https://medium.com/dartlang/announcing-dart-null-safety-beta-87610fee6730)

[2021-03-03 20:08] NarHakobyan commented on #291
Is this library depreciated?

[2021-03-03 22:01] talamaska commented on #291
Yes, please migrate i have animations that are still impossible to make on rive2 like jelly bones and other bunch of things which are impossible to make in rive 2 for now

[2021-03-05 00:58] marcos930807 commented on #291
Is there a roadmap, timeline, etc, for when will this be available?? i have a dependency on this package.

[2021-03-06 13:14] ir4ever commented on #291
waiting for it

[2021-03-06 13:16] NarHakobyan commented on #291
@luigi-rosso do you have plans to migrate to null-safety?

[2021-03-07 03:49] deimantasa opened #294 "Migration to Null-Safety"
Hello team,

Is there any ETA for migration to be done?

Cheers

[2021-03-10 12:11] deimantasa commented on #294
Seems that something is in works https://github.com/2d-inc/Flare-Flutter/pull/293

[2021-03-11 16:53] alanlanglois commented on #291
Sounds like: https://github.com/rive-app/rive-flutter

[2021-03-11 19:16] mjohnsullivan commented on #294
Our plan is to work on this in earnest next week to get a release out shortly.

[2021-03-11 19:17] mjohnsullivan commented on #291
We're going to focus on null safety migration for this package next week to get a release out shortly.

[2021-03-11 19:18] mjohnsullivan commented on #294
Duplicate of #291

[2021-03-11 19:18] #294 closed, assigned to nobody

[2021-03-13 00:58] #291 closed, assigned to mjohnsullivan, luigi-rosso

[2021-03-13 01:11] luigi-rosso commented on #292
That's an interesting idea! We don't currently have something like this planned. We're working on the next iteration of Flare over at https://github.com/rive-app/rive. I'd encourage you to try that out and perhaps make this request there!

[2021-03-13 01:11] #292 closed, assigned to nobody

[2021-03-16 13:11] apteryxlabs opened #296 "Request for Clarification: Flare-Flutter vs Rive Flutter Runtime Use Cases"
Could someone clarify whether this (Flare-Flutter) or the [Rive Flutter runtime](https://github.com/rive-app/rive-flutter) are intended for use with the .riv files created by [Rive.app](https://rive.app/)? There is no obvious delineation between the two on this or the Rive website, and various online tutorials offer conflicting advice.

Specifically, which of the two libraries (or both) will be ma

[2021-03-16 13:25] umberto-sonnino commented on #296
Hi @apteryxlabs!
[Rive 2](http://rive.app) will export `.riv` files which can be used with the [Rive Flutter runtime](https://github.com/rive-app/rive-flutter). This is what we recommend using going forward.

This runtime is compatible with `.flr` files that can be exported from [Rive 1](https://flare.rive.app). We've updated the runtime to null-safety last week, which is currently in pre-release.

[2021-03-16 13:25] #296 closed, assigned to nobody

[2021-03-16 15:58] apteryxlabs commented on #296
Great! @umberto-sonnino can you confirm whether something like the FlareActor abstraction will eventually be integrated with the Rive 2 runtime?

[2021-03-16 16:12] luigi-rosso commented on #296
Hi @apteryxlabs, regarding your first question about maintaining both: We will continue to support Flare for the Flutter community but primarily only for breaking issues with Flutter itself (like nnbd), or egregious bugs. The intention is very much to help the community migrate over to Rive as both the editor and new runtimes are what we're focusing our efforts on with regards to new features.

Wi

[2021-03-16 16:18] apteryxlabs commented on #296
You've hit the nail on the head - thank you! Will use Rive_Flutter in my work going forward. Thanks!

[2021-03-17 11:47] FredslundMagnus opened #297 "LateInitializationError"
I got following error using:
flare_flutter: ^3.0.0-nullsafety.0

════════ Exception caught by rendering library ═════════════════════════════════
The following LateError was thrown during paint():
LateInitializationError: Field '_setupAABB@322245341' has not been initialized.

The relevant error-causing widget was
FlareActor
lib\card.dart:126
When the exception was thrown, this was the stack
0

[2021-03-17 16:08] luigi-rosso commented on #297
Hey @FredslundMagnus thanks for reporing this. Could you post the file here or send it to luigi@rive.app if it's a private file?

[2021-03-17 16:20] FredslundMagnus commented on #297
Hey @luigi-rosso  I have sent the file to your mail, if a link is good enough then:
https://flare.rive.app/a/MagnusF/files/flare/timecol

[2021-03-17 19:41] uttufy commented on #297
I am having the same issue

[2021-03-17 22:45] luigi-rosso commented on #297
Please give ```flare_flutter: 3.0.0-nullsafety.1``` a shot, the issue should be resolved!

[2021-03-18 05:00] uttufy commented on #297
This resolved my issue. Thank you 👍

[2021-03-18 17:57] luigi-rosso commented on #297
Glad to hear it! Thanks for reporting.

[2021-03-18 17:57] #297 closed, assigned to nobody

[2021-03-19 23:14] workerbee22 opened #298 "Null Safety for flare_dart"
Just wondering if and when we might get a Null Safe version ?

[2021-03-20 16:37] umberto-sonnino commented on #298
If you want to try it out, we have a null-safety version in prerelease:
[code]

[2021-03-20 21:58] workerbee22 commented on #298
Actually I'm after Null Safety for `flare_dart` package (not flare_flutter).

[2021-03-31 18:40] danilofuchs opened #300 "Placeholder widget while animation is loading"
When using `rootBundle`, the animation may take a while to load.

`CachedImageNetwork` library provides a `placeholder` and `errorWidget` builders as arguments.

Also, when switching between the placeholder and the actual image, it does a nice fade.

Perhaps Flare should do the same. At least adding a fade between a transparent widget and the loaded animation.

[2021-04-02 19:57] nt4f04uNd opened #301 "3.0.0 antialiasing no longer working"
you can use this app as reproducible https://github.com/nt4f04uNd/flare_blink_bug

(open in new window to clearly see there's no antialiasing)

| 2.0.6 | 3.0.0 |
| - | - |
| ![2 0 6](https://user-images.githubusercontent.com/39104740/113449520-b5752500-9406-11eb-8020-1e057903bae2.png) | ![3 0 0](https://user-images.githubusercontent.com/39104740/113449524-b60dbb80-9406-11eb-9871-9aa088472fed.png)

[2021-04-09 14:19] umberto-sonnino commented on #301
What device are you repro'ing this on?
I tried running the example on an iPad Mini, which had problems with this in the past, and it's rendering the shape with antialiasing correctly.

[2021-04-11 02:16] nt4f04uNd commented on #301
android 9 redmi note 5 and android 11 emulator

[2021-04-11 14:19] mario202k opened #302 "IK Constraints not working"
Before null safety, IK Constraint works, now my characters are like dismembered. I check on Flare, it's ok, but not on my app.
Am I alone on this issue?

[2021-04-12 19:50] ChristianKleineidam opened #303 "Difference between flare-flutter and rive-flutter"
It looks to me like both packages are maintained and by the same authors. It would be great if the descriptions of them would provide guidance about which of the two to use.

[2021-04-13 08:37] umberto-sonnino commented on #303
Hi @ChristianKleineidam! Both packages are developed by our team, that is correct, but they are used with two different products:
- Flare-Flutter for [Rive 1](https://flare.rive.app)
- rive-flutter for [Rive 2](https://rive.app)

We talked about a few more nuances in #296

[2021-04-13 20:57] ChristianKleineidam commented on #303
In the other issue you say "The intention is very much to help the community migrate over to Rive as both the editor and new runtimes are what we're focusing our efforts on with regards to new features." If that's the case it would be helpful to communicate the intention of people to migrate to Rive on the flare-flutter package page.

[2021-04-23 13:22] umberto-sonnino commented on #303
We updated the README with those instructions..!

[2021-04-23 13:37] ChristianKleineidam commented on #303
Great :)

[2021-04-23 13:37] #303 closed, assigned to nobody

[2021-04-23 13:47] umberto-sonnino commented on #301
I've ran your file on the latest flutter master (`Flutter version 2.2.0-11.0.pre.247`) on an Android 11 emulator, and this is a zoomed in screenshot of the pause state:
<img src="https://i.imgur.com/184xDGp.png" height=400 />

Are you still seeing the issue?

[2021-04-24 22:45] nt4f04uNd commented on #301
Yes, both on device and emulator

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

[2021-05-07 15:03] ghost opened #305 "FlutterActorImage not visible FlareActor"
flare_flutter version: 2.0.6

Issue description: when opening the screen the FlutterActor loads and every thing works fine, but the second time I open the screen (and the FlutterActor is cached) I have missing parts (the actor is created using 4 different parts).

P.s this is also happening when I remove the FlareCacheBuilder widget and use only the FlareActor widget

Loading each part from the im

[2021-05-19 22:52] gnudles commented on #301
Hi, for me it happens on linux device

[2021-05-19 22:53] gnudles commented on #298
There is no longer flare_dart. All the code was merged with flare_flutter

[2021-05-21 13:54] gnudles commented on #301
I think the problem comes from the following line:
https://github.com/2d-inc/Flare-Flutter/blob/d3cc19d8827f9ddd074766271b651a8197ee8fea/flare_flutter/lib/flare.dart#L205

[2021-06-11 09:49] Henrik-glt commented on #301
Any progress? Flare/Rive 1 animations look hideous using 3.0.0 or later.
This is very unfortunate since 2.0.6 and earlier does not support null safety.

[2021-06-15 06:38] Henrik-glt commented on #301
I've crated a [PR](https://github.com/2d-inc/Flare-Flutter/pull/308).
As @gnudles said, _antialias in FlutterActorDrawable, row 206, should default to true.
Then enabling and disabling antialias works fine.

[2021-07-14 04:12] azhansy commented on #297
version:3.0.0-nullsafety.1、3.0.1，there is this problem：
---------------------------------------------
[ERROR:flutter/shell/common/shell.cc(93)] Dart Unhandled Exception: Exception: LateInitializationError: Field '_paint@2346459774' has not been initialized., stack trace: #0      FlutterActorImage._paint (package:flare_flutter/flare.dart)
E/flutter (27275): #1      FlutterActorImage.onBlendModeChan

[2021-07-14 05:05] azhansy commented on #297
My flare file size more than 10MB，maybe this is the cause of the problem?

[2021-07-16 13:47] nizwar opened #310 "Clear Memory after finish an animation"
My application have lots of animation works, because of this the memory usage stack up,
is there any way to clear memories that already used by Flare, its happened like it still consume the memory even the animation finished or disposing the screen or widget... this going more wildly when i rejoin/restart the screen/widget, somehow the memory stack up more and more

![Screen Shot 2021-07-16 at 20

[2021-07-16 19:59] luigi-rosso commented on #310
The memory usage is due to Skia's memory cache, it should free up some 15 seconds after the object is no longer drawn. This is built into Flutter.  There isn't much Flare can do to change this.

[2021-07-17 09:16] nizwar commented on #310
In my case, the memory doesn't free up after 15 seconds, even i dispose the screen/widget that contain flare inside... if its not possible on flare side,  i'll open issues on flutter development then, thanks for you response

[2021-07-17 09:16] #310 closed, assigned to nobody

[2021-07-23 20:51] nizwar opened #311 "Can't load FlareActor.bundle on Android"
I've store all my animation on getTemporaryDirectory (because its downloaded from server),
so i write something like this

[code]
The animation didn't load, on loadFromBundle it return "Unable to load asset : PATH"
Its working fine on IOS, please let me know how to get through this

thanks in advance!

[2021-07-25 15:50] davidgalarza commented on #301
Any update?? I'm facing the same trouble

[2021-07-29 14:07] mattsolle commented on #301
Would love for this to be merged in.

[2021-07-29 14:40] tsinis commented on #301
You can use PR's branch as git dependency until it's merged...

[2021-07-29 14:48] luigi-rosso commented on #301
Sorry for the delay here. Looking into this today.

[2021-07-29 21:26] luigi-rosso commented on #302
I gave this a try with one of my files with IK and everything seems to be working. Could you send me a link to the file that's not working?

[2021-07-29 21:41] luigi-rosso commented on #301
Version 3.0.2 fixes the issue. Thanks for the patience!

[2021-07-29 21:41] #301 closed, assigned to nobody

[2021-07-29 21:42] luigi-rosso commented on #311
Do you have any spaces in your file path? I've noticed that Android sometimes has trouble with this.

[2021-08-02 13:27] nizwar commented on #311
Yeah its happened with Android, Flare bundle and asset only work with internal resources, you can't really access flare file outside

but at this moment here is my simple way to get through this
[code]

[2021-08-16 10:19] tnaseem commented on #297
I'm having the same issue as @azhansy. I've just updated my app from Flutter 1.x.x to 2.x.x and using flare_flutter 3.0.2.

Everything was working fine under Flutter 1.x.x, but since upgrading my code to work with 2.2.3, this is the only issue I'm experiencing. The error output is:

[code]

I created a helper class for my Flare/Rive animations as below:

[code]

Basically, on initialisation, I cac

[2021-08-16 11:53] tnaseem opened #312 "Unhandled Exception: Exception: LateInitializationError: Field '_paint@235459774' has not been initialized"
I'm having the same issue as @azhansy [here on this closed issue](https://github.com/2d-inc/Flare-Flutter/issues/297#issuecomment-879571239).

I've just updated my app from Flutter 1.x.x to 2.x.x and using flare_flutter 3.0.2.

Everything was working fine under Flutter 1.x.x, but since upgrading my code to work with 2.2.3, this is the only problem I'm experiencing in my app. The error output is:

[2021-08-16 18:45] #311 closed, assigned to nobody

[2021-09-22 09:35] CarGuo commented on #312
LateInitializationError

flutter sdk 2.5.1

[code]

[2021-09-22 10:15] CarGuo commented on #312
#### In  `onBlendModeChanged` Function, `_paint`  never initialized  when  `ActorDrawable read -> set blendModeId` ，but  `_paint` sound `late ui.Paint`

[code]

<img width="592" alt="image" src="https://user-images.githubusercontent.com/10770362/134443606-7079bdaf-01a7-4924-9574-36e7cf396e84.png">

[2021-09-22 10:25] CarGuo opened #313 "LateInitializationError: Field '_paint@xxxxxx' has not been initialized"
[code]

#### In  `onBlendModeChanged` Function, `_paint`  never initialized  when  `ActorDrawable read -> set blendModeId` ，but  `_paint` sound `late ui.Paint`

[code]

<img width="592" alt="image" src="https://user-images.githubusercontent.com/10770362/134443606-7079bdaf-01a7-4924-9574-36e7cf396e84.png">

[2021-09-27 22:01] alnitak commented on #256
So, how did you solved this? :)

[2021-10-04 08:30] jamesc12323 opened #315 "LateInitializationError: Field '_setupAABB@43245341' has not been initialized"

[2021-10-04 08:31] jamesc12323 commented on #315
The errors:

The following LateError was thrown during a scheduler callback:
LateInitializationError: Field '_rateAnimation@46307606' has not been initialized.

When the exception was thrown, this was the stack:
#0      FlareRateController._rateAnimation (package:joran_app/Screens/ChatModule/ChatRateUserScreen/components/FlareController.dart)
#1      FlareRateController.advance (package:joran_app/

[2021-10-12 07:36] azhansy commented on #313
Thank you very much, this also solved my problem

[2021-10-19 11:02] mikeesouth commented on #302
@mario202k I have the same problem after upgrading to null safety versions of flare_flutter (3.0+). Did you find a solution?

[2021-11-28 11:34] hamidbir commented on #250
I had the same Issue:
I used the following command to run:
[code]
But the photos I received from the server in my project had trouble displaying.
So I converted all the photos (png) in the flr file to SVG, re-created the flr file, and this time I run the project with the following command and it worked fine.

[code]

[Web renderers](https://docs.flutter.dev/development/tools/web-renderers)

[2021-12-25 09:52] kirimi commented on #313
Please, release this fix to pub.

I just migrated my app to nullsafety, but old animations don't work )

[code]

[2022-01-03 23:52] pattobrien commented on #302
@mikeesouth  @mario202k  have either of you found a solution yet? just ran into this issue while trying to use several different files with IK and after upgrading to the null safety versions, and certain characters have their limbs moving off screen.

@luigi-rosso if you'd be able to take a look, I could send you a file. please let me know, thank you.

Full error stack logs are below:

[code]

[2022-01-04 14:32] mikeesouth commented on #302
@pattobrien sorry, I didn't find any (good) solution to this. I imported my model into Rive, fixed some problems that occured and migrated to the Rive packages for Flutter (rive instead of flare_flutter iirc). IK Constraints works for me this way but I couldn't get it to work with the Flare file / flare libs.

[2022-01-15 14:09] Kbyo2002 commented on #237
Hi!!, thanks. I didn't know that and I was finding the solution

[2022-05-13 17:07] ciriousjoker opened #316 "Flutter 2.10 & 3.0 throw warnings during compilation"
Example:

[code]

now becomes (notice the missing `!`):

[code]

[2022-05-15 22:42] mdpe-ir commented on #316
check this https://github.com/mdpe-ir/Flare-Flutter#fix-issues-in-flutter-3

[2022-05-20 16:40] emmaweberyd commented on #316
yes please fix 🙏

[2022-05-23 12:42] ozz-rjq commented on #316
same issue

[2022-05-29 12:19] robertoltrocha opened #319 "Warning: Operand of null-aware operation '?.' has type 'SchedulerBinding' which excludes null."
Hi,

After upgrade flutter to 3.0.1 I have had these warnings.

[code]

[2022-05-29 16:32] emreedgu commented on #319
same here

[2022-06-09 07:39] binSaed commented on #319
[code]

[2022-06-27 07:01] dackArrogant opened #322 "update"
../../../../../Documents/flutter/.pub-cache/hosted/pub.flutter-io.cn/flare_flutter-3.0.2/lib/flare_render_box.dart:167:26: Warning: Operand of null-aware operation '?.' has type 'SchedulerBinding' which excludes null.
     - 'SchedulerBinding' is from 'package:flutter/src/scheduler/binding.dart' ('../../../../../Documents/flutter/packages/flutter/lib/src/scheduler/binding.dart').
            Sched

[2022-06-27 07:47] tsinis commented on #322
It seems like this package is not maintained anymore, you will probably have to move to Rive 2 soon. Otherwise, you can use it [like that](https://github.com/2d-inc/Flare-Flutter/issues/319#issuecomment-1150780023). Basically provide dependency from the [update PR](https://github.com/2d-inc/Flare-Flutter/pull/320).

[2022-06-27 08:47] gybin02 commented on #319
same here

[2022-06-27 08:47] gybin02 commented on #319
../../.pub-cache/hosted/pub.flutter-io.cn/flare_flutter-3.0.2/lib/flare_render_box.dart:167:26: Warning: Operand of null-aware operation '?.' has type 'SchedulerBinding' which excludes null.
 - 'SchedulerBinding' is from 'package:flutter/src/scheduler/binding.dart' ('../../flutter/packages/flutter/lib/src/scheduler/binding.dart').
        SchedulerBinding.instance?.cancelFrameCallbackWithId(_frame

[2022-07-30 19:52] p4-k4 commented on #244
1 year later...

[2022-08-17 10:25] Junesui opened #323 "Flutter3 Error"
flare_flutter-3.0.2/lib/flare_render_box.dart:167:26: Warning: Operand of null-aware operation '?.' has type 'SchedulerBinding' which excludes null.

[2022-08-17 10:32] tsinis commented on #323
Hey @Junesui, seems like this package is not maintained anymore, you will probably have to move to Rive 2 soon. Otherwise, you can use it [like that](https://github.com/2d-inc/Flare-Flutter/issues/319#issuecomment-1150780023). Basically provide dependency from the [update PR](https://github.com/2d-inc/Flare-Flutter/pull/320).

[2022-09-29 07:54] wasabeef commented on #171
@MSchmack @luigi-rosso
Thank you for your PR. I released v5.0.1. The version includes bug fix.

[2022-10-02 18:08] j3g commented on #323
agreed. but the issue some of us are having is other projects like cool_alert depend on this project. so it is not all that straight forward to fix. thank you for sharing a link to a fork that has fixed this. I added it to my
`dependency_overrides:
  flare_flutter:
      git:
        url: https://github.com/tsinis/Flare-Flutter
        path: flare_flutter/
`

[2022-10-06 10:34] #323 closed, assigned to nobody